<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.integration.file.FileReadingMessageSource" level="WARN"/>
    <logger name="org.springframework.boot.actuate.audit.listener.AuditListener" level="WARN"/>
    <logger name="br.gov.servicos" level="TRACE"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
