<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %magenta(%X{req.ticket:-00000000-0000-0000-0000-000000000000}) %highlight(%-5level) [%yellow(%thread)] %cyan(%logger{30}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.integration.file.FileReadingMessageSource" level="WARN"/>
    <logger name="org.springframework.boot.actuate.audit.listener.AuditListener" level="WARN"/>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>
    <logger name="br.gov.servicos" level="TRACE"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
