<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/print.css" media="print"/>
</head>
<body th:fragment="ponte(ponte)">
<th:block th:if="${ponte != null}">
    <h2 th:text="${ponte.titulo}">Titulo da aplicação</h2>
    <form id="ponte" action="ponte/acao" method="post">
        <th:block th:if="${!ponte.componentes.isEmpty()}" th:each="item, row : ${ponte.componentes}">
            <th:block th:switch="${item.type}">
                <th:block th:case="'input'">
                    <th:block th:replace="ponte/componentes/input :: input(${item})">
                        Componente input
                    </th:block>
                </th:block>
                <th:block th:case="'label'">
                    <th:block th:replace="ponte/componentes/label :: label(${item})">
                        Componente label
                    </th:block>
                </th:block>
                <th:block th:case="'button'">
                    <th:block th:replace="ponte/componentes/button :: button(${item})">
                        Componente button
                    </th:block>
                </th:block>
                <th:block th:case="'chave-valor'">
                    <th:block th:replace="ponte/componentes/chaveValor :: chaveValor(${item})">
                        Componente chave valor
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:if="${row.index} == 14"><a href="/assets/darf.pdf" target="_blank">Baixe a DARF</a></th:block>
            <th:block th:if="${row.index} == 28"><a href="/assets/darf.pdf" target="_blank">Baixe a DARF</a></th:block>
            <th:block th:if="${row.index} == 42"><a href="/assets/darf.pdf" target="_blank">Baixe a DARF</a></th:block>
        </th:block>
        <input type="hidden" name="appId" th:value="${ponte.appId}"/>
    </form>
</th:block>
</body>
</html>

