<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div id="barra-opiniao" xmlns:th="http://www.thymeleaf.org" th:unless="${#httpServletRequest.requestURI.startsWith('/opiniao')}">
    <p>
        <span class="no-mobile">Este site está em constante evolução.</span>
        <a th:href="@{/opiniao(url=${#httpServletRequest.requestURI}, ticket=${#httpServletRequest.getAttribute('req.ticket').substring(24)}, busca=${#httpServletRequest.queryString})}">
            Dê a sua opinião e torne o Guia ainda melhor!
        </a>
    </p>
</div>

</body>
</html>
