<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

<div id="barra-brasil" style="background-color: #f1f1f1; height: 33px;">
    <ul id="menu-barra-temp" style="list-style:none; padding: 6px 0 0 10px;">
        <li style="display:inline; padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
			<a href="http://brasil.gov.br" style="font-family:open_sansbold;sans,sans-serif; font-size:12px; text-decoration:none;">Portal do Governo Brasileiro</a>
		</li>
        <li>
			<a style="font-family:open_sansbold;sans,sans-serif; font-size:12px; text-decoration:none;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a>
		</li>
    </ul>
</div>

</body>
</html>
