<div id="portal-searchbox" th:class="${#httpServletRequest.requestURI} == '/' ? 'hidden'">
    <form action="/busca">
        <fieldset>
            <legend class="hidden">Buscar</legend>
            <label class="hidden" for="buscar">Buscar</label>

            <input type="text" size="18" title="Buscar no portal" placeholder="Buscar"
                   class="searchField" name="q" id="buscar"
                   th:value="${(param.q?:{''})[0]}" />
            <button class="searchButton">
                <i class="fa fa-search"></i> <span class="hidden">Buscar</span>
            </button>
        </fieldset>
    </form>

    <script type="application/ld+json" th:inline="text">
    {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "[[${#httpServletRequest.requestURL.toString().replaceAll('^(http://(.*?))/(.*)$', '$1')}]]",
       "potentialAction": {
         "@type": "SearchAction",
         "target": "[[${#httpServletRequest.requestURL.toString().replaceAll('^(http://(.*?))/(.*)$', '$1')}]]/search?q={search_term_string}",
         "query-input": "required name=search_term_string"
       }
    }
    </script>
</div>
