<div id="portal-searchbox" th:unless="${#httpServletRequest.requestURI} == '/'">
    <form action="/busca">
        <fieldset class="LSBox">
            <legend class="hiddenStructure">Buscar</legend>
            <label class="hiddenStructure" for="buscar">Buscar</label>

            <input type="text" size="18" title="Buscar no portal" placeholder="Buscar"
                   class="searchField" name="q" id="buscar"
                   th:value="${(param.q?:{''})[0]}" />
            <input class="searchButton" type="submit" value="Buscar"/>
        </fieldset>
    </form>
</div>