<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:unless="${servico.canaisDePrestacao.isEmpty()}">

    <h3>Canais</h3>

    <p th:each="canalDePrestacao : ${servico.canaisDePrestacao}">
        <h4 th:text="${canalDePrestacao.tipo}"></h4>

        <th:block th:if="${not #strings.isEmpty(canalDePrestacao.url)}">
            <a th:href="${canalDePrestacao.url}" th:text="${canalDePrestacao.descricao}"></a>
        </th:block>

        <th:block th:if="${#strings.isEmpty(canalDePrestacao.url)}">
            <span th:text="${canalDePrestacao.descricao}"></span>
        </th:block>
    </p>

</th:block>

</body>
</html>
