<div id="capacho">

    <dl>
        <dt>Informações</dt>
        <dd>
            <a href="/conteudo/perguntas-frequentes">Perguntas frequentes</a>
        </dd>
    </dl>

    <dl>
        <dt>Seções</dt>

        <dd th:each="publico : ${@publicoAlvoRepository.findAll()}">
            <a th:href="@{/publico-alvo/{id}(id=${publico.id})}">
                <span th:text="${publico.titulo}">Título do Público Alvo</span>
            </a>
        </dd>

        <dd>
            <a href="/servicos">Todos os serviços</a>
        </dd>
        <dd>
            <a href="/orgaos">Todos os órgãos</a>
        </dd>
    </dl>

    <dl>
        <dt>Navegação</dt>
        <dd>
            <a href="/conteudo/acessibilidade">Acessibilidade</a>
        </dd>
        <dd>
            <a href="/conteudo/mapa-do-site">Mapa do Site</a>
        </dd>
    </dl>



</div>
