<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div id="capacho">
    <dl>
        <dt>Informações</dt>
        <dd>
            <a href="/pagina-estatica/perguntas-frequentes">Perguntas Frequentes</a>
        </dd>
        <dd>
            <a href="http://servicosgovbr.github.io">Para Desenvolvedores</a>
        </dd>
    </dl>
    <dl>
        <dt>Seções</dt>
        <dd th:each="segmento : ${@segmentoDaSociedadeRepository.findAll()}">
            <a th:href="@{/publico-alvo/{id}(id=${segmento.id})}">
                <span th:text="${segmento.value}">Título do Público Alvo</span>
            </a>
        </dd>
        <dd>
            <a href="/servicos">Todos os Serviços</a>
        </dd>
        <dd>
            <a href="/orgaos">Todos os Órgãos</a>
        </dd>
    </dl>
    <dl>
        <dt>Navegação</dt>
        <dd>
            <a href="/pagina-estatica/acessibilidade">Acessibilidade</a>
        </dd>
        <dd>
            <a href="/pagina-estatica/mapa-do-site">Mapa do Site</a>
        </dd>
    </dl>
    <dl>
        <dt>Editor de Serviços</dt>
        <dd>
            <a href="/editar">Para Servidores</a>
        </dd>
        <dd>
            <a href="/editar">Para Cidadãos</a>
        </dd>
    </dl>
</div>
</body>
</html>
