<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<dl class="nav-tree">
    <dt>
        Categorias
        <i class="fa fa-chevron-up"></i>
    </dt>

    <dd>
        <ul>
            <li th:each="linhaDaVida : ${@linhaDaVidaRepository.findAll()}">
                <a th:href="@{/linha-da-vida/{id}(id=${linhaDaVida.id})}">
                    <span th:text="${linhaDaVida.titulo}">Título da Linha da Vida</span>
                </a>
            </li>
        </ul>
    </dd>
</dl>

</body>
</html>
