<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<aside id="navegacao">
    <nav>
        <div layout:fragment="menu-contexto"></div>
        <div th:replace="fragments/categorias :: .nav-tree"></div>
        <div th:replace="fragments/publicos-alvo :: .nav-tree"></div>
        <div th:replace="fragments/outras-navegacoes :: .nav-tree"></div>
    </nav>
</aside>

</body>
</html>
