<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="tile tile-default destaque">
    <h3 class="titulo-destaque">
        <a th:href="@{/servico/{id}?pk_campaign=destaque(id=${servico.id})}" th:text="${#strings.abbreviate(@conteudoParser.textoPuro(servico.nome), 50)}">
           Título do serviço
        </a>
    </h3>

    <p th:text="${#strings.abbreviate(@conteudoParser.textoPuro(servico.descricao), 120)}">
        Descrição do serviço
    </p>
</div>

</body>
</html>