<!DOCTYPE html>
<html>
<head>
    <title>Header Guia de Serviços</title>
</head>

<body>

<div id="header" role="banner" th:fragment="header">
    <div id="DIV_1">
        <div id="DIV_2">
            <ul id="UL_3">
                <li id="LI_4">
                    <a accesskey="1" href="#acontent" id="A_5">Ir para o conteúdo <span id="SPAN_6">1</span></a>
                </li>
                <li id="LI_7">
                    <a accesskey="2" href="#anavigation" id="A_8">Ir para o menu <span id="SPAN_9">2</span></a>
                </li>
                <li id="LI_10">
                    <a accesskey="3" href="#SearchableText" id="A_11">Ir para a busca <span id="SPAN_12">3</span></a>
                </li>
                <li id="LI_13">
                    <a accesskey="4" href="#afooter" id="A_14">Ir para o rodapé <span id="SPAN_15">4</span></a>
                </li>
            </ul>
            <ul id="UL_16">
                <li id="LI_17">
                    <a href="http://www.brasil.gov.br/acessibilidade" title="Acessibilidade" accesskey="5" id="A_18">Acessibilidade</a>
                </li>
                <li id="LI_19">
                    <a href="#" title="Alto Contraste" accesskey="6" id="A_20">Alto Contraste</a>
                </li>
                <li id="LI_21">
                    <a href="http://www.brasil.gov.br/mapadosite" title="Mapa do Site" accesskey="7" id="A_22">Mapa do
                        Site</a>
                </li>
            </ul>
            <div id="DIV_23">
                <h1 id="H1_26">
                    Guia de Serviços
                </h1><span id="SPAN_27"></span>
            </div>
            <div id="DIV_28">
                <form id="FORM_29" action="/busca" method="get">
                    <fieldset id="FIELDSET_30">
                        <legend id="LEGEND_31">
                            Buscar no portal
                        </legend>
                        <label for="nolivesearchGadget" id="LABEL_32">
                            Buscar no portal
                        </label>
                        <input name="q" type="text" size="18" placeholder="Buscar no portal" id="INPUT_33"/>
                        <input type="submit" value="Buscar no portal" id="INPUT_34"/>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="DIV_47">
            <ul id="UL_48">
                <li id="LI_49">
                    <a href="http://www.brasil.gov.br/servicos/perguntas-frequentes-1" title="Perguntas frequentes"
                       id="A_50">Perguntas frequentes</a>
                </li>
                <li id="LI_51">
                    <a href="http://www.brasil.gov.br/servicos/fale-com-o-governo" title="Fale com o Governo" id="A_52">Fale
                        com o Governo</a>
                </li>
                <li id="LI_53">
                    <a href="http://www.brasil.gov.br/servicos/fale-com-a-presidenta" title="Fale com a Presidenta"
                       id="A_54">Fale com a Presidenta</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>