<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<header id="header" role="banner">
    <div id="topo">
        <ul th:replace="fragments/acessibilidade :: #acessibilidade"></ul>
        <ul th:replace="fragments/atalhos-teclado :: #portal-siteactions"></ul>
        <div th:replace="fragments/logo :: #logo"></div>
        <div th:replace="fragments/busca :: #portal-searchbox"></div>
    </div>
    <div th:replace="fragments/busca-principal :: #busca-principal"></div>
</header>

</body>
</html>
