<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<dl class="nav-tree no-mobile no-tablet">
    <dt>
        Mais informações
        <i class="fa fa-chevron-up"></i>
    </dt>

    <dd>
        <ul>
            <li th:each="area : ${servico.areasDeInteresse}">
                <a th:href="@{/area-de-interesse/{id}(id=${area.id})}">
                    <span th:text="${area.value}">Título da Linha da Vida</span>
                </a>
            </li>
            <li th:if="${servico.orgao != null}">
                <a th:href="@{/orgao/{id}(id=${servico.orgao.id})}"
                   th:text="${servico.orgao.nome}">
                    Órgão
                </a>
            </li>
        </ul>
    </dd>
</dl>

</body>
</html>
