<dl class="portlet portletNavigationTree">
    <dt class="portletHeader">
        Mais informações <i class="fa fa-chevron-down"></i>
    </dt>

    <dd>
        <ul class="navTree navTreeLevel0">
            <li th:each="linhaDaVida : ${servico.linhasDaVida}">
                <a th:href="@{/linha-da-vida/{id}(id=${linhaDaVida.id})}">
                    <span th:text="${linhaDaVida.titulo}">Título da Linha da Vida</span>
                </a>
            </li>
            <li th:if="${servico.responsavel}">
                <a th:href="@{/orgao/{id}(id=${servico.responsavel.id})}"
                   th:text="${servico.responsavel.nome}">
                    Órgão Responsavel
                </a>
            </li>
            <li th:if="${servico.prestador} and ${servico.prestador.id != servico.responsavel.id}">
                <a th:href="@{/orgao/{id}(id=${servico.prestador.id})}"
                   th:text="${servico.prestador.nome}">
                    Órgão Responsavel
                </a>
            </li>
        </ul>
    </dd>
</dl>
