<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<dl class="nav-tree no-mobile no-tablet">
    <dt>
        Mais informações
        <i class="fa fa-chevron-up"></i>
    </dt>

    <dd>
        <ul>
            <li th:each="linhaDaVida : ${servico.eventosDaLinhaDaVida}">
                <a th:href="@{/linha-da-vida/{id}(id=${linhaDaVida.id})}">
                    <span th:text="${linhaDaVida.titulo}">Título da Linha da Vida</span>
                </a>
            </li>
            <li th:if="${servico.orgao}">
                <a th:href="@{/orgao/{id}(id=${servico.orgao.id})}"
                   th:text="${servico.orgao.nome}">
                    Órgão
                </a>
            </li>
        </ul>
    </dd>
</dl>

</body>
</html>
