<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div id="logo">
    <img class="qr-code print-only" width="200" height="200"
         th:src="@{https://chart.googleapis.com/chart?cht=qr&amp;chs=200x200&amp;choe=UTF-8&amp;chl={link}(link=${#httpServletRequest.requestURL + '?pk_campaign=qr'})}" alt="qr-code para impressão da página"/>

    <a id="portal-logo" href="/?pk_campaign=logo">
        <h1 id="portal-title">Portal de Serviços</h1>
        <span id="portal-description">Governo Federal</span>
    </a>
</div>

</body>
</html>
