<div id="feedback-simples" class="row">
    <div class="cell width-16 position-0">
        <a href="javascript:void(0)">Gostaria de nos ajudar fornecendo seu Feedback?</a>

        <div id="form-feedback" style="display:none">
            <h2>Encontrou algum problema? Deixe sua opinião sobre o Guia de Serviços:</h2>

            <p>Dar a sua opinião é a melhor forma de melhorar o serviço público.</p>

            <p>Por favor, não inclua nenhuma informação pessoal ou financeira, assim como seus documentos ou dados de
                cartão de crédito.</p>

            <form accept-charset="UTF-8" action="/metricas/feedback" method="post">
                <!-- http://www.seqmedia.com/2011/02/18/rails-forms-automatically-insert-a-hidden-utf8-field/ -->
                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"/></div>

                <input id="url" name="url" type="hidden"
                       th:value="@{${#httpServletRequest.requestURI?:''}}"/>

                <input id="queryString" name="queryString" type="hidden"
                       th:value="@{${#httpServletRequest.queryString?:''}}"/>


                <label for="tentandoFazer">O que você estava tentando fazer?</label><br/>
                <textarea rows="3" cols="70" id="tentandoFazer" name="tentandoFazer"/><br/><br/>

                <label for="aconteceu">O que aconteceu de errado?</label><br/>
                <textarea rows="3" cols="70" id="aconteceu" name="aconteceu"/><br/><br/>

                <input name="enviar" type="submit" class="acao" value="Enviar feedback"/>
            </form>
        </div>
    </div>
</div>
