<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div id="migalhas-de-pao" class="no-mobile"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <span class="voce-esta-aqui">
        Você está aqui:
    </span>

    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url">
            <span itemprop="title">
                Página Inicial
            </span>
        </a>

        <th:block layout:fragment="migalhas-de-pao">
        </th:block>
    </span>
</div>

</body>
</html>
