<div id="migalhas-de-pao">
    <div id="portal-breadcrumbs">
        <span id="breadcrumbs-you-are-here">
            Você está aqui:
        </span>

        <span>
            <a href="/">Página Inicial</a>
        </span>

        <th:block th:unless="${#httpServletRequest.requestURI} == '/'">
            <span class="breadcrumbSeparator">&gt;</span>
            <span layout:fragment="link-migalha-de-pao-pai">
                Categoria 1
            </span>

            <span class="breadcrumbSeparator">&gt;</span>
            <span layout:fragment="link-migalha-de-pao">
                Categoria 2
            </span>
        </th:block>

    </div>
</div>
