<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<dl class="nav-tree no-mobile no-tablet">
    <dt>
        Listas
        <i class="fa fa-chevron-up"></i>
    </dt>

    <dd>
        <ul>
            <li>
                <a th:href="@{/servicos}">
                    <span>Todos os Serviços</span>
                </a>
            </li>
            <li>
                <a th:href="@{/orgaos}">
                    <span>Todos os Órgãos</span>
                </a>
            </li>
        </ul>
    </dd>
</dl>

</body>
</html>
