<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div class="paginacao-letras" th:fragment="paginacao-simples(paginaAtual, paginas, parametros)">

    <span layout:fragment="titulo" class="paginacao-busca">
        Páginas:
    </span>

    <ul>
        <li th:each="pagina : ${paginas}">
            <a th:href="@{${url}(__${parametros}__)}"
               th:style="${pagina == paginaAtual}? 'text-decoration:underline'"
               th:text="${pagina}">1-N...
            </a>
        </li>
    </ul>

    <select>
        <option th:each="pagina : ${paginas}"
                th:value="@{${url}(__${parametros}__)}"
                th:selected="${pagina == paginaAtual}"
                th:text="${pagina}">
            1-N...
        </option>
    </select>
</div>

<div th:fragment="conteudo-paginado(paginaAtual, paginas, paginacaoNoTopo, parametros)">
    <th:block th:if="${paginacaoNoTopo}">
        <div th:replace="fragments/paginacao :: paginacao-simples(${paginaAtual}, ${paginas}, ${parametros})">
        </div>
    </th:block>

    <section layout:fragment="conteudo">
    </section>

    <div th:replace="fragments/paginacao :: paginacao-simples(${paginaAtual}, ${paginas}, ${parametros})">
    </div>
</div>


</body>
</html>
