<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<dl class="nav-tree no-mobile no-tablet">
    <dt>
        Público-Alvo
        <i class="fa fa-chevron-up"></i>
    </dt>

    <dd>
        <ul>
            <li th:each="segmento : ${@segmentoDaSociedadeRepository.findAll()}">
                <a th:href="@{/publico-alvo/{id}(id=${segmento.id})}">
                    <span th:text="${segmento.value}">Título do Público Alvo</span>
                </a>
            </li>
        </ul>
    </dd>
</dl>

</body>
</html>
