<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<dl class="portlet portletNavigationTree no-mobile no-tablet">
    <dt class="portletHeader">
        Público-Alvo<i class="fa fa-chevron-down"></i>
    </dt>

    <dd>
        <ul class="navTree navTreeLevel0">

            <li th:each="publico : ${@publicoAlvoRepository.findAll()}">
                <a th:href="@{/publico-alvo/{id}(id=${publico.id})}">
                    <span th:text="${publico.titulo}">Título do Público Alvo</span>
                </a>
            </li>

        </ul>
    </dd>
</dl>

</body>
</html>
