<!-- <div id="rodape" role="contentinfo">

</div> -->

<div id="rodape" role="contentinfo">
    <div id="capacho">

        <dl>
            <dt>
                Sobre o Guia
            </dt>

            <dd>
                <a href="/conteudo/perguntas-frequentes">Perguntas frequentes</a>
            </dd>

            <dd>
                <a href="http://www.brasil.gov.br/servicos/fale-com-o-governo" class="external-link">Fale com o Governo</a>
            </dd>
        </dl>

        <dl>
            <dt>Assuntos</dt>
            <dd>
                <a href="/assuntos/editoria-a" class="external-link">Editoria A</a>
            </dd>

            <dd>
                <a href="/assuntos/editoria-b" class="external-link">Editoria B</a>
            </dd>
            <dd>
                <a href="/assuntos/editoria-c" class="external-link">Editoria C</a>
            </dd>
        </dl>

        <dl>
            <dt>Redes sociais</dt>
            <dd>
                <a href="https://twitter.com/twitter" class="external-link">Twitter</a>
            </dd>

            <dd>
                <a href="http://youtube.com/youtube" class="external-link">YouTube</a>
            </dd>

            <dd>
                <a href="http://www.facebook.com/facebook" class="external-link">Facebook</a>
            </dd>

            <dd>
                <a href="http://flickr.com/flickr" class="external-link">Flickr</a>
            </dd>
        </dl>

        <dl>
            <dt>
                Navegação
            </dt>

            <dd>
                <a href="/conteudo/acessibilidade">Acessibilidade</a>
            </dd>

            <dd>
                <a href="/conteudo/mapa-do-site">Mapa do Site</a>
            </dd>
        </dl>

    </div>

    <div class="clear"></div>
    <div id="footer-brasil"></div>

</div>
