<div id="footer" role="contentinfo">
    <a name="afooter" id="afooter"></a>

    <div id="doormat-container" class="columns-4">

        <div class="doormatColumn column-0">

            <dl class="doormatSection">
                <dt class="doormatSectionHeader">Assuntos</dt>
                <dd class="doormatSectionBody">
                    <a href="/assuntos/editoria-a" class="external-link">Editoria A</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/assuntos/editoria-b" class="external-link">Editoria B</a>
                </dd>
                <dd class="doormatSectionBody">
                    <a href="/assuntos/editoria-c" class="external-link">Editoria C</a>
                </dd>
            </dl>
        </div>

        <div class="doormatColumn column-1">

            <dl class="doormatSection">
                <dt class="doormatSectionHeader">
                    Sobre o Guia
                </dt>

                <dd class="doormatSectionBody">
                    <a href="/conteudo/perguntas-frequentes">Perguntas frequentes</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="http://www.brasil.gov.br/servicos/fale-com-o-governo" class="external-link">Fale com o Governo</a>
                </dd>
            </dl>
        </div>

        <div class="doormatColumn column-2" style="visibility: hidden">
            <dl class="doormatSection">
                <dt class="doormatSectionHeader">Redes sociais</dt>
                <dd class="doormatSectionBody">
                    <a href="https://twitter.com/twitter" class="external-link">Twitter</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="http://youtube.com/youtube" class="external-link">YouTube</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="http://www.facebook.com/facebook" class="external-link">Facebook</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="http://flickr.com/flickr" class="external-link">Flickr</a>
                </dd>
            </dl>
        </div>

        <div class="doormatColumn column-3">
            <dl class="doormatSection">
                <dt class="doormatSectionHeader">
                    Navegação
                </dt>

                <dd class="doormatSectionBody">
                    <a href="/conteudo/acessibilidade">Acessibilidade</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/conteudo/mapa-do-site">Mapa do Site</a>
                </dd>
            </dl>
        </div>
    </div>

    <div class="clear"></div>
    <div id="footer-brasil"></div>
</div>