body.contraste {
  background: #000 !important;
  color: #fff !important;

  #header, #main, .outstanding-header .outstanding-title {
    background: #000 !important;
    color: #fff !important;
  }

  #rodape {
    background: #555;
  }

  #header {
    #sobre {
      background: #333;
    }

    #sobre li {
      border-right-color: #fff;
    }

    #barra-feedback {
      background-color: #555;
    }
  }

  .busca-principal {
    background-color: #444;

    > form {
      > input[type='submit'] {
        background-color: #000;
        border: 1px solid #fff;
      }
    }
  }

  a, p, h4, .paginacao-busca, a.markdown, .titulo-home, li, .portletHeader, h1, h2, h3, #capacho dt, .portletNavigationTree > dd a span, #migalhas-de-pao a,
  #migalhas-de-pao span, #conteudo a:hover, dl.portlet a:hover, .tile-subtitle, .tile p, .tile a,
  #portal-siteactions a, #portal-siteactions a:hover, #logo #portal-logo,
  #logo #portal-title, #portal-description, .outstanding-header .outstanding-link, #conteudo .outstanding-header .outstanding-link:hover,
  .lista-vertical .tile-header span, .cover-collection-tile .tile-header span {
    color: #fff !important;
  }
  #acessibilidade span {
    color: #000 !important;
  }
  dl.portlet {
    .fa {
      color: #fff;
    }
  }

  .portletNavigationTree .portletHeader {
    background: #000;
  }

  *.acao {
    background-color: #000;
    border-color: #fff;
  }

  #rodape {
    .portletHeader,
    #capacho .doormatColumn {
      border-color: #fff !important;
      background: #000 !important;
      color: #fff !important;
    }

    #capacho dl {
      border-left: 1px dotted #fff;
    }

    #footer-brasil {
      background: #333;
      color: #fff !important;
    }
  }

  #portal-siteactions {
    border-bottom: 1px dotted #fff;
  }

  .outstanding-header .outstanding-link {
    background: url('/img/seta_branca.png') no-repeat scroll right 5px transparent;
  }

  #portal-searchbox {
    border-color: #fff;
    background-color: #000;
  }

  #portal-searchbox .searchField {
    background-color: #fff;
    color: black !important;
  }

  .outstanding-header .outstanding-title {
    border-top: 2px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .outstanding-header {
    background: #000;
  }

  #barra-brasil .link-barra {
    color: #606060 !important;
  }

  .lista-vertical {
    border: 1px solid #fff;
    background: #000 !important;
  }

  .destaque .linha-da-vida {
    background: none;
  }

}

#barra-brasil {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: content-box;
}

#header {
  position: relative;
  margin-top: 33px;
}
