* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

a:link {
  text-decoration: none;
  color: #606060;
  font-family: open_sansregular;
}

a:visited {
  text-decoration: none;
  color: #606060;
  font-family: open_sansregular;
}

a:hover {
  text-decoration: underline;
  color: #2c66ce;
  font-family: open_sansregular;
}

* li {
  display: inline;
}

* a img,
:link img,
:visited img {
  border: none;
}

img {
  vertical-align: text-bottom;
}

body {
  background-color: #fff;
  color: #000;
  font-size: em(16px);
  font-family: 'open_sansregular', $helvetica;
}

.hidden {
  display: none !important;
}

.clear {
  clear: both;
}

h1 {
  border-bottom: none;
  color: #606060;
  margin: .5em 0 .5em;
  font-family: 'open_sansregular', $helvetica;
  color: #606060;
}

#portal-title {
  line-height: 110%;
}



h2 {
  border-bottom: none;
  color: #606060;
  margin: 0 0 .5em;
  font-family: 'open_sansbold', $helvetica;
  color: #606060;
  font-size: em(35);
  line-height: 120%;
}


h3 {
  font-family: 'open_sansbold', $helvetica;
  color: #606060;
  font-size: em(17);
  line-height: em(23);
  margin-bottom: em(10);
}


h4 {
  font-size: em(20);
  font-family: 'open_sanssemibold', $helvetica;
  line-height: 120%;
  margin-top: 0;
}


input {
  font-family: 'open_sansregular', $helvetica;
}

fieldset {
  border: none;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  width: auto;
}

input[type='text']:focus {
  background-color: #ffffe0;
}

p {
  margin: 0 0 1em 0;
  line-height: 1.8em;
  color: #606060;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sanslight';
  src: url('/fonts/opensans-300-webfont.eot');
  src: url('/fonts/opensans-300-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-300-webfont.woff') format('woff'),
  url('/fonts/opensans-300-webfont.ttf') format('truetype'),
  url('/fonts/opensans-300-webfont.svg#open_sanslight') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sansregular';
  src: url('/fonts/opensans-400-webfont.eot');
  src: url('/fonts/opensans-400-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-400-webfont.woff') format('woff'),
  url('/fonts/opensans-400-webfont.ttf') format('truetype'),
  url('/fonts/opensans-400-webfont.svg#open_sansregular') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sanssemibold';
  src: url('/fonts/opensans-600-webfont.eot');
  src: url('/fonts/opensans-600-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-600-webfont.woff') format('woff'),
  url('/fonts/opensans-600-webfont.ttf') format('truetype'),
  url('/fonts/opensans-600-webfont.svg#open_sanssemibold') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sansbold';
  src: url('/fonts/opensans-700-webfont.eot');
  src: url('/fonts/opensans-700-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-700-webfont.woff') format('woff'),
  url('/fonts/opensans-700-webfont.ttf') format('truetype'),
  url('/fonts/opensans-700-webfont.svg#open_sansbold') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sansextrabold';
  src: url('/fonts/opensans-800-webfont.eot');
  src: url('/fonts/opensans-800-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-800-webfont.woff') format('woff'),
  url('/fonts/opensans-800-webfont.ttf') format('truetype'),
  url('/fonts/opensans-800-webfont.svg#open_sansextrabold') format('svg');
}
