@import 'media-queries';

#header {
  padding-top: 5px;
  background-color: #eeeff1;

  button.searchButton {
    font-size: 20px;
    left: -32px;
    border: none;
    background: none;
    position: relative;
    color: #606060;
    top: 2px;
  }

  a {
    color: #606060;
  }

  #topo {
    @include outer-container;
    margin-bottom: em(20);

    @include mobile {
      margin-left: $mobile-margin-left;
    }
  }

  #acessibilidade {
    @include span-columns(6);
    font-family: 'open_sansregular', $helvetica;

    @include mobile-tablet {
      display: none !important;
    }

    a {
      margin-right: em(8);
      font-size: em(11);
    }

    li {
      white-space: nowrap;
    }

    a span {
      padding: 0px 4px 0px 4px;
      background: #cfd0d2;
      color: #2c66ce;
    }

  }

  #portal-siteactions {
    @include span-columns(4);
    @include shift(2);
    @include omega();
    padding-bottom: em(5);
    border-bottom: em(1) dotted #cfd0d2;

    @include mobile {
      display: none !important;
    }

    @include tablet {
      @include span-columns(12);
      @include shift(0);
      @include omega();
      text-align: center;
    }


    li {
      white-space: nowrap;
    }

    a {
      padding: 0px 0 0px 6px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: em(11);
      font-family: 'open_sanssemibold', $helvetica;
    }

  }

  #logo {
    @include span-columns(9);
    margin-top: -10px;
    margin-bottom: 10px;

    @include mobile {
      width: 100%;
      padding: 5px 5px 5px 0px;
      margin-top: -10px;

      span {
        position: relative;
        top: 5px;
      }

      h1 {
        font-size: em(39);
      }
    }

    a:hover {
      text-decoration: none;
    }    

  }

  #portal-title {
    font-family: 'open_sansextrabold', $helvetica;
    font-size: em(40);
    color: #2c66ce;
    margin-bottom: 0;
    letter-spacing: -0.05em;
    margin-top: 30px;

    @include tablet {
      margin-top: 45px;
    }

  }

  #portal-description {
    @include span-columns(12);
    text-transform: uppercase;
    font-size: em(14);
    font-family: 'open_sanssemibold', $helvetica;
    color: #2c66ce;
  }

  #portal-searchbox {
    @include span-columns(3);
    @include omega();
    margin-top: em(48);
    text-align: left;

    @include mobile {
      display: inline-block !important;
      float: left;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    form {
      white-space: nowrap;
    }

    label {
      font-weight: normal;
    }

    .searchField {
      padding: .3em .35em;
      width: 100%;
      border: none;
      border-right: none;
      font-family: 'open_sansregular', $helvetica;
      padding: 10px 8px;
      border-radius: 5px;
      @include mobile { width: 260px; }
    }
  }

  #barra-feedback {
    background-color: #2c66ce;
    padding-left: $mobile-margin-left;

    p {
      @include outer-container(73.80em);
      font-size: em(13px);
      padding: 5px 0 5px 0;
      margin-bottom: 0;
      color: #ffffff;

      a {
        color: #ffffff;
        font-family: open_sansbold;
        text-decoration: underline;
      }
    }

    .fa {
      color: #606060;
      float: right;
      padding-top: 2px;
      font-size: 17px;
    }
  }
}
