$mobile: new-breakpoint(max-width 500px 4);

#header {
  padding: 14px 0 0 0;
  background-color: #eeeff1;

  button.searchButton {
    font-size: 20px;
    left: -32px;
    border: none;
    background: none;
    position: relative;
    color: #606060;
    top: 2px;
  }

  a {
    color: #606060;
  }

  #topo {
    @include outer-container;
    margin-bottom: em(20);
    @include media($mobile){
      padding-left: 8px;
    }
  }

  #acessibilidade {
    @include span-columns(6);
    font-family: 'open_sansregular', $helvetica;
    @include media($mobile) {
      display: none !important;
    }

    a {
      margin-right: em(8);
      font-size: em(11);
    }

    span {
      // padding: 0 0.18em;
      padding: 0px 4px 0px 4px;
      background: #cfd0d2;
      color: #2c66ce;
    }

  }

  #portal-siteactions {
    @include span-columns(4);
    @include shift(2);
    @include omega();
    padding-bottom: em(2);
    border-bottom: em(1) dotted #cfd0d2;

    @include media($mobile) {
      display: none !important;
    }

    a {
      padding: 4px 0 4px 10px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: em(11);
      font-family: 'open_sansbold', $helvetica;
    }

  }

  #siteaction-acessibilidade a {
    padding-left: 0;
  }

  #logo {
    @include span-columns(9);


    a:hover {
      text-decoration: none;
    }    

  }

  #portal-title {
    font-family: 'open_sansextrabold', $helvetica;
    font-size: em(40);
    color: #2c66ce;
    margin-bottom: 0;
    letter-spacing: -0.05em;

    @include media($mobile) {
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }

  #portal-description {
    @include span-columns(12);
    text-transform: uppercase;
    font-size: em(14);
    font-family: 'open_sanssemibold', $helvetica;
    color: #2c66ce;
  }

  #portal-searchbox {
    @include span-columns(3);
    @include omega();
    margin-top: em(48);
    text-align: left;

    form {
      white-space: nowrap;
    }

    label {
      font-weight: normal;
    }

    .searchField {
      padding: .3em .35em;
      width: 100%;
      border: none;
      border-right: none;
      font-family: 'open_sansregular', $helvetica;
      padding: 10px 8px;
      border-radius: 5px;
    }
  }

  #sobre {
    background: #dcdcdc;
    padding-top: em(3);
    padding-bottom: em(4);

    @include media($mobile) {
      @include outer-container;
    }

    ul {
      @include outer-container;
      text-align: right;

      @include media($mobile) {
        text-align: left;
      }
    }

    li {
      border-right: 1px solid #606060;
      padding: 0 10px;
      font-size: em(12);

      &:last-child {
        border-right: none !important;
        padding-right: 0;
      }
    }
  }

  #barra-feedback {
    background-color: #2c66ce;
    padding: em(5);

    p {
      @include outer-container(73.80em);
      font-size: em(13px);
      padding: 5px 0 5px 0;
      margin-bottom: 0;
      color: #ffffff;

      a {
        color: #ffffff;
        font-family: open_sansbold;
        text-decoration: underline;
      }
    }

    .fa {
    color: #606060;
    float: right;
    padding-top: 2px;
    font-size: 17px;

  }
  }
}
