$mobile: new-breakpoint(max-width 500px 4);

#header {
  padding: 14px 0 0 0;
  @include radial-gradient(circle at 50% 50%, #17882c 10%, #00510f, $fallback: #00510f);

  input.searchButton {
    padding: .3em;
    padding: 4px 15px;
    border: none;
    background: transparent;
    text-indent: -2000px;
  }

  input.searchButton {
    background-position: 0 2px; 
    padding-right: 5px;
  }

  a {
    color: #fff;
  }

  #topo {
    @include outer-container;
    margin-bottom: em(20);
    @include media($mobile){
      padding-left: 8px;
    }
  }


  #acessibilidade {
    @include span-columns(6);
    font-family: 'open_sansregular', $helvetica;
    @include media($mobile) {
      display: none !important;
      
    }

    a {
      margin-right: em(8);
      font-size: em(11);
    }

    span {
      padding: 0 0.18em;
      background: url('../img/bg-acess-key.gif') no-repeat;
      color: #060;
    }

  }

  #portal-siteactions {
    @include span-columns(4);
    @include shift(2);
    @include omega();
    padding-bottom: em(2);
    border-bottom: em(1) dotted #9bc2a3;
    @include media($mobile) {
      display: none !important;

      
    }

    a {
      padding: 4px 0 4px 10px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: em(11);
      font-family: 'open_sansbold', $helvetica;
    }

  }

  #siteaction-acessibilidade a {
    padding-left: 0;
  }

  #logo {
    @include span-columns(9);
  }

  #portal-title {
    font-family: 'open_sansextrabold', $helvetica;
    font-size: em(40);
    color: #fff;
    margin-bottom: 0;
    @include media($mobile){
      margin-top: 15px;
      }
  }

  #portal-description {
    @include span-columns(12);
    text-transform: uppercase;
    font-size: em(14);
    font-family: 'open_sanssemibold', $helvetica;
    color: #fff;
  }

  #portal-searchbox {
    @include span-columns(3);
    @include omega();
    margin-top: em(48);
    text-align: left;

    form {
      white-space: nowrap;
    }

    label {
      font-weight: normal;
    }

    .searchField {
      padding: .3em .35em;
      width: 100%;
      border: none;
      border-right: none;
      font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
      padding: 10px 8px;
      border-radius: 5px;
    }
  }

  #sobre {
    background: #195128;
    padding-top: em(7);
    padding-bottom: em(7);
    @include media($mobile){
      @include outer-container;
    }

    ul {
      @include outer-container;
      text-align: right;
      @include media($mobile){
        text-align: left;
    }

    }

    li {
      border-right: 1px solid #6c9072;
      padding: 0 10px;
      font-size: em(12);

      &:last-child {
        border-right: none !important;
        padding-right: 0;
      }
    }
  }

  #barra-versao-antiga {
    background-color: #e5e8ea;

    p {
      @include outer-container(73.80em);
      font-size: em(13px);
      padding: 5px 0 5px 0;
      margin-bottom: 0;

      a {
        color: #2c66ce;
      }
    }
  }
}
