#portal-column-one {
  margin-left: -100%;
}

div.width-1\3a 4 {
  width: 22.75%;
}

div.width-3\3a 4 {
  width: 73.875%;
}

div.width-5 {
  width: 30.042%;
}

div.width-16 {
  width: 97.963%;
}

div.position-1\3a 4 {
  margin-left: -73.875%;
}

div.position-0 {
  margin-left: -97.963%;
}

div.position-5 {
  margin-left: -64.002%;
}

div.position-10 {
  margin-left: -30.042%;
}

.row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}

.cell {
  position: relative;
  float: left;
  left: 100%;
}

.auto-grid {
  @include outer-container;
}

li.auto-cell {
  @include span-columns(4);
  @include omega(3n);
}