$small-mobile: new-breakpoint(max-width 320px);
$mobile: new-breakpoint(max-width 460px);
$tablet: new-breakpoint(min-width 461px max-width 768px);
$desktop-overflow: new-breakpoint(min-width 769px max-width 1000px);

@mixin small-mobile {
    @include media($small-mobile) {
        @content
    }
}

@mixin mobile {
    @include media($mobile) {
        @content
    }
}

@mixin tablet {
    @include media($tablet) {
        @content
    }
}

@mixin mobile-tablet {
    @include mobile { @content }
    @include tablet { @content }
}

@mixin desktop-pequeno {
    @include media($desktop-overflow) { @content }
}

@mixin tablet-desktop-pequeno {
    @include tablet{ @content}
    @include desktop-pequeno { @content }
}

@mixin todos-dispositivos {
    @include mobile { @content }
    @include tablet { @content }
    @include desktop-pequeno { @content }
}

$mobile-margin-left: 20px;
$mobile-margin-right: 20px;