$mobile: new-breakpoint(max-width 460px);
$tablet: new-breakpoint(min-width 461px max-width 768px);

@include media($mobile) {

  #acessibilidade {
    display: none;
  }

  #portal-siteactions {
    float: none;
  }

  #header {
    #portal-searchbox {
      display: inline-block !important;
      float: left;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 10px;

      .searchField {
        width: 260px;
      }
    }

    #logo {
      width: 100%;
      padding: 5px;
      margin-top: -14px;

      h1 {
        font-size: em(39);
      }

      span {
        position: relative;
        top: 0;
      }
    }
  }

  #sobre ul {
    text-align: center;
  }

  .busca-principal {
    display: none !important;
  }

  .cell {
    float: none !important;
    margin-left: -100% !important;
    width: 100% !important;
  }

  #migalhas-de-pao {
    margin: 10px 10px 10px 10px !important;
  }

  .tile {
    margin-left: 5px;
    margin-right: 5px;
  }

  .row {
    padding-left: 5px;
    width: 98.5% !important;
  }

}
