#migalhas-de-pao {
  font-size: .666em;
  margin-left: .25em;
  margin-top: 1.923em;
  margin-bottom: 1.923em;
}

#migalhas-de-pao .voce-esta-aqui {
  color: black;
  margin-right: .5em;
}

#migalhas-de-pao a,
#migalhas-de-pao span {
  color: #2c66ce;
  text-transform: uppercase;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

#migalhas-de-pao a:hover {
  text-decoration: underline;
}

#migalhas-de-pao > span.separador {
  color: black;
}