#migalhas-de-pao {
  @include span-columns(12);
  @include omega();
  margin-top: em(37);
  margin-bottom: em(37);
  font-size: em(11);

  .voce-esta-aqui {
    color: #606060;
  }

  a, span { 
    color: #2c66ce;
    text-transform: uppercase;
    font-family: 'open_sansregular', $helvetica;
  }

  span {
    margin-right: .5em; 
  }

  a:hover {
    text-decoration: underline;
  }

  > span.separador {
    color: black;
  }

}
