#migalhas-de-pao {
  @include span-columns(12);
  @include omega();
  margin-top: em(37);
  margin-bottom: em(37);
  font-size: em(11);

  @include mobile {
    margin: 10px 10px 10px 0px !important;
  }

  @include tablet {
    position: relative;
    top: em(45);
  }

  .voce-esta-aqui {
    color: $cinza-escuro;
  }

  a, span { 
    color: $azul-claro;
    text-transform: uppercase;
  }

  span {
    margin-right: .5em; 
  }

  a:hover {
    text-decoration: underline;
  }

  > span.separador {
    color: black;
  }

}
