@import 'media-queries';

#rodape {
  background: $cinza-claro;

  a {
    color: $cinza-escuro;
  }

  #capacho {
    @include outer-container;
    padding-top: em(32);
    padding-bottom: em(75);

    @include mobile {
      padding-top: em(16);
      padding-bottom: em(16);
    }

    @include tablet {
      padding-left: $mobile-margin-left;

      &:first-child {
        padding-left: 0;
        border-left: none;
      }
    }

    dl {
      @include span-columns(3);
      border-left: 1px dotted $cinza-escuro;
      padding-left: 0.6em;

      @include mobile {
        width: 100%;
        margin-bottom: 1em;
        border-left: none;
        padding-left: 20px; 
      }
      
      @include tablet {

      &:first-child {
        padding-left: 0;
        border-left: none;
        margin-left: 20px;
      }

      }

    }

    dt {
      color: $azul-claro;
      font-family: 'open_sanssemibold', $helvetica;
      font-size: em(18);
    }

    dd {
      padding-top: 0.5em;
      font-size: em(13);
    }
  }

  #footer-brasil {
    background: $azul-claro;
    padding: 1.5em 0;
  }
}
