#rodape {
  padding: 20px 0 0;
  min-height: 50px;
  width: 100%;
  background: #034811;
  color: #fff;

  > div {
    margin: 2em auto;
    padding-top: 1em;
    max-width: 960px;
  }

  a {
    color: white;
  }

  #footer-brasil{
    background: #00420c;
    max-width: 100%;
    margin: 0;
    padding: 25px 0 25px;
  }
}

#capacho {
  background: #034811;
  float: none;
  font-size: 75%;

  dl {
    border-left: 1px dotted #7dc48a;
    margin: 0 0 20px 0;
  }

  dt {
    color: #61B06F;
    padding-left: .6em;
    font-size: 18px;
    font-family: 'open_sanssemibold', Arial, Helvetica, sans-serif;
  }

  dd {
    padding: .5em 1.2em 0 1.2em;
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;

    > a {
      font-size: 1.4em;
    }
  }

  .column {
    float: left;
    width: 22%;
    margin: 0 1em;
  }
}


