@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'media-queries';
@import 'typography';
@import 'base';
@import 'icones';
@import 'cabecalho';
@import 'migalhas-de-pao';
@import 'rodape';
@import 'grid';
@import 'acessibilidade';

#main {
  @include outer-container;
}

.no-mobile {
  @include mobile {
    display: none !important;
  }
}

.no-tablet {
  @include tablet {
    display: none !important;
  }
}

#conteudo, .conteudo {
  @include span-columns(9);
  @include omega();

  clear: right;
  line-height: $baseLineHeight;

  @include mobile {
    margin-top: 15px;
  }

  @include mobile-tablet {
    @include span-columns(12);
    padding-left: $mobile-margin-left;
    padding-right: $mobile-margin-right;
  }

  header {
    margin-bottom: em(20);
  }

  h1 {
    font-size: em(35);
    font-family: 'open_sansbold', $helvetica;
    color: $cinza-escuro;
    line-height: $baseLineHeight;
    margin-top: 0;
  }

  p.titulo-bem-vindo {
    color: $cinza-escuro;
    font-family: open_sansbold, $helvetica;
    font-size: em(35);
    margin: -10px 0 5px 0;
    line-height: $baseLineHeight;
    font-weight: bold;

    @include mobile {
      font-size: em(27);
    }
  }

  h2.titulo-home {
    font-family: "open_sansbold", $helvetica;
    font-size: em(25);
    line-height: $baseLineHeight;
    margin: 10px 0 10px 0;
  }

  h4 {
    font-size: em(13);
    color: $cinza-escuro;
    text-transform: uppercase;

    &.titulo-destaque {
      font-size: em(20);
      font-family: 'open_sanssemibold', $helvetica;
      line-height: $baseLineHeight;
      text-transform: none;
      margin-top: 0;
    }
  }

  p, span, a {
    color: $cinza-escuro;
    line-height: $baseLineHeight;
  }

  span.paginacao-busca {
    font-size: 13px;
  }

  ul.paginacao-busca {
    li {
      font-size: 13px;
    }
  }


  hr {
    margin-bottom: em(15);
    border-bottom: 0;
  }

  ul.resultados-busca {
    li {
      display: list-item;
      margin: 0;
      color: $cinza-escuro;
    }
  }

  a {
    color: $azul-claro;
  }

}

dl.nav-tree {

  @include mobile-tablet {
    dd {
      display: none;
    }
  }

  dt {
    background: $cinza-claro;
    border-bottom: 1px solid $cinza-medio;
    color: $cinza-escuro;
    cursor: pointer;
    margin: 0;
    padding: 15px 10px;
    text-transform: capitalize;
    font-family: 'open_sansbold', $helvetica;

    @include mobile-tablet {
      padding: em(7) $mobile-margin-right em(7) $mobile-margin-left;
    }

    @include mobile {
      margin: 0 -6%;
    }

    @include tablet {
      margin: 0 -3%;
    }
  }

  ul li {
    display: list-item;
    margin: 0;
    padding: 0.5em;
    border-bottom: .1em solid $cinza-claro;
  }

  ul {
    li:last-child {
      margin-bottom: 1em;
      border-bottom: none;
    }
  }

  .fa {
    color: $azul-claro;
    float: right;
    padding-top: 3px;
    padding-right: 6px;
  }

}

.tile {
  @include mobile {
    margin-right: 5px;
  }

  h1 {
    margin: 0 0 10px 0;
    border-bottom: none;
    text-transform: none;
    line-height: $baseLineHeight;
  }

  h3 {
    margin-bottom: 5px;
    font-family: 'open_sansbold', $helvetica;
    line-height: $baseLineHeight;
  }

  .tile-subtitle {
    margin-bottom: .7em !important;
    color: $azul-claro;
    text-transform: uppercase;
    font-weight: normal;
  }

}

.left {
  float: left;
  margin: 0 10px 10px 0;
}

.right {
  float: right;
  margin: 0 0 10px 10px;
}

.outstanding-header {
  .outstanding-title {
    margin-left: 0;
    margin-bottom: none;
    line-height: $baseLineHeight;
  }
}

#voltar-topo {
  margin-top: em(30);
  margin-bottom: em(30);
  font-size: em(15);

  @include mobile-tablet {
    margin-left: $mobile-margin-left;
    margin-right: $mobile-margin-right;
  }

  a {
    padding-left: em(20);
    padding-right: em(10);

    span.fa-caret-up {
      color: $cinza-escuro;
      padding-right: 5px;
    }
  }
}

#destaques {
  a {
    color: $cinza-escuro;
  }

  a:hover {
    color: $azul-claro;
  }
}

.busca-principal > form {
  background-color: $cinza-claro;
  padding: 15px 15px 55px 15px;

  input[type='search'] {
    background-color: $branco;
  }
}

.busca-erro > form {
  background-color: $branco;
  padding: 10px 0 70px 0;

  input[type='search'] {
    background-color: $cinza-claro;
  }
}

.busca-principal, .busca-erro {

  @include span-columns(12);
  @include omega();

  @include mobile {
    display: none !important;
  }

  > form {
    margin-bottom: em(30);
    border-radius: 4px;

    input[type='search'] {
      @include span-columns(9 of 11);
      display: block;

      padding: 10px;
      border-radius: 4px;
      border-top: 2px solid $cinza-medio;
      border-bottom: 0;
      border-left: 2px solid $cinza-medio;
      border-right: 0;
      box-shadow: inset -2px -2px 5px -1px $cinza-claro;
      font-size: em(13);

      @include placeholder {
        color: $cinza-escuro;
      }

      &:focus {
        background-color: $branco;
      }
    }

    input[type='submit'] {
      @include span-columns(2 of 11);
      @include omega();

      color: $branco;
      background-color: $azul-claro;
      display: block;
      font-family: 'open_sansbold', $helvetica;
      font-size: 16px;
      padding: 9px 0 9px 0;
      border: none;
      border-radius: 4px;
    }
  }
}

#opiniao {
  padding: 10px;
  border-radius: 4px;
  border-top: 2px solid $cinza-medio;
  border-bottom: 0;
  border-left: 2px solid $cinza-medio;
  border-right: 0;
  box-shadow: inset -5px -5px 5px -1px $cinza-claro;
  background-color: $branco;
  font-size: em(13);
  font-family: 'open_sansregular', $helvetica;
}

.opiniao {
  margin-bottom: 10px;
}

span.ticket-erro {
  font-weight: bold;
  font-family: Courier, monospaced;
}

.markdown {

  h3 {
    margin-bottom: 1em;
  }

  ul li {
    display: list-item;
    list-style-type: disc;
    color: $cinza-escuro;
    list-style-position: inside;
    line-height: $baseLineHeight;
    margin-bottom: 10px;
    font-size: em(15);

    a {
      color: $azul-claro;
      font-size: em(15);
    }

    a:active, a:link, a:visited {
      color: $azul-claro;
    }
  }
}

a.acao, button.acao, input[type="submit"].acao, input[type="submit"].acao-busca {
  text-transform: uppercase;

  &:hover {
    color: $branco;
    background-color: $azul-escuro;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

a.acao, button.acao, input[type="submit"].acao {
  padding: 8px 13px 8px 13px;
  background: $azul-claro;
  text-decoration: none;
  margin: 10px 0 30px 0;
  display: inline-block;
  color: $branco !important;
  border: none;
  border-radius: 4px;
  font-family: open_sansbold;
  font-size: 16px;

  &:visited, &:link {
    color: $branco;
  }
}

ul#resultados-linhadavida {
  margin-top: 18px;

  p {
    margin-bottom: 20px;
    border-bottom: 1px solid $cinza-medio;
    padding-bottom: 20px;
    color: $cinza-escuro;
    line-height: $baseLineHeight;
  }

  h3 {
    margin-bottom: 0;
  }
}


ul#resultados-busca {
  margin-top: 20px;

  p {
    border-bottom: 1px solid $cinza-medio;
    padding-bottom: 20px;
    color: $cinza-escuro;
    line-height: $baseLineHeight;
  }
}

.paginacao-busca {
  font-family: open_sansbold;
  color: $cinza-escuro;
  padding: 3px 10px 3px 10px;
  text-transform: uppercase;
  display: inline-block;
}

.paginacao-letras {
  background-color: $cinza-claro;
  padding: 5px 10px 5px 0;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;

  a {
    padding: 0px 7px;
  }
}

.total-resultados {
  margin-top: 1em;
}

ul.orgaos-a-z {
  li {
    display: block;
    list-style-type: disc outside none;
    border-bottom: 1px solid $cinza-medio;
    padding: 8px 0 8px 0;
    font-size: em(17);
    font-weight: bold;
  }
}

ul.servicos-a-z {
  li {
    display: block;
    list-style-type: disc outside none;
    border-bottom: 1px solid $cinza-medio;
    padding-top: 8px;
  }

  h3 {
    margin: 6px 0 2px 0;
  }
}

#navegacao {
  @include span-columns(3);
  margin-bottom: 35px;

  @include mobile-tablet {
    @include fill-parent();
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid $cinza-medio;
  }

  @include tablet {
    position: relative;
    top: em(-66);
    background-color: $branco;
    margin-bottom: 0;
  }

  .nav-tree {

    dt {
      @include mobile-tablet {
          margin-left: 0;
          margin-right: 0;
      }
    }

    dd {
      font-size: 13px;
    }
  }
}

.destaque {
  margin-bottom: em(40);

  h3 {
    font-size: em(20);
  }

  .linha-da-vida {
    margin-top: 8px;
    display: inline-block;
    padding: 1px 6px 0 6px;
    font-size: em(10);
    text-transform: uppercase;
    background-color: $cinza-claro;
    border-radius: 4px;
    i {
      font-size: 12px;
      margin-right: 3px;
    }
  }
}

form {
  label.error {
    color: red;
    border: 1px solid red;
    padding: 3px 6px 3px 6px;
    margin-left: 7px;
    text-transform: uppercase;
    font-size: 12px;
  }
}

p.formulario-opiniao {
  #sim, #nao {
    margin-top: 4px;
  }

}

#conteudo {
  span.link-github {
    a {
      color: $cinza-claro;

      :hover {
        color: $cinza-escuro;
      }
    }
  }
}
