@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'media-queries';
@import 'typography';
@import 'base';
@import 'icones';
@import 'cabecalho';
@import 'migalhas-de-pao';
@import 'rodape';
@import 'grid';
@import 'acessibilidade';

#main {
  @include outer-container;
  @include mobile-tablet {
    padding-left: $mobile-margin-left;
    padding-right: $mobile-margin-right;
  }
}

.no-mobile {
  @include mobile {
    display: none !important;
  }
}

#conteudo, .conteudo {
  @include span-columns(9);
  @include omega();
  line-height: 1.5em;

  @include mobile {
    margin-top: 15px;
  }

  @include mobile-tablet {
    @include span-columns(12);
  }

  header {
    margin-bottom: em(20);
  }

  h1 {
    font-size: em(35);
    font-family: 'open_sansbold', $helvetica;
    color: $cinza-escuro;
    line-height: 120%;
    margin-top: 0;
  }

  h3.titulo-home {
    font-family: "open_sansbold", $helvetica;
    font-size: em(25);
    line-height: 1.2em;
    margin-bottom: 10px;
  }

  h4 {
    font-size: em(13);
    color: $cinza-escuro;
    text-transform: uppercase;

    &.titulo-destaque {
      font-size: em(20);
      font-family: 'open_sanssemibold', $helvetica;
      line-height: 120%;
      text-transform: none;
      margin-top: 0;
    }
  }

  p, span, a {
    font-size: em(15);
    color: $cinza-escuro;
    line-height: 140%;
  }

  span.paginacao-busca {
    font-size: 13px;
  }

  ul.paginacao-busca {
    li {
      font-size: 13px;
    }
  }


  hr {
    margin-bottom: em(15);
    border-bottom: 0px;
  }

  ul.resultados-busca {
    li {
      display: list-item;
      margin: 0;
      color: $cinza-escuro; 
    }
  }

  a {
    color: $azul-claro;
  }

}

dl.portlet {

  dt {
    background: $cinza-claro;
    border-bottom: 1px solid $cinza-medio;
    color: $cinza-escuro;
    cursor: pointer;
    margin: 0;
    padding: 15px 10px;
    text-transform: capitalize;
    font-family: 'open_sansbold', $helvetica;
  }

  ul li {
    display: list-item;
    margin: 0;
    padding: 0.5em;
    border-bottom: .1em solid $cinza-claro;
  }

  ul {
    li:last-child {
      margin-bottom: 1em;
      border-bottom: none;
    }
  }

  .fa {
    color: $azul-claro;
    float: right;
    padding-top: 3px;
    padding-right: 6px;
  }

}

.tile {
  @include mobile {
    margin-right: 5px;
  }

  h1 {
    margin: 0 0 10px 0;
    border-bottom: none;
    text-transform: none;
    line-height: 1.1em;
  }

  h3 {
    margin-bottom: 5px;
    font-family: 'open_sansbold', $helvetica;
    line-height: 1.3em;
  }

  .tile-subtitle {
    margin-bottom: .7em !important;
    color: $azul-claro;
    text-transform: uppercase;
    font-weight: normal;
  }

}

.left {
  float: left;
  margin: 0 10px 10px 0;
}

.right {
  float: right;
  margin: 0 0 10px 10px;
}

.outstanding-header {
  .outstanding-title {
    margin-left: 0;
    margin-bottom: none;
    line-height: 1em;
  }
}

#voltar-topo {
  margin-top: em(30);
  margin-bottom: em(30);
  font-size: em(15);

  a {
    padding-left: em(20);
    padding-right: em(10);

    span.fa-caret-up {
      color: $cinza-medio;
      padding-right: 5px;
    }
  }
}

#destaques {
  a {
    color: $cinza-escuro;
  }

  a:hover {
    color: $azul-claro;
  }
}

.busca-principal {
  @include span-columns(12);
  @include omega();


  @include mobile {
    display: none !important;
  }

  > form {
      margin-bottom: em(30);
      background-color: $cinza-claro;
      padding: 15px 15px 55px 15px;
      border-radius: 4px;

    > input[type='search'] {
      @include span-columns(9 of 11);
      display: block;
      padding: 10px;
      border-radius: 4px;
      border-top: 2px solid $cinza-medio;
      border-bottom: 0;
      border-left: 2px solid $cinza-medio;
      border-right: 0;
      box-shadow: inset -2px -2px 5px -1px $cinza-claro;
      background-color: $branco;
      font-size: em(13);

      @include placeholder {
        color: $cinza-escuro;
      }

      &:focus {
        background-color: $branco;
      }
    }

    input[type='submit'] {
      @include span-columns(2 of 11);
      @include omega();
      color: $branco;
      background-color: $azul-claro;
      display: block;
      font-family: 'open_sansbold', $helvetica;
      font-size: 16px;
      padding: 9px 0px 9px 0px;
      border: none;
      border-radius: 4px;
    }
  }
}

span.ticket-erro {
  font-weight: bold;
  font-family: Courier, monospaced;
}

.markdown {
  margin-bottom: 2em;

  ul li {
    display: list-item;
    list-style-type: disc;
    color: $cinza-escuro;
    list-style-position: inside;
    line-height: 1.5em;
    margin-bottom: 10px;
    font-size: em(15);

    a {
      color: $azul-claro;
      font-size: em(15);
    }

    a:active, a:link, a:visited {
      color: $azul-claro;
    }
  }
}

a.acao, button.acao, input[type="submit"].acao, input[type="submit"].acao-busca {
  text-transform: uppercase;

  &:hover {
    color: $branco;
    background-color: $azul-escuro;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

a.acao, button.acao, input[type="submit"].acao {
  padding: 8px 13px 8px 13px;
  background: $azul-claro;
  text-decoration: none;
  margin: 10px 0px 30px 0px;
  display: inline-block;
  color: $branco !important;
  border: none;
  border-radius: 4px;
  font-family: open_sansbold;
  font-size: 16px;

  &:visited, &:link {
    color: $branco;
  }
}

ul#resultados-linhadavida {
  margin-top: 18px;

  p {
    margin-bottom: 20px;
    border-bottom: 1px solid $cinza-medio;
    padding-bottom: 20px;
    color: $cinza-escuro;
    line-height: 130%;
  }

  h3 {
    margin-bottom: 0px;
  }
}


ul#resultados-busca {
  margin-top: 20px;

  p {
    border-bottom: 1px solid $cinza-medio;
    padding-bottom: 20px;
    color: $cinza-escuro;
    line-height: 140%;
  }
}

.paginacao-busca {
  font-family: open_sansbold;
  color: $cinza-escuro;
  padding: 3px 10px 3px 10px;
  text-transform: uppercase;
  display: inline-block;
}

.paginacao-letras {
  background-color: $cinza-claro;
  padding: 5px 10px 5px 0px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
}


ul.orgaos-a-z {
  li {
    display: block;
    list-style-type: disc outside none;
    border-bottom: 1px solid $cinza-medio;
    padding: 8px 0px 8px 0px;
    font-size: em(17);
    font-weight: bold;
  }
}

ul.servicos-a-z {
  li {
    display: block;
    list-style-type: disc outside none;
    border-bottom: 1px solid $cinza-medio;
    padding-top: 8px;
  }

  h3 {
    margin: 6px 0px 2px 0px;
  }
}

#navegacao {
  @include span-columns(3);
  margin-bottom: 35px;
  @include mobile-tablet {
    display: none !important;
  }

  .navTree span {
    font-size: 13px;
  }

  .navTree a {
    font-size: 13px;
  }
}

.destaque {
  margin-bottom: em(40);

  h3 {
    font-size: em(20);
  }

  .linha-da-vida {
    margin-top: 8px;
    display: inline-block;
    padding: 1px 6px 0px 6px;
    font-size: em(10);
    text-transform: uppercase;
    background-color: $cinza-claro;
    border-radius: 4px;
    i {
      font-size: 12px;
      margin-right: 3px;
    }
  }
}

form {
  label.error {
    color: red;
    border: 1px solid red;
    padding: 3px 6px 3px 6px;
    margin-left: 7px;
    text-transform: uppercase;
    font-family: open_sansregular;
    font-size: 12px;
  }
}

p.formulario-feedback {
  #sim, #nao {
    margin-top: 4px;
  }

}
