@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base';
@import 'icones';
@import 'cabecalho';
@import 'migalhas-de-pao';
@import 'rodape';
@import 'grid';
@import 'acessibilidade';
@import 'media-queries';

$mobile: new-breakpoint(max-width 500px 4);

#main {
  @include outer-container;
}

#conteudo, .conteudo {
  @include span-columns(9);
  @include omega();
  line-height: 1.5em;

  @include media($mobile) {
  @include span-columns(4);
  }
  
  header {
    margin-bottom: em(20);

    h2 {
      font-family: 'open_sansbold', $helvetica;
      font-size: em(35);
      padding-right: 3.464em;

      @include media($mobile) {
        line-height: 85%;
      }
    }
  }

  h1 {
    font-size: em(35);
    font-family: 'open_sansbold', $helvetica;
    color: #606060;
    line-height: 120%;
    margin-top: 0;
  }

  p {
    font-size: em(15);
    color: #606060;
    line-height: 140%;
  }

  img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
  }

  hr {
    margin-bottom: 15px;
  }

}

dl.portlet {

  dt {
    background: #edeff1;
    border-bottom: 1px solid #dfdfdf;
    color: #606060;
    margin: 0;
    padding: 15px 10px;
    text-transform: capitalize;
    font-family: 'open_sansbold', $helvetica;
  }

  ul li {
    display: list-item;
    margin: 0;
    padding: 0.5em;
    border-bottom: .1em solid #ccc;
  }

  .fa {
    color: #2c66ce;
    float: right;
    padding-top: 3px;
  }

}

#portal-column-one .portletNavigationTree {
  margin-bottom: 3.61em;
  border-bottom: 1px solid #ddd;

  > dd a span {
    color: #606060;
  }

  .portletHeader {
    border-top: 4px solid #00510f;
    color: #00510f;
  }

}

.tile {

  h1 {
    margin: 0 0 10px 0;
    border-bottom: none;
    text-transform: none;
    line-height: 1.1em;
  }

  h2 {
    margin: 0;
    margin-bottom: .5em;
    color: #606060;
    font-family: 'open_sansregular', $helvetica;
    line-height: 1.345em;
  }

  h3 {
    margin: 0;
    font-family: 'open_sansbold', $helvetica;
    line-height: 1.2em;
  }

  .tile-subtitle {
    margin-bottom: .7em !important;
    color: #2c67cd;
    text-transform: uppercase;
    font-weight: normal;
  }

  // p {
  //   color: #172938;
  //   line-height: 1.25em;
  // }

  img.right {
    float: right;
    margin: 0 0 .5em 0;
  }

  img.left {
    float: left;
    margin: 0 1em .5em 0;
  }

}

.left {
  float: left;
  margin: 0 10px 10px 0;
}

.right {
  float: right;
  margin: 0 0 10px 10px;
}

.outstanding-header {

  @include media($mobile) {
    padding: em(5);
  }

  .outstanding-title {
    margin-left: 0;
    margin-bottom: none;
    line-height: 1em;
  }
}

#voltar-topo {
  @include span-columns(3);
  @include shift(9);
  @include omega();

  margin-top: em(30);
  margin-bottom: em(30);
  font-size: em(15);

  a {
    padding-left: em(20);
    padding-right: em(10);

    span.fa-caret-up {
      color: #a0a0a0;
      padding-right: 5px;
    }
  }
}

.menuTrigger {
  display: none;
}

#header input.searchButton {
  background-image: url('../img/sprite.png');
  position: relative;
  right: 33px;
}

.busca-principal { 
  @include span-columns(12);
  @include omega();
  margin-bottom: em(60);

  > p {
    margin: 0;
    color: #2c66ce;
  }

  h3.titulo-busca {
    font-family: open_sansbold;
    font-size: em(25);
    margin-bottom: em(15);
  }

  > form {
    > input[type='text'] {
      @include span-columns(10);
      display: block;
      padding: 10px;
      border-radius: 5px;
      border-top: 2px solid #dcdcdc;
      border-bottom: 0;
      border-left: 2px solid #DCDCCC;
      border-right: 0;
      box-shadow: inset -2px -2px 5px -1px #e6e6e6;
      background-color: #eee;
      font-size: em(13);
      font-style: italic;

      @include placeholder {
        color: #606060;  
      }

      &:focus {
        background-color: #EEF0F1;
      } 

    }

    input[type='submit'] {
      @include span-columns(2);
      @include omega();
      color: #fff;
      background-color: #2c66ce;
      display: block;
      font-family: 'open_sansbold', $helvetica;
      font-size: 16px;
      padding: 9px 0px 9px 0px;
      border: none;
      border-radius: 4px;
    }
  }
}

span.ticket-erro {
  font-weight: bold;
  font-family: Courier, monospaced;
}


.markdown {
  margin-bottom: 2em;

  h1, h2 {
    margin-bottom: .5em;
  }

  ul li {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    line-height: 1.5em;
    margin-bottom: 10px;

    a {
      text-decoration: underline;
      color: blue !important;
    }
  }
}

a.acao, button.acao, input[type="submit"].acao, input[type="submit"].acao-busca {

  &:hover {
    color: #ffffff;
    background-color: #2153ae;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

a.acao, button.acao, input[type="submit"].acao {
  padding: 8px 13px 8px 13px;
  background: #2c66ce;
  text-decoration: none;
  margin: 10px 0px 30px 0px;
  display: inline-block;
  color: #ffffff;  
  border: none;
  border-radius: 4px;
  font-family: open_sansbold;
  font-size: 16px;

  &:visited, &:link {
    color: #ffffff;
  }
}

ul#resultados-linhadavida {
  margin-top: 30px;

  p {
    margin-bottom: 20px;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
    color: #606060;
    line-height: 140%;
  }
}


ul#resultados-busca {
  margin-top: 30px;

  p {
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
    color: #606060;
    line-height: 140%;
  }  
}

.paginacao-busca {
  font-size: em(15);
  font-family: open_sansbold;
  color: #606060;
}


ul.orgaos-a-z {
  li {
    display: block;
    list-style-type: disc outside none;
    border-bottom: 1px solid #DCDCDC;
  }
}


ul.servicos-a-z {
  li {
    display: block;
    list-style-type: disc outside none;
    border-bottom: 1px solid #DCDCDC;
  }
}

.footer-logo {
  background-color: #00420c;
  max-width: 100%;
  padding: 30px 0;
}

#navegacao {
  @include span-columns(3);
  @include media($mobile) {
    display: none !important;
  }

  .navTree span {
    font-size: 14px;
  }
}

.destaque {
  margin-bottom: em(40);

  h3 {
    font-size: em(20);
  }

  .linha-da-vida {
    margin-top: 6px;
    display: inline-block;
    border-radius: 4px;
    background-color: #edeff1;
    border: 1px solid lighten(#edeff1, 10%);
    padding: 2px 5px 2px 5px;
    font-size: em(10);
  }
}
