body.contraste,
body.contraste #header,
body.contraste #footer,
body.contraste #main,
body.contraste #doormat-container,
body.contraste .outstanding-header .outstanding-title {
  background: #000 !important;
  color: #fff !important;
}

body.contraste #accessibility span {
  background: #fff !important;
  color: #000 !important;
}

body.contraste a,
body.contraste h1,
body.contraste h2,
body.contraste h3,
body.contraste #doormat-container dt,
body.contraste .portletNavigationTree > .portletItem a span,
body.contraste #portal-breadcrumbs a,
body.contraste #portal-breadcrumbs span,
body.contraste #content a:hover,
body.contraste dl.portlet a:hover,
body.contraste .tile-subtitle,
body.contraste .tile-content p,
body.contraste .tile p,
body.contraste .tile a,
body.contraste .item-central .link-central,
body.contraste #portal-siteactions a,
body.contraste #portal-siteactions a:hover,
body.contraste #logo #portal-logo,
body.contraste #logo #portal-title,
body.contraste .outstanding-header .outstanding-link,
body.contraste #content .outstanding-header .outstanding-link:hover,
body.contraste .lista-vertical .tile-header span,
body.contraste .cover-collection-tile .tile-header span {
  color: #fff !important;
}

body.contraste .portletHeader,
body.contraste #doormat-container .doormatColumn {
  border-color: #fff !important;
  background: #000 !important;
  color: #fff !important;
}

body.contraste #portal-siteactions {
  border-bottom: 1px dotted #fff;
}

body.contraste #sobre .portalservicos-item a {
  border-right: 1px solid #fff;
}

body.contraste #doormat-container dl {
  border-left: 1px dotted #fff;
}

body.contraste #sobre {
  background: #333;
}

body.contraste #social-icons a,
body.contraste #header input.searchButton,
body.contraste .item-central .link-videos,
body.contraste .item-central .link-audios,
body.contraste .item-central .link-infograficos,
body.contraste .item-central .link-publicacoes,
body.contraste .item-central .link-fotos,
body.contraste .item-central .link-aplicativos {
  background-image: url('/img/sprite-contraste.png');
}

body.contraste .outstanding-header .outstanding-link {
  background: url('/img/seta_branca.png') no-repeat scroll right 5px transparent;
}

body.contraste #portal-searchbox {
  border-color: #fff;
  background-color: #000;
}

body.contraste #portal-searchbox .searchField {
  background-color: #000;
  color: #fff !important;
}

body.contraste #header input.searchButton {
  background-color: #000;
  background-position: 0 2px;
}

body.contraste .outstanding-header .outstanding-title {
  border-top: 2px solid #fff;
  border-bottom: 1px solid #fff;
}

body.contraste .outstanding-header {
  border-top: 2px solid #fff;
  background: #000;
}

body.contraste #barra-brasil .link-barra {
  color: #606060 !important;
}

body.contraste .lista-vertical {
  border: 1px solid #fff;
  background: #000 !important;
}

body.contraste .portlet-static-centrais-de-conteudos .portletHeader,
body.contraste .portletNavigationTree .portletHeader {
  background: #000 url('/img/portlet-header-contraste.jpg') no-repeat 96% center !important;
}