dl.portlet li {
  margin-bottom: .25em;
  line-height: 1.5em;
  display: list-item;
}

.hiddenStructure {
  display: block;
  background: transparent;
  background-image: none;
  /* safari bug */
  border: none;
  height: .1em;
  overflow: hidden;
  padding: 0;
  margin: -.1em 0 0 -.1em;
  width: 1px;
}

h1,
h2,
h3 {
  font-family: 'Helvetica Neue', Arial, FreeSans, sans-serif;
  font-weight: bold;
  color: Black;
  line-height: 1.5em;
}

h1,
h2 {
  letter-spacing: -.05em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h2,
h3 {
  color: #444;
}

h2 a,
h3 a {
  border-bottom: none !important;
}

a:link,
a:visited {
  color: #205c90;
}

a:focus img {
  outline: thin dotted;
}

dt {
  font-weight: bold;
}

input {
  font-family: 'Lucida Grande', Arial, FreeSans;
}

#portal-searchbox label {
  font-weight: normal;
}

input.searchField {
  -moz-appearance: searchfield;
}

#portal-breadcrumbs {
  font-size: 80%;
  margin-bottom: 1em;
  margin-left: .25em;
}

#portal-breadcrumbs a {
  border-bottom: none;
  display: inline-block;
}

#portal-siteactions {
  font-size: 85%;
  padding-bottom: 2em;
  text-align: center;
  clear: left;
}

#portal-siteactions li {
  margin-right: .5em;
}

#portal-siteactions li a:hover {
  color: #75ad0a;
}

#content {
  line-height: 1.5em;
  clear: both;
  font-size: 80%;
  margin: 1em .25em 2em .25em;
}

#content h1 {
  margin-top: .5em;
}

#content p,
dl.portlet {
  margin-bottom: 1em;
}

#content a:link,
dl.portlet a:link {
  color: #205c90;
  border-bottom: .1em solid #ccc;
}

#content a:visited,
dl.portlet a:visited {
  color: #427597;
  border-bottom: .1em solid #ccc;
}

#content a:hover,
dl.portlet a:hover {
  color: #75ad0a;
}

#content a:target {
  background-color: #ffb;
}


dl.portlet {
  margin: 0 0 1em;
  font-size: 80%;
}

dl.portlet dt {
  padding: .42em 1em;
  background: #ddd;
  line-height: normal;
}

dl.portlet dt.hiddenStructure {
  padding: 0;
}

dl.portlet dd.portletItem {
  padding: 1em;
}

dl.portlet ul.navTree li a {
  border: none;
  display: block;
  zoom: 1;
}

dl.portletNavigationTree dd.portletItem {
  padding: 0;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
  padding: .25em 1em;
  border-bottom: .1em dotted #ddd;
  line-height: 2em;
}

fieldset {
  line-height: 1.5em;
  margin: 1em 0;
  padding: 0 1em 1em;
  width: auto;
}

input[type='text']:focus {
  background-color: #ffffe0;
}

label {
  font-weight: bold;
}

#doormat-container {
  background: none repeat scroll 0 0 #ddd;
  font-size: 75%;
  margin: 1em 0;
  float: left;
  width: 100%;
}

#doormat-container dl {
  margin: .5em 0;
}

#doormat-container dl dd {
  margin-left: 0;
}

#doormat-container .doormatColumn {
  float: left;
  margin: 0 1em;
}

#doormat-container.columns-4 .doormatColumn {
  width: 23%;
}

h1,
h2,
h3 {
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#content h1 {
  margin-top: 0;
}

a:link,
#content a:link,
dl.portlet a:link {
  border-bottom: none;
  color: #2c67cd;
}

a:visited,
#content a:visited,
dl.portlet a:visited {
  color: #2c67cd;
}


a:hover,
a:active {
  outline: none;
}

h1 {
  border-bottom: none;
  color: #172838;
  font-size: 2em;
}

h2,
h3 {
  color: #231f20;
}

h1 {
  margin: .5em 0 .5em;
  line-height: 1.3em;
}

h2,
h3 {
  margin: 0 0 .5em 0;
  line-height: 1.3em;
}

p {
  margin: 0 0 1em 0;
  line-height: 1.8em;
}

#main {
  margin: 0 auto;
  padding: 0 0 1.5em;
  max-width: 960px;
  background: #fff;
  font-size: 1.3em;
}



.LSBox {
  margin: 0;
  padding: 0;
  border: none;
}

input.searchField {
  -moz-appearance: none;
}

#portal-searchbox {
  float: right;
  clear: right !important;
  margin: 3.12em 0 0 0;
  padding: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
  text-align: right;
  font-size: 80%;
}

#portal-searchbox .searchField {
  padding: .3em .35em;
  width: 186px;
  border: none;
  border-right: none;
  font-size: 1.2em;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

#header input.searchButton {
  padding: .3em;
  padding: 4px 15px;
  border: none;
  background: transparent;
  text-indent: -2000px;
}

#header input.searchButton {
  background-position: 0 2px;
  padding-right: 5px;
}

#portal-breadcrumbs span#breadcrumbs-you-are-here {
  color: #000;
  margin-right: .5em;
}

#portal-breadcrumbs a,
#portal-breadcrumbs span {
  color: #2c66ce;
  text-transform: uppercase;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

#portal-breadcrumbs > span {
  font-size: .833em;
}

#portal-breadcrumbs > span > a {
  font-size: 1em;
}

#portal-breadcrumbs > span > a:hover {
  text-decoration: underline;
}

#portal-breadcrumbs > span.breadcrumbSeparator {
  color: black;
}

#main #portal-breadcrumbs {
  margin-top: 1.923em;
  margin-bottom: 1.923em;
}

#content {
  margin: 0;
}

.clear {
  clear: both;
}

#content img {
  max-width: 100%;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

dl.portlet {
  margin-bottom: 0;
}

dl.portlet dt.hiddenStructure {
  display: none;
}

#portal-column-one dl.portlet {
  border: none;
}

#portal-column-one .portletNavigationTree {
  margin-bottom: 3.61em;
}

dl.portlet dt {
  border-bottom: 1px solid #c1c1c1;
  background: transparent;
  color: #444;
  text-transform: uppercase;
}

.portlet-static-centrais-de-conteudos .portletHeader,
.portletNavigationTree .portletHeader {
  margin: 0;
  padding: 8px 8px 24px 10px;
  border-bottom: none;
  background: #edeff1;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}

.portletNavigationTree > .portletItem > .navTree > .navTreeItem > a > span,
.portletStaticText > .portletItem > .list-central > .item-central > a {
  font-size: 1.15em;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

.portletNavigationTree {
  border-bottom: 1px solid #ddd;
}

.portletNavigationTree li {
  list-style: none !important;
}

.portletNavigationTree > .portletItem a span,
.item-central .link-central {
  color: #172938 !important;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
  margin: 0;
  padding: 0 !important;
  border-top: 1px solid #dfdfdf;
  border-bottom: none;
  list-style: none;
}

dl.portlet ul.navTreeLevel0 > .last-item {
  border-bottom: 1px solid #dfdfdf;
}

dl.portlet ul.navTree li a {
  padding: .55em 1.043em !important;
  line-height: 1.3em !important;
}

#content img {
  max-width: 100%;
  height: auto;
}

.portlet-static-centrais-de-conteudos .portletItem {
  padding: 0 !important;
}

.portlet-static-centrais-de-conteudos .list-central {
  margin: 0;
  padding: 0;
}

.list-central .item-central {
  padding: 4px 0 3px;
  border-bottom: 1px solid #d6dcd7;
  list-style: none;
}

.list-central .item-central.first {
  border-top: 1px solid #d6dcd7;
}

.item-central .link-central {
  display: block;
  padding-left: 50px;
  height: 40px;
  line-height: 40px;
}

.item-central .link-videos {
  background-position: 0 -156px;
}

.item-central .link-audios {
  background-position: -1px -108px;
}

.item-central .link-fotos {
  background-position: -1px -300px;
}

.item-central .link-infograficos {
  background-position: -1px -204px;
}

.item-central .link-publicacoes {
  background-position: -1px -252px;
}

.item-central .link-aplicativos {
  background-position: -1px -350px;
}

dl.portlet li {
  margin-bottom: .25em;
  list-style: square outside;
  line-height: 1.5em !important;
}

.portaltype-collective-cover-content #content .row {
  margin: 0;
  padding: 0;
}

.tile {
  clear: both;
  margin-bottom: 1.8em;
}

.tile h1 {
  margin: 0 0 10px 0;
  border-bottom: none;
  text-transform: none;
  font-size: 2.8em;
  line-height: 1.1em;
}

.tile h2 {
  margin: 0;
  margin-bottom: .5em;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.345em;
}

.tile h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
}

.tile .tile-subtitle {
  margin-bottom: .7em !important;
  color: #2c67cd;
  text-transform: uppercase;
  font-weight: normal;
  font-size: .9em;
}

#content .tile-description {
  margin: 0;
}

.cover-collection-tile .tile-header span {
  display: block;
  margin-bottom: .5em;
  color: #444a53;
  font-weight: normal;
  font-family: open_sansbold, Arial, Helvetica, sans-serif;
}

.lista-vertical {
  border: 1px solid #c0c1c3;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #eeeff1 !important;
}

.lista-vertical .tile-header {
  margin: 0;
  padding: .5em 1em;
  border-bottom: 1px solid #c0c1c3;
  color: #464a53;
  text-transform: uppercase;
}

.lista-vertical .tile-header span {
  font-size: 1.3em;
}

.lista-vertical .tile-footer {
  float: left;
  margin: 0;
  padding: 1% 2.5%;
  width: 95%;
  border-top: 1px solid #c0c1c3;
  color: #464a53;
  text-transform: uppercase;
}

.lista-vertical .tile-footer a {
  font-size: 11px;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

.lista-vertical .collection-item a {
  color: #365073 !important;
}

.lista-vertical .collection-item {
  display: block;
  clear: both;
  margin: 0;
  padding: 0 9px;
  border-bottom: 1px dotted #c1c2c2;
  position: relative;
}

.lista-vertical .collection-item h3 {
  margin: 1.2em 0 !important;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
}

.tile p {
  color: #172938;
  font-size: 1.15em;
  line-height: 1.25em;
}

.left {
  float: left;
  margin: 0 10px 10px 0;
}

.right {
  float: right;
  margin: 0 0 10px 10px;
}

.collection-item h3 {
  margin-bottom: .5em;
}

.cover-collection-tile .collection-item h3 {
  letter-spacing: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.cover-collection-tile .collection-item h3 {
  font-size: 1.16em;
  line-height: 1.16em;
}

.cover-collection-tile .tile-footer a {
  font-size: .9em;
}

#content .outstanding-header h2 {
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

.outstanding-header .outstanding-title {
  margin-left: 0;
  padding: .45em;
  border-top: 2px solid #172838;
  border-bottom: 1px solid #ccc;
  color: #2c67cd;
  font-size: 1.7em;
  line-height: 1em;
}

#content .tile .outstanding-header .outstanding-title {
  margin-bottom: .85em;
  padding-right: 3.464em;
  padding-bottom: 0;
  font-weight: normal !important;
}

.outstanding-header h2 {
  min-height: 48px;
  font-size: 1.62em !important;
}

#content .outstanding-header .outstanding-link {
  position: static;
  display: block;
  margin: .9em .9em .9em .6em;
  padding: .3em 2.7em .3em .3em;
  min-height: 1.3em;
  width: auto;
  background-position: right 50%;
  text-align: right;
  text-transform: uppercase;
  font-size: .9em;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  line-height: 1.2em;
}

.azul-claro .outstanding-header {
  min-height: 40px;
  border-top: 2px solid #3867b7;
  background: #eeeff1;
}

.azul-claro .outstanding-header .outstanding-title {
  border-color: #3867b7;
  border-bottom: none;
  background: #eeeff1;
  color: #3867b7;
}

.azul-claro .outstanding-header .outstanding-link {
  background: url('/img/seta_azul-claro.png') no-repeat scroll right 5px transparent;
}

#wrapper #footer {
  padding: 20px 0;
  min-height: 50px;
  width: 100%;
}

#wrapper #footer > div {
  margin: 2em auto;
  padding-top: 1em;
  max-width: 960px;
}

#voltar-topo {
  margin-top: 1.915em;
  text-align: right;
}

#voltar-topo a {
  padding-left: 20px;
  background: url('/img/voltar-topo.png') no-repeat left center;
  color: #777;
  font-size: .9em;
}

#doormat-container {
  float: none;
}

#doormat-container dl {
  margin: 0 0 20px 0;
}

#doormat-container .doormatColumn {
  text-align: left;
}

#doormat-container dt {
  padding-left: .6em;
  font-size: 2em;
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}

#doormat-container dd {
  padding: .5em 1.2em 0 1.2em;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

#doormat-container dd a {
  font-size: 1.4em;
}

#doormat-container.columns-4 .doormatColumn {
  width: 22%;
}

.menuTrigger {
  display: none;
}

.tile-footer {
  text-align: right;
}

.tile img.right {
  float: right;
  margin: 0 0 .5em 0;
}

.tile img.left {
  float: left;
  margin: 0 1em .5em 0;
}



#portal-searchbox {
  border: 1px solid #ccc;
}

#social-icons a,
.item-central .link-videos,
.item-central .link-audios,
.item-central .link-infograficos,
.item-central .link-publicacoes,
.item-central .link-fotos,
.item-central .link-aplicativos,
#header input.searchButton {
  background-image: url('../img/sprite.png');
}

.portlet-static-centrais-de-conteudos .portletHeader,
.portletNavigationTree .portletHeader {
  border-top: 4px solid #00510f;
  color: #00510f;
}

.tile a {
  color: #162937 !important;
}

#footer {
  background: #034811;
  color: #fff;
}

#footer a {
  color: #fff;
}

#doormat-container {
  background: #034811;
}

#doormat-container dl {
  border-left: 1px dotted #7dc48a;
}

#doormat-container dt {
  color: #7dc48a;
}

h2.titulo-destaque {
  font-weight: bold;
}

.busca-principal {
  background-color: #e5e8ea;
  padding: 15px;
  font-family: Open Sans, arial, sans-serif;
  font-size: 13px;
  border-top: 4px solid #a8a7a7;
}

.busca-principal > p {
  margin: 0;
  color: #2c66ce;
  text-transform: uppercase;
  font-weight: bold;
}

body.contraste .busca-principal {
  background-color: black;
}

.busca-principal > form > input[type='text'] {
  width: 98%;
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  margin-top: 5px;
  padding-right: 0;
}

.busca-principal > form > input[type='submit'] {
  width: 100px;
  height: 26px;
  color: #fff;
  background-color: #7d7d7d;
  display: block;
  font-family: Open Sans, arial, sans-serif;
  border: 1px solid #7d7d7d;
  border-radius: 4px;
  font-weight: bold;
}

span.ticket-erro {
  font-weight: bold;
  font-family: Courier, monospaced;
}

.markdown {
  margin-bottom: 2em;
}

.markdown h1,
.markdown h2 {
  margin-bottom: .5em;
}

.markdown ul li {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
  font-size: 1.15em;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.markdown ul li a {
  text-decoration: underline;
  color: blue !important;
}

a.acao {
  border: 1px solid black;
  padding: 8px;
  background: green;
  text-decoration: none;
  margin-bottom: 14px;
  display: inline-block;
}

a:visited.acao, a:link.acao {
  color: white !important;
}

a.acao:hover {
  color: #A0B69F !important;
}

#content hr {
  margin-bottom: 15px;
}

ul#resultados-linhadavida {
    margin-top: 30px;
}

ul#resultados-linhadavida p {
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 30px;
  border-bottom: 1px solid #D3DADF;
  padding-bottom: 20px;
}