@media screen {

  * {
    margin: 0;
    padding: 0;
  }

  * :link,
  :visited {
    text-decoration: none;
  }

  * ul {
    list-style: none;
  }

  * li {
    display: inline;
  }

  * h1,
  h2,
  h3 {
    font-size: 1em;
  }

  * a img,
  :link img,
  :visited img {
    border: none;
  }

  a {
    outline: none;
  }

  img {
    vertical-align: text-bottom;
  }
}

@media screen {

  dl.portlet li {
    margin-bottom: .25em;
    line-height: 1.5em;
    display: list-item;
  }

  .hiddenStructure {
    display: block;
    background: transparent;
    background-image: none;
    /* safari bug */
    border: none;
    height: .1em;
    overflow: hidden;
    padding: 0;
    margin: -.1em 0 0 -.1em;
    width: 1px;
  }

  .visualClear {
    clear: both;
  }

  #ajax-spinner {
    display: none;
    width: 20px;
    height: 20px;
    position: fixed;
    background-position: center center;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
  }

}

@media screen {

  body {
    font: 100% Arial, FreeSans, sans-serif;
    background: White;
    color: Black;
  }

  h1,
  h2,
  h3 {
    font-family: 'Helvetica Neue', Arial, FreeSans, sans-serif;
    font-weight: bold;
    color: Black;
    line-height: 1.5em;
  }

  h1,
  h2 {
    letter-spacing: -.05em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.25em;
  }

  h2,
  h3 {
    color: #444;
  }

  h2 a,
  h3 a {
    border-bottom: none !important;
  }

  a:link,
  a:visited {
    color: #205c90;
  }

  a:focus img {
    outline: thin dotted;
  }

  dt {
    font-weight: bold;
  }

  input {
    font-family: 'Lucida Grande', Arial, FreeSans;
  }

  #portal-logo {
    display: inline-block;
    margin: 1.375em 0;
  }

  #portal-searchbox {
    float: right;
    text-align: left;
    clear: right;
    margin: 1.2em 0;
    font-size: 80%;
  }

  #portal-searchbox form {
    white-space: nowrap;
  }

  #portal-searchbox label {
    font-weight: normal;
  }

  input.searchField {
    -moz-appearance: searchfield;
  }

  #portal-breadcrumbs {
    font-size: 80%;
    margin-bottom: 1em;
    margin-left: .25em;
  }

  #portal-breadcrumbs a {
    border-bottom: none;
    display: inline-block;
  }

  #portal-siteactions {
    font-size: 85%;
    padding-bottom: 2em;
    text-align: center;
    clear: left;
  }

  #portal-siteactions li {
    margin-right: .5em;
  }

  #portal-siteactions li a:hover {
    color: #75ad0a;
  }

  #content {
    line-height: 1.5em;
    clear: both;
    font-size: 80%;
    margin: 1em .25em 2em .25em;
  }

  #content h1 {
    margin-top: .5em;
  }

  #content p,
  dl.portlet {
    margin-bottom: 1em;
  }

  #content a:link,
  dl.portlet a:link {
    color: #205c90;
    border-bottom: .1em solid #ccc;
  }

  #content a:visited,
  dl.portlet a:visited {
    color: #427597;
    border-bottom: .1em solid #ccc;
  }

  #content a:hover,
  dl.portlet a:hover {
    color: #75ad0a !important;
  }

  #content a:target {
    background-color: #ffb;
  }

@media screen {

  div.row {
    float: left;
    width: 100%;
    display: block;
    position: relative;
  }

  div.cell {
    position: relative;
    float: left;
    left: 100%;
  }

  div.width-5 {
    width: 29%;
  }

  div.width-8 {
    width: 47.022%
  }

  div.width-16 {
    width: 97.75%;
  }

  div.position-0 {
    margin-left: -98.875%;
  }

  div.position-5 {
    margin-left: -67.625%;
  }

  div.position-8 {
    margin-left: -47.022%;
  }

  div.position-10 {
    margin-left: -36.375%;
  }

  div.width-1\3a 4 {
    width: 22.75%;
  }

  div.width-3\3a 4 {
    width: 72.75%;
  }

  div.position-1\3a 4 {
    margin-left: -73.875%;
  }
}

@media screen {

  dl.portlet {
    margin: 0 0 1em;
    font-size: 80%;
  }

  dl.portlet dt {
    padding: .42em 1em;
    background: #ddd;
    line-height: normal;
  }

  dl.portlet dt.hiddenStructure {
    padding: 0;
  }

  dl.portlet dd.portletItem {
    padding: 1em;
  }

  dl.portlet ul.navTree li a {
    border: none;
    display: block;
    zoom: 1;
  }

  dl.portletNavigationTree dd.portletItem {
    padding: 0;
  }

  dl.portlet ul.navTreeLevel0 > .navTreeItem {
    padding: .25em 1em;
    border-bottom: .1em dotted #ddd;
    line-height: 2em;
  }
}

@media screen {

  fieldset {
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 1em 1em;
    width: auto;
  }

  input[type='text']:focus {
    background-color: #ffffe0;
  }

  label {
    font-weight: bold;
  }
}

#doormat-container {
  background: none repeat scroll 0 0 #ddd;
  font-size: 75%;
  margin: 1em 0;
  float: left;
  width: 100%;
}

#doormat-container dl {
  margin: .5em 0;
}

#doormat-container dl dd {
  margin-left: 0;
}

#doormat-container .doormatColumn {
  float: left;
  margin: 0 1em;
}

#doormat-container.columns-4 .doormatColumn {
  width: 23%;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sanslight';
  src: url('/fonts/opensans-300-webfont.eot');
  src: url('/fonts/opensans-300-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-300-webfont.woff') format('woff'),
  url('/fonts/opensans-300-webfont.ttf') format('truetype'),
  url('/fonts/opensans-300-webfont.svg#open_sanslight') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sansregular';
  src: url('/fonts/opensans-400-webfont.eot');
  src: url('/fonts/opensans-400-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-400-webfont.woff') format('woff'),
  url('/fonts/opensans-400-webfont.ttf') format('truetype'),
  url('/fonts/opensans-400-webfont.svg#open_sansregular') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sanssemibold';
  src: url('/fonts/opensans-600-webfont.eot');
  src: url('/fonts/opensans-600-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-600-webfont.woff') format('woff'),
  url('/fonts/opensans-600-webfont.ttf') format('truetype'),
  url('/fonts/opensans-600-webfont.svg#open_sanssemibold') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sansbold';
  src: url('/fonts/opensans-700-webfont.eot');
  src: url('/fonts/opensans-700-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-700-webfont.woff') format('woff'),
  url('/fonts/opensans-700-webfont.ttf') format('truetype'),
  url('/fonts/opensans-700-webfont.svg#open_sansbold') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'open_sansextrabold';
  src: url('/fonts/opensans-800-webfont.eot');
  src: url('/fonts/opensans-800-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-800-webfont.woff') format('woff'),
  url('/fonts/opensans-800-webfont.ttf') format('truetype'),
  url('/fonts/opensans-800-webfont.svg#open_sansextrabold') format('svg');
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 62.5%;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#content h1 {
  margin-top: 0 !important;
}

a:link,
#content a:link,
dl.portlet a:link {
  border-bottom: none;
  color: #2c67cd;
}

a:visited,
#content a:visited,
dl.portlet a:visited {
  color: #2c67cd;
}

#content a:hover,
dl.portlet a:hover {
  color: #000 !important;
}

a:focus {
  outline: 2px solid #f1ca7f;
}

a:hover,
a:active {
  outline: none;
}

h1 {
  border-bottom: none;
  color: #172838;
  font-size: 2em;
}

h2,
h3 {
  color: #231f20;
}

h1 {
  margin: .5em 0 .5em;
  line-height: 1.3em;
}

h2,
h3 {
  margin: 0 0 .5em 0;
  line-height: 1.3em;
}

p {
  margin: 0 0 1em 0;
  line-height: 1.8em;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  font-size: 1.2em;
}

#main {
  margin: 0 auto;
  padding: 0 0 1.5em;
  max-width: 960px;
  background: #fff;
  font-size: 1.3em;
}

#portal-column-one {
  margin-left: -100%;
  width: 15.625%;
}

div.width-3\3a 4 {
  width: 79.75%;
}

div.width-5 {
  width: 30.042%;
}

div.width-16 {
  width: 97.963%;
}

div.position-0 {
  margin-left: -97.963%;
}

div.position-1\3a 4 {
  margin-left: -79.755%;
}

div.position-5 {
  margin-left: -64.002%;
}

div.position-10 {
  margin-left: -30.042%;
}

#header > div {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 960px;
}

#accessibility {
  display: block !important;
  float: left;
  width: 50%;
  font-size: .88em;
  font-family: Arial, Helvetica, sans-serif;
}

#accessibility a {
  margin-right: 8px;
}

#accessibility span {
  padding: 0 4px;
}

#logo {
  float: left;
  padding: 0;
  width: 70%;
}

#logo span {
  position: absolute;
  display: block;
  line-height: 1em;
}

#portal-logo {
  display: block;
  margin: 0;
  width: 100%;
}

#portal-title {
  margin: 0;
  margin: 30px 0 46px;
  color: #fff;
  font-size: 3.35em;
  font-family: 'open_sansextrabold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1em;
}

#portal-title-1 {
  top: 30px;
}

#portal-description {
  bottom: 24px;
  text-transform: uppercase;
  font-size: 1.2em;
}

#portal-siteactions {
  display: block;
  float: right;
  clear: none;
  padding-bottom: 2px;
  font-size: .93em;
}

#portal-siteactions li {
  display: inline;
}

#portal-siteactions a {
  padding: 4px 0 4px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

#siteaction-accessibility a {
  padding-left: 0;
}

#portal-siteactions .last-item {
  margin-right: 0;
}

#social-icons {
  float: right;
  clear: right;
  margin: 1.167em 0;
}

#social-icons li {
  display: inline-block;
}

#social-icons a {
  display: block;
  overflow: hidden;
  margin: 0 0 0 5px;
  width: 20px;
  height: 20px;
  border: none;
  text-indent: 100%;
  white-space: nowrap;
  opacity: .85;
  filter: alpha(opacity=85);
  border-radius: 4px;
}

#social-icons a:focus,
#social-icons a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#portalredes-facebook a {
  background-position: -80px -25px;
}

#portalredes-twitter a {
  background-position: -155px -25px;
}

#portalredes-youtube a {
  background-position: -130px -25px;
}

#portalredes-flickr a {
  background-position: -105px -25px;
}

#portalredes-googleplus a {
  background-position: -130px 0;
}

#portalredes-slideshare a {
  background-position: 45px 0;
}

#portalredes-soundcloud a {
  background-position: 20px 0;
}

#portalredes-rss a {
  background-position: 145px -25px;
}

#portalredes-instagram a {
  background-position: 69px -49px;
}

#portalredes-tumblr a {
  background-position: 96px -49px;
}

#sobre {
  clear: both;
  margin: 0;
  padding: 5px 0;
  max-width: 100% !important;
  line-height: 20px;
}

#sobre ul {
  margin: 0 auto;
  max-width: 960px;
  text-align: right;
}

#sobre .portalservicos-item a {
  padding: 0 10px;
}

#sobre .last-item a {
  padding: 0 0 0 10px;
  border-right: none !important;
}

.LSBox {
  margin: 0;
  padding: 0;
  border: none;
}

input.searchField {
  -moz-appearance: none;
}

#portal-searchbox {
  float: right;
  clear: right !important;
  margin: 3.12em 0 0 0;
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  text-align: right;
  font-size: 80%;
}

#portal-searchbox .searchField {
  padding: .3em .35em;
  width: 186px;
  border: none;
  border-right: none;
  font-size: 1.2em;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

#header input.searchButton {
  padding: .3em;
  padding: 4px 15px;
  border: none;
  background: transparent;
  text-indent: -2000px;
}

#header input.searchButton {
  background-position: 0 2px;
  padding-right: 5px;
}

#portal-breadcrumbs span#breadcrumbs-you-are-here {
  color: #000;
  margin-right: .5em;
}

#portal-breadcrumbs a,
#portal-breadcrumbs span {
  color: #2c66ce;
  text-transform: uppercase;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

#portal-breadcrumbs > span {
  font-size: .833em;
}

#portal-breadcrumbs > span > a {
  font-size: 1em;
}

#portal-breadcrumbs > span > a:hover {
  text-decoration: underline;
}

#main #portal-breadcrumbs {
  margin-top: 1.923em;
  margin-bottom: 1.923em;
}

#content {
  margin: 0;
}

.clear {
  clear: both;
}

#content img {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

dl.portlet {
  margin-bottom: 0;
}

dl.portlet dt.hiddenStructure {
  display: none;
}

#portal-column-one dl.portlet {
  border: none;
}

#portal-column-one .portletNavigationTree {
  margin-bottom: 3.61em;
}

dl.portlet dt {
  border-bottom: 1px solid #c1c1c1;
  background: transparent;
  color: #444;
  text-transform: uppercase;
}

.portlet-static-centrais-de-conteudos .portletHeader,
.portletNavigationTree .portletHeader {
  margin: 0;
  padding: 8px 8px 24px 10px;
  border-bottom: none;
  background: #edeff1;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}

.portletNavigationTree > .portletItem > .navTree > .navTreeItem > a > span,
.portletStaticText > .portletItem > .list-central > .item-central > a {
  font-size: 1.15em;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

.portletNavigationTree {
  border-bottom: 1px solid #ddd;
}

.portletNavigationTree li {
  list-style: none !important;
}

.portletNavigationTree > .portletItem a span,
.item-central .link-central {
  color: #172938 !important;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
  margin: 0;
  padding: 0 !important;
  border-top: 1px solid #dfdfdf;
  border-bottom: none;
  list-style: none;
}

dl.portlet ul.navTreeLevel0 > .last-item {
  border-bottom: 1px solid #dfdfdf;
}

dl.portlet ul.navTree li a {
  padding: .55em 1.043em !important;
  line-height: 1.3em !important;
}

#content img {
  max-width: 100%;
  height: auto;
}

.portlet-static-centrais-de-conteudos .portletItem {
  padding: 0 !important;
}

.portlet-static-centrais-de-conteudos .list-central {
  margin: 0;
  padding: 0;
}

.list-central .item-central {
  padding: 4px 0 3px;
  border-bottom: 1px solid #d6dcd7;
  list-style: none;
}

.list-central .item-central.first {
  border-top: 1px solid #d6dcd7;
}

.item-central .link-central {
  display: block;
  padding-left: 50px;
  height: 40px;
  line-height: 40px;
}

.item-central .link-videos {
  background-position: 0 -156px;
}

.item-central .link-audios {
  background-position: -1px -108px;
}

.item-central .link-fotos {
  background-position: -1px -300px;
}

.item-central .link-infograficos {
  background-position: -1px -204px;
}

.item-central .link-publicacoes {
  background-position: -1px -252px;
}

.item-central .link-aplicativos {
  background-position: -1px -350px;
}

dl.portlet li {
  margin-bottom: .25em;
  list-style: square outside;
  line-height: 1.5em !important;
}

.portaltype-collective-cover-content #content .row {
  margin: 0;
  padding: 0;
}

.tile {
  clear: both;
  margin-bottom: 1.8em;
}

.tile h1 {
  margin: 0 0 10px 0;
  border-bottom: none;
  text-transform: none;
  font-size: 2.8em;
  line-height: 1.1em;
}

.tile h2 {
  margin: 0;
  margin-bottom: .5em;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.345em;
}

.tile h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
}

.tile .tile-subtitle {
  margin-bottom: .7em !important;
  color: #2c67cd;
  text-transform: uppercase;
  font-weight: normal;
  font-size: .9em;
}

#content .tile-description {
  margin: 0;
}

.cover-collection-tile .tile-header span {
  display: block;
  margin-bottom: .5em;
  color: #444a53;
  font-weight: normal;
  font-family: open_sansbold, Arial, Helvetica, sans-serif;
}

.lista-vertical {
  border: 1px solid #c0c1c3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #eeeff1 !important;
}

.lista-vertical .tile-header {
  margin: 0;
  padding: .5em 1em;
  border-bottom: 1px solid #c0c1c3;
  color: #464a53;
  text-transform: uppercase;
}

.lista-vertical .tile-header span {
  font-size: 1.3em;
}

.lista-vertical .tile-footer {
  float: left;
  margin: 0;
  padding: 1% 2.5%;
  width: 95%;
  border-top: 1px solid #c0c1c3;
  color: #464a53;
  text-transform: uppercase;
}

.lista-vertical .tile-footer a {
  font-size: 11px;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

.lista-vertical .collection-item a {
  color: #365073 !important;
}

.lista-vertical .collection-item {
  display: block;
  clear: both;
  margin: 0;
  padding: 0 9px;
  border-bottom: 1px dotted #c1c2c2;
  position: relative;
}

.lista-vertical .collection-item h3 {
  margin: 1.2em 0 !important;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
}

.tile p {
  color: #172938;
  font-size: 1.15em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25em !important;
}

.left {
  float: left;
  margin: 0 10px 10px 0;
}

.right {
  float: right;
  margin: 0 0 10px 10px;
}

.collection-item h3 {
  margin-bottom: .5em;
}

.cover-collection-tile .collection-item h3 {
  letter-spacing: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.cover-collection-tile .collection-item h3 {
  font-size: 1.16em;
  line-height: 1.16em;
}

.cover-collection-tile .tile-footer a {
  font-size: .9em;
}

#content .outstanding-header h2 {
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

.outstanding-header .outstanding-title {
  margin-left: 0 !important;
  padding: .45em;
  border-top: 2px solid #172838;
  border-bottom: 1px solid #ccc;
  color: #2c67cd;
  font-size: 1.7em;
  line-height: 1em;
}

#content .tile .outstanding-header .outstanding-title {
  margin-bottom: .85em;
  padding-right: 3.464em;
  padding-bottom: 0;
  font-weight: normal !important;
}

.outstanding-header h2 {
  min-height: 48px;
  font-size: 1.62em !important;
}

#content .outstanding-header .outstanding-link {
  position: static;
  display: block;
  margin: .9em .9em .9em .6em;
  padding: .3em 2.7em .3em .3em;
  min-height: 1.3em;
  width: auto;
  background-position: right 50%;
  text-align: right;
  text-transform: uppercase;
  font-size: .9em;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  line-height: 1.2em;
}

.azul-claro .outstanding-header {
  min-height: 40px;
  border-top: 2px solid #3867b7;
  background: #eeeff1;
}

.azul-claro .outstanding-header .outstanding-title {
  border-color: #3867b7;
  border-bottom: none;
  background: #eeeff1;
  color: #3867b7;
}

.azul-claro .outstanding-header .outstanding-link {
  background: url('/img/seta_azul-claro.png') no-repeat scroll right 5px transparent;
}

#wrapper #footer {
  padding: 20px 0;
  min-height: 50px;
  width: 100%;
}

#wrapper #footer > div {
  margin: 2em auto;
  padding-top: 1em;
  max-width: 960px;
}

#voltar-topo {
  margin-top: 1.915em;
  text-align: right;
}

#voltar-topo a {
  padding-left: 20px;
  background: url('/img/voltar-topo.png') no-repeat left center;
  color: #777;
  font-size: .9em;
}

#doormat-container {
  float: none;
}

#doormat-container dl {
  margin: 0 0 20px 0;
}

#doormat-container .doormatColumn {
  text-align: left;
}

#doormat-container dt {
  padding-left: .6em;
  font-size: 2em;
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}

#doormat-container dd {
  padding: .5em 1.2em 0 1.2em;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

#doormat-container dd a {
  font-size: 1.4em;
}

#doormat-container.columns-4 .doormatColumn {
  width: 22%;
}

.menuTrigger {
  display: none;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
  #header {
    padding-top: 1em !important;
  }

  #portal-siteactions {
    position: static;
    float: none;
    clear: both;
    padding: 0 0 .5em;
    font-size: .9em;
  }

  #main {
    padding-top: 0;
    max-width: 100% !important;
  }

  #sobre .last-item a {
    padding: 0 10px;
  }

  #portal-breadcrumbs,
  #accessibility,
  #doormat-container {
    display: none !important;
  }

  #portal-column-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
  }

  .menuTrigger {
    display: block;
    height: 73px;
    text-indent: -9999px;
    cursor: pointer;
  }

  body.contraste .menuTrigger {
    background: #000 url('/img/bg-menu-mobile-contraste.png') top right no-repeat;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  #navigation #portal-column-one {
    display: none;
  }

  #navigation.ativo #portal-column-one {
    display: block;
  }

  .portlet-static-centrais-de-conteudos .portletHeader,
  .portletNavigationTree .portletHeader {
    position: relative;
    margin: 0;
    padding: 30px 0;
    border-top: none;
    border-bottom: 1px solid #cdd4d0;
    text-indent: 30px;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
  }

  #portal-column-one dl.portlet {
    margin-bottom: 0;
  }

  #portal-column-one .portletStaticText,
  #portal-column-one dl.portlet dd {
    display: none;
  }

  dl.portlet ul.navTreeLevel0 > .navTreeItem {
    border-top: none;
    border-bottom: 1px solid #d2d2d2;
  }

  dl.portlet ul.navTreeLevel0 > .navTreeItem a {
    padding: 20px 35px !important;
    color: #454545;
    font-size: 24px;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  #wrapper {
    max-width: 100%;
  }

  #logo {
    min-width: 140px;
  }

  #main {
    max-width: 90%;
  }

  #portal-column-one,
  #portal-column-content {
    clear: both;
    margin-left: -98.875%;
    width: 97.75%;
  }

  #portal-searchbox {
    display: none;
  }
}

@media screen and (max-width: 480px) {

  #portal-siteactions a {
    padding-left: 0;
  }

  #portal-siteactions .last-item {
    margin-right: 0;
  }

  #voltar-topo a {
    margin-right: .5em;
  }

  #portal-description {
    bottom: 62px;
  }

  #sobre {
    background: none;
  }

  #social-icons {
    display: none;
  }

  #header {
    padding: 1em .5em;
    padding: 0 4%;
    width: 100%;
  }

  #header > div {
    width: 92%;
  }

  #header #accessibility {
    display: none !important;
  }

  #header #sobre {
    padding: 0 4%;
    width: 92%;
  }

  #sobre .last-item a {
    padding: 0 0 0 10px;
  }

  #portal-searchbox {
    position: relative;
    display: block;
    clear: left !important;
    margin: 0 !important;
    padding: 0;
    height: 41px;
    border: 0 none;
    border-radius: 0;
    background: none;
  }

  #portal-searchbox .searchField {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 39px;
    border: 0 none;
    border-top: 2px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    color: #064d13;
    text-indent: 13px;
    font-size: 18px;
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    line-height: 39px;
  }

  #header #portal-searchbox .searchButton {
    position: absolute;
    top: 7px;
    right: 13px;
    width: 30px;
    height: 30px;
    background: url('/img/search-button-30px.gif') no-repeat;
    cursor: pointer;
  }

  body.contraste #header #portal-searchbox .searchButton {
    background: url('/img/search-button-30px-contraste.gif') no-repeat;
  }

  body.contraste #portal-searchbox .searchField {
    border: 1px #fff solid;
    width: 99%;
  }

  #portal-title {
    margin: 30px 0 36px;
  }

  #header #portal-searchbox {
    border: none;
    margin-bottom: 10px !important;
  }

  #logo #portal-title {
    font-size: 3.5em;
    line-height: 1em;
  }

  #portal-searchbox {
    float: none;
    clear: both;
    margin: 0 auto 2%;
    width: 100%;
  }

  .cell {
    float: none !important;
    margin-left: -100% !important;
    width: 100% !important;
  }

  .left {
    float: none !important;
  }

  #logo {
    width: 100% !important;
  }

  #wrapper #footer > div {
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  #barra-brasil {
    min-width: 100% !important;
  }
}

body.contraste,
body.contraste #header,
body.contraste #footer,
body.contraste #main,
body.contraste #doormat-container,
body.contraste .outstanding-header .outstanding-title {
  background: #000 !important;
  color: #fff !important;
}

body.contraste #accessibility span {
  background: #fff !important;
  color: #000 !important;
}

body.contraste a,
body.contraste h1,
body.contraste h2,
body.contraste h3,
body.contraste #doormat-container dt,
body.contraste .portletNavigationTree > .portletItem a span,
body.contraste #portal-breadcrumbs a,
body.contraste #portal-breadcrumbs span,
body.contraste #content a:hover,
body.contraste dl.portlet a:hover,
body.contraste .tile-subtitle,
body.contraste .tile-content p,
body.contraste .tile p,
body.contraste .tile a,
body.contraste .item-central .link-central,
body.contraste #portal-siteactions a,
body.contraste #portal-siteactions a:hover,
body.contraste #logo #portal-logo,
body.contraste #logo #portal-title,
body.contraste .outstanding-header .outstanding-link,
body.contraste #content .outstanding-header .outstanding-link:hover,
body.contraste .lista-vertical .tile-header span,
body.contraste .cover-collection-tile .tile-header span {
  color: #fff !important;
}

body.contraste .portletHeader,
body.contraste #doormat-container .doormatColumn {
  border-color: #fff !important;
  background: #000 !important;
  color: #fff !important;
}

body.contraste #portal-siteactions {
  border-bottom: 1px dotted #fff;
}

body.contraste #sobre .portalservicos-item a {
  border-right: 1px solid #fff;
}

body.contraste #doormat-container dl {
  border-left: 1px dotted #fff;
}

body.contraste #sobre {
  background: #333;
}

body.contraste #social-icons a,
body.contraste #header input.searchButton,
body.contraste .item-central .link-videos,
body.contraste .item-central .link-audios,
body.contraste .item-central .link-infograficos,
body.contraste .item-central .link-publicacoes,
body.contraste .item-central .link-fotos,
body.contraste .item-central .link-aplicativos {
  background-image: url('/img/sprite-contraste.png');
}

body.contraste .outstanding-header .outstanding-link {
  background: url('/img/seta_branca.png') no-repeat scroll right 5px transparent;
}

body.contraste #portal-searchbox {
  border-color: #fff;
  background-color: #000;
}

body.contraste #portal-searchbox .searchField {
  background-color: #000;
  color: #fff !important;
}

body.contraste #header input.searchButton {
  background-color: #000;
  background-position: 0 2px;
}

body.contraste .outstanding-header .outstanding-title {
  border-top: 2px solid #fff;
  border-bottom: 1px solid #fff;
}

body.contraste .outstanding-header {
  border-top: 2px solid #fff;
  background: #000;
}

body.contraste #barra-brasil .link-barra {
  color: #606060 !important;
}

body.contraste .lista-vertical {
  border: 1px solid #fff;
  background: #000 !important;
}

body.contraste .portlet-static-centrais-de-conteudos .portletHeader,
body.contraste .portletNavigationTree .portletHeader {
  background: #000 url('/img/portlet-header-contraste.jpg') no-repeat 96% center !important;
}

.tile-footer {
  text-align: right;
}

.tile img.right {
  float: right;
  margin: 0 0 .5em 0;
}

.tile img.left {
  float: left;
  margin: 0 1em .5em 0;
}

#header {
  padding: 14px 0 0 0;
  background-color: #19882c;
  background-color: #0a5517;
  background-image: -moz-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#19882c), color-stop(100%, #025310));
  background-image: -webkit-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
  background-image: radial-gradient(ellipse at center, #19882c 1%, #025310 100%);
  color: #fff;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#19882c', endColorstr='#025310',GradientType=1);
}

#accessibility a {
  color: #fff;
}

#accessibility span {
  background: url('../img/bg-acess-key.gif') center center no-repeat;
  color: #060;
}

#portal-logo,
#portal-title {
  color: #fff !important;
}

#portal-siteactions {
  border-bottom: 1px dotted #9bc2a3;
}

#portal-siteactions a,
#portal-siteactions a:hover {
  color: #fff !important;
}

#sobre {
  background: #00420c;
}

#sobre a {
  color: #fff;
}

#sobre .portalservicos-item a {
  border-right: 1px solid #6c9072;
}

#portal-searchbox {
  border: 1px solid #ccc;
}

#social-icons a,
.item-central .link-videos,
.item-central .link-audios,
.item-central .link-infograficos,
.item-central .link-publicacoes,
.item-central .link-fotos,
.item-central .link-aplicativos,
#header input.searchButton {
  background-image: url('../img/sprite.png');
}

.portlet-static-centrais-de-conteudos .portletHeader,
.portletNavigationTree .portletHeader {
  border-top: 4px solid #00510f;
  color: #00510f;
}

.tile a {
  color: #162937 !important;
}

#footer {
  background: #034811;
  color: #fff;
}

#footer a {
  color: #fff;
}

#doormat-container {
  background: #034811;
}

#doormat-container dl {
  border-left: 1px dotted #7dc48a;
}

#doormat-container dt {
  color: #7dc48a;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
  .menuTrigger {
    background: #065116 url('../img/bg-menu-mobile.png') top right no-repeat;
  }

  .portlet-static-centrais-de-conteudos .portletHeader,
  .portletNavigationTree .portletHeader {
    background: #edeff1 url('../img/portlet-header.gif') no-repeat 96% center;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  #header #portal-searchbox .searchButton {
    background: url('../img/search-button-30px.png') no-repeat;
  }
}

h2.titulo-destaque {
  font-weight: bold;
}

.busca-principal {
	background-color: #e5e8ea;
	padding: 15px;
	font-family: Open Sans, arial, sans-serif;
	font-size: 13px;
	border-top: 4px solid #A8A7A7;
}

.busca-principal > p {
  margin: 0;
  color: #2c66ce;
  text-transform: uppercase;
  font-weight: bold;
}

body.contraste .busca-principal {
  background-color: black;
}

.busca-principal > form > input[type="text"] {
  width: 98%;
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  margin-top: 5px;
  padding-right: 0;
}

.busca-principal > form > input[type="submit"] {
  width: 100px;
  height: 26px;
  color: #ffffff;
  background-color: #7d7d7d;
  display: block;
  font-family: Open Sans, arial, sans-serif;
  border: 1px solid #7d7d7d;
  border-radius: 4px;
  font-weight: bold;
}

ul.detalhes-erro {
  padding: 10px;
  border: 1px dotted black;
}

ul.detalhes-erro > li {
  display: block;
}

ul.detalhes-erro > li > span {
  float: right;
}

.markdown h1,
.markdown h2 {
  margin-bottom: .5em;
}

.markdown ul li {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
  font-size: 1.15em;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.markdown ul li a {
  text-decoration: underline;
  color: blue !important;
}

#comecar {
  border: 1px solid black;
  padding: 8px;
  background: green;
  color: white !important;
  text-decoration: none;
  margin-top: 14px;
  display: inline-block;
}
