.caixa {
	background-color: #e5e8ea;
	padding: 15px;
	font-family: Open Sans, arial, sans-serif;
	font-size: 13px;
	border-top: 4px solid #A8A7A7;
}

.caixa p {
	margin: 0;
	color: #2c66ce;
	text-transform: uppercase;
	font-weight: bold;
}

input[type="text"] {
    width: 98%;
    display: block;
    margin-bottom: 10px;
    padding: 8px;
	border-radius: 5px;
	border: 1px solid #cfcfcf;
	margin-top: 5px;
	padding-right: 0;
}

input[type="submit"] {
    width: 100px;
    height: 26px;
    color: #ffffff;
    background-color: #7d7d7d;
    display: block;
    font-family: Open Sans, arial, sans-serif;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
    font-weight: bold;
}