@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,400);

#DIV_1 {
    color: rgb(255, 255, 255);
    height: 164px;
    width: 1280px;
    perspective-origin: 640px 89px;
    transform-origin: 640px 89px;
    background: rgb(10, 85, 23) radial-gradient(at 50% 50%, rgb(25, 136, 44) 1%, rgb(2, 83, 16) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 14px 0px 0px;
}/*#DIV_1*/

#DIV_2 {
    color: rgb(255, 255, 255);
    height: 134px;
    max-width: 960px;
    position: relative;
    width: 960px;
    perspective-origin: 480px 67px;
    transform-origin: 480px 67px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 160px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#DIV_2*/

#UL_3 {
    color: rgb(255, 255, 255);
    float: left;
    height: 12px;
    width: 480px;
    perspective-origin: 240px 6px;
    transform-origin: 240px 6px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 10.5600004196167px/normal Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#UL_3*/

#LI_4, #LI_7, #LI_10, #LI_13 {
    color: rgb(255, 255, 255);
    display: inline;
    height: auto;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 10.5600004196167px/normal Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_4, #LI_7, #LI_10, #LI_13*/

#A_5, #A_8, #A_11, #A_14 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 10.5600004196167px/normal Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_5, #A_8, #A_11, #A_14*/

#SPAN_6, #SPAN_9, #SPAN_15 {
    background-position: 50% 50%;
    color: rgb(0, 102, 0);
    text-align: left;
    background: rgba(0, 0, 0, 0) url(http://www.brasil.gov.br/++theme++verde/img/bg-acess-key.gif) no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(0, 102, 0);
    font: normal normal normal normal 10.5600004196167px/normal Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 102, 0) none 0px;
    padding: 0px 4px;
}/*#SPAN_6, #SPAN_9, #SPAN_15*/

#SPAN_12 {
    background-position: 50% 50%;
    color: rgb(0, 102, 0);
    text-align: left;
    background: rgba(0, 0, 0, 0) url(http://www.brasil.gov.br/++theme++verde/img/bg-acess-key.gif) no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(0, 102, 0);
    font: normal normal normal normal 10.5600004196167px/normal Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 102, 0) none 0px;
    padding: 0px 4px;
}/*#SPAN_12*/

#UL_16 {
    color: rgb(255, 255, 255);
    float: right;
    height: 15px;
    text-align: center;
    width: 289.984375px;
    perspective-origin: 144.984375px 9px;
    transform-origin: 144.984375px 9px;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px dotted rgb(155, 194, 163);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 2px;
}/*#UL_16*/

#LI_17, #LI_19 {
    color: rgb(255, 255, 255);
    display: inline;
    height: auto;
    text-align: center;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 11.1599998474121px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 5.57999992370606px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_17, #LI_19*/

#A_18 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 11.1599998474121px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 0px;
}/*#A_18*/

#A_20, #A_22 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 11.1599998474121px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 0px 4px 10px;
}/*#A_20, #A_22*/

#LI_21 {
    color: rgb(255, 255, 255);
    display: inline;
    height: auto;
    text-align: center;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 11.1599998474121px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_21*/

#DIV_23 {
    color: rgb(255, 255, 255);
    float: left;
    height: 116px;
    width: 672px;
    perspective-origin: 336px 58px;
    transform-origin: 336px 58px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_23*/

#A_24 {
    color: rgb(255, 220, 25);
    display: block;
    height: 40px;
    text-decoration: none;
    width: 672px;
    perspective-origin: 336px 20px;
    transform-origin: 336px 20px;
    border: 0px none rgb(255, 220, 25);
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 220, 25) none 0px;
}/*#A_24*/

#SPAN_25 {
    color: rgb(255, 220, 25);
    display: block;
    height: 0px;
    position: absolute;
    top: 30px;
    width: 0px;
    align-self: stretch;
    border: 0px none rgb(255, 220, 25);
    font: normal normal normal normal 12px/12px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 220, 25) none 0px;
}/*#SPAN_25*/

#H1_26 {
    height: 40px;
    letter-spacing: -2.00999999046326px;
    width: 672px;
    perspective-origin: 336px 20px;
    transform-origin: 336px 20px;
    border: 0px none rgb(255, 220, 25);
    font: normal normal normal normal 40.2000007629395px/40.2000007629395px "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 800;
    list-style: none outside none;
    margin: 30px 0px 46px;
    outline: rgb(255, 220, 25) none 0px;
}/*#H1_26*/

#H1_26 a, #H1_26 a:link, #H1_26 a:visited, #H1_26 a:hover, #H1_26 a:active {
    text-decoration: none;
    color: white;
}

#SPAN_27 {
    bottom: 24px;
    color: rgb(255, 220, 25);
    display: block;
    height: 0px;
    position: absolute;
    text-transform: uppercase;
    width: 0px;
    align-self: stretch;
    border: 0px none rgb(255, 220, 25);
    font: normal normal normal normal 14.3999996185303px/14.3999996185303px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 220, 25) none 0px;
}/*#SPAN_27*/

#DIV_28 {
    clear: right;
    color: rgb(255, 255, 255);
    float: right;
    height: 21.953125px;
    text-align: right;
    width: 214.0625px;
    perspective-origin: 110.03125px 13.96875px;
    transform-origin: 110.03125px 13.96875px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal normal 9.60000038146973px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 29.9520015716553px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 2px;
}/*#DIV_28*/

#FORM_29 {
    color: rgb(255, 255, 255);
    height: 21.953125px;
    text-align: right;
    white-space: nowrap;
    width: 214.0625px;
    perspective-origin: 107.03125px 10.96875px;
    transform-origin: 107.03125px 10.96875px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 9.60000038146973px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#FORM_29*/

#FIELDSET_30 {
    color: rgb(255, 255, 255);
    height: 21.953125px;
    text-align: right;
    white-space: nowrap;
    width: 214.0625px;
    perspective-origin: 107.03125px 10.96875px;
    transform-origin: 107.03125px 10.96875px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 9.60000038146973px/14.4000005722046px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#FIELDSET_30*/

#LEGEND_31 {
    color: rgb(255, 255, 255);
    height: 0.953125px;
    text-align: right;
    white-space: nowrap;
    width: 1px;
    perspective-origin: 0.5px 0.46875px;
    transform-origin: 0.5px 0.46875px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 9.60000038146973px/14.4000005722046px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: -0.960000038146973px 0px 0px -0.960000038146973px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 0px;
}/*#LEGEND_31*/

#LABEL_32 {
    color: rgb(255, 255, 255);
    display: block;
    height: 0.953125px;
    text-align: right;
    white-space: nowrap;
    width: 1px;
    perspective-origin: 0.5px 0.46875px;
    transform-origin: 0.5px 0.46875px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 9.60000038146973px/14.4000005722046px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: -0.960000038146973px 0px 0px -0.960000038146973px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#LABEL_32*/

#INPUT_33 {
    box-sizing: content-box;
    height: 15px;
    white-space: nowrap;
    width: 186px;
    perspective-origin: 97.03125px 10.953125px;
    transform-origin: 97.03125px 10.953125px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 11.5200004577637px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    padding: 3.45600008964539px 4.03200006484985px;
}/*#INPUT_33*/

#INPUT_34 {
    background-position: 0px 2px;
    cursor: default;
    height: 21px;
    text-align: center;
    text-indent: -2000px;
    white-space: pre;
    width: 20px;
    align-items: flex-start;
    perspective-origin: 10px 10.5px;
    transform-origin: 10px 10.5px;
    background: rgba(0, 0, 0, 0) url(http://www.brasil.gov.br/++theme++verde/img/sprite.png) repeat scroll 0px 2px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 11px/normal 'Lucida Grande', Arial, FreeSans;
    list-style: none outside none;
    padding: 4px 5px 4px 15px;
}/*#INPUT_34*/

#UL_36 {
    color: rgb(255, 255, 255);
    height: 23px;
    width: 125px;
    perspective-origin: 62.5px 11.5px;
    transform-origin: 62.5px 11.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#UL_36*/

#LI_37, #LI_39, #LI_41, #LI_43, #LI_45 {
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 20px;
    width: 25px;
    perspective-origin: 12.5px 10px;
    transform-origin: 12.5px 10px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_37, #LI_39, #LI_41, #LI_43, #LI_45*/

#A_38 {
    background-position: -155px -25px;
    color: rgb(44, 103, 205);
    display: block;
    height: 20px;
    opacity: 0.850000023841858;
    text-align: left;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 20px;
    z-index: 0;
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    background: rgba(0, 0, 0, 0) url(http://www.brasil.gov.br/++theme++verde/img/sprite.png) repeat scroll -155px -25px / auto padding-box border-box;
    border: 0px none rgb(44, 103, 205);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 5px;
    outline: rgb(44, 103, 205) none 0px;
    overflow: hidden;
}/*#A_38*/

#A_40 {
    background-position: -130px -25px;
    color: rgb(44, 103, 205);
    display: block;
    height: 20px;
    opacity: 0.850000023841858;
    text-align: left;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 20px;
    z-index: 0;
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    background: rgba(0, 0, 0, 0) url(http://www.brasil.gov.br/++theme++verde/img/sprite.png) repeat scroll -130px -25px / auto padding-box border-box;
    border: 0px none rgb(44, 103, 205);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 5px;
    outline: rgb(44, 103, 205) none 0px;
    overflow: hidden;
}/*#A_40*/

#A_42 {
    background-position: -80px -25px;
    color: rgb(44, 103, 205);
    display: block;
    height: 20px;
    opacity: 0.850000023841858;
    text-align: left;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 20px;
    z-index: 0;
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    background: rgba(0, 0, 0, 0) url(http://www.brasil.gov.br/++theme++verde/img/sprite.png) repeat scroll -80px -25px / auto padding-box border-box;
    border: 0px none rgb(44, 103, 205);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 5px;
    outline: rgb(44, 103, 205) none 0px;
    overflow: hidden;
}/*#A_42*/

#A_44 {
    background-position: -130px 0px;
    color: rgb(44, 103, 205);
    display: block;
    height: 20px;
    opacity: 0.850000023841858;
    text-align: left;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 20px;
    z-index: 0;
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    background: rgba(0, 0, 0, 0) url(http://www.brasil.gov.br/++theme++verde/img/sprite.png) repeat scroll -130px 0px / auto padding-box border-box;
    border: 0px none rgb(44, 103, 205);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 5px;
    outline: rgb(44, 103, 205) none 0px;
    overflow: hidden;
}/*#A_44*/

#A_46 {
    background-position: 145px -25px;
    color: rgb(44, 103, 205);
    display: block;
    height: 20px;
    opacity: 0.850000023841858;
    text-align: left;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 20px;
    z-index: 0;
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    background: rgba(0, 0, 0, 0) url(http://www.brasil.gov.br/++theme++verde/img/sprite.png) repeat scroll 145px -25px / auto padding-box border-box;
    border: 0px none rgb(44, 103, 205);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 12px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 5px;
    outline: rgb(44, 103, 205) none 0px;
    overflow: hidden;
}/*#A_46*/

#DIV_47 {
    clear: both;
    color: rgb(255, 255, 255);
    height: 20px;
    max-width: 100%;
    position: relative;
    width: 1280px;
    perspective-origin: 640px 15px;
    transform-origin: 640px 15px;
    background: rgb(0, 66, 12) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/20px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 5px 0px;
}/*#DIV_47*/

#UL_48 {
    color: rgb(255, 255, 255);
    height: 20px;
    max-width: 960px;
    text-align: right;
    width: 960px;
    perspective-origin: 480px 10px;
    transform-origin: 480px 10px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/20px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 160px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#UL_48*/

#LI_49, #LI_51, #LI_53 {
    color: rgb(255, 255, 255);
    display: inline;
    height: auto;
    text-align: right;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/20px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_49, #LI_51, #LI_53*/

#A_50, #A_52 {
    color: rgb(255, 255, 255);
    text-align: right;
    text-decoration: none;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgb(108, 144, 114);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/20px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#A_50, #A_52*/

#A_54 {
    color: rgb(255, 255, 255);
    text-align: right;
    text-decoration: none;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px/20px "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 0px 10px;
}/*#A_54*/

#voltar-topo {
    height: 21px;
    text-align: right;
    width: 960px;
    perspective-origin: 480px 10.5px;
    transform-origin: 480px 10.5px;
    font: normal normal normal normal 15.6000003814697px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 29.8740005493164px 0px 0px;
}

#voltar-topo a {
    background-position: 0% 50%;
    color: rgb(119, 119, 119);
    text-align: right;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) url(http://www.brasil.gov.br/portal_css/Sunburst%20Theme/++resource++brasil.gov.portal/img/voltar-topo.png) no-repeat scroll 0% 50% / auto padding-box border-box;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14.039999961853px/normal "OpenSans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 0px 0px 20px;
}