#wrapper {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 14px;
    margin-bottom: 14px
}

#wrapper * {
    font-family: "Open Sans";
}

#wrapper h1 {
    font-size: 34px;
    font-weight: bold;
    margin: 14px 0 14px 0;
}
