#wrapper {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 14px;
    margin-bottom: 14px;
    overflow: hidden;
    line-height: 150%;
}

#main p {
    margin-top: 14px;
}

#wrapper * {
    font-family: "Open Sans";
}

#wrapper h1 {
    font-size: 34px;
    font-weight: bold;
    margin: 14px 0 14px 0;
}

#wrapper #main {
    width: 690px;
    float: left;
}

#wrapper .aside {
    width: 240px;
    float: left;
    margin-left: 30px
}

#resultados-busca {
    margin: 14px 0 14px 0;
}

#resultados-busca li {
    margin-top: 14px;
    margin-bottom: 14px;
}

#resultados-busca h3 {
    font-weight: bold;
    margin-bottom: 14px;
}

#resultados-busca p {
    font-size: 80%;
}

#comecar {
    border: 1px solid black;
    padding: 8px;
    background: green;
    color: white;
    text-decoration: none;
    margin-top: 14px;
    display: inline-block;
}

.bloco {
    vertical-align: top;
    width: 45%;
    margin: 14px 14px 14px 14px;
    display: inline-block;
}

.bloco h3 {
    font-weight: bold;
    margin-bottom: 14px;
}

.bloco li {
    margin-bottom: 7px;
}

.orgao-prestador, .orgao-responsavel {
    margin: 14px 0 14px 0;
    font-style: italic;
}
    