<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>



<h3  id="servico-outras-info" class="subtitulo-servico">Outras informações</h3>
<div class="info-extra">
    <div class="row" th:unless="${servico.nomesPopulares == null or servico.nomesPopulares.isEmpty()}">
        <p>
            Você também pode conhecer este serviço como:
            <th:block th:text="${#strings.listJoin(servico.nomesPopulares, ', ')}"/>.
        </p>
    </div>
    <div th:unless="${servico.gratuito == 'false'}">
        <p>
            Este serviço é gratuito para o cidadão.
        </p>
    </div>
</div>

<div class="row">
    <p class="separacao-orgao">
        Este é um serviço
        <th:block th:text="${@genero.de(servico.orgao.id)}">do(a)</th:block>
        <a th:href="@{/orgao/{id}(id=${servico.orgao.id})}"
           th:text="${servico.orgao.nome}">
            Órgão responsavel
        </a>.
        Em caso de dúvidas, reclamações ou sugestões favor
        contactá-<th:block th:text="${@genero.lo(servico.orgao.id)}">lo(a)</th:block>.
    </p>

    <hr style="margin-top: 20px; border: none"/>
</div>
<div class="orgao-contato" th:unless="${servico.orgao.contato == null or servico.orgao.contato.isEmpty()}">
    <p>
        Para mais informações ou dúvidas sobre este serviço, entre em contato: <th:block th:text="${servico.orgao.contato}">
        Descrição do serviço</th:block>
    </p>
</div>

</body>
</html>