<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-branco">

<head>
    <title></title>
</head>
<body>

<span layout:fragment="migalhas-de-pao">
    <span class="separador">&gt;</span>
    <span itemprop="title" th:text="${conteudo.titulo}">Título do conteúdo</span>
</span>

<section layout:fragment="corpo">
    <div class="tile markdown" th:utext="${conteudo.html}"></div>
</section>

</body>
</html>
