<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title></title>
</head>
<body>

<span layout:fragment="link-migalha-de-pao-pai">
    Conteúdo
</span>

<span layout:fragment="link-migalha-de-pao">
    <span th:text="${conteudo.titulo}" itemprop="title">Título do Conteúdo</span>
</span>

<div layout:fragment="corpo">
    <div class="tile markdown" th:utext="${conteudo.html}"></div>
</div>

</body>
</html>
