<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title>Erro</title>
</head>
<body>

<span layout:fragment="link-migalha-de-pao">
    Erro
</span>

<div layout:fragment="corpo">

    <div class="row">
        <div class="cell width-16 position-0">
            <div class="tile">
                <h1>Ocorreu um erro</h1>

                <p>
                    A aplicação detectou uma falha inesperada. Por favor, tente a operação novamente.
                </p>

                <p>
                    Caso a falha persista, entre em contato com o suporte utilizando o identificador
                    <span class="ticket-erro"
                          th:text="${#httpServletRequest.getAttribute('req.ticket').substring(24)}"/>.
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
