<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title>Bem-vindo!</title>
</head>
<body>

<div layout:fragment="corpo">

    <div class="row">
        <div class="cell width-16 position-0">
            <div class="tile azul-claro">
                <div class="outstanding-header">
                    <h2 class="outstanding-title">Ocorreu um erro</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="cell width-8 position-0">
            <div class="tile">
                <p>
                    Esta página não pode ser exibida por causa de um erro em nosso sistema.
                </p>

                <p>
                    Desculpe-nos! O administrador foi notificado automaticamente e trabalhará para resolver o problema
                    o mais breve possível.
                </p>
            </div>
        </div>

        <div class="cell width-8 position-8">
            <div class="tile">
                <ul class="detalhes-erro">
                    <li>Caminho acessado: <span th:text="${path}"></span></li>
                    <li>Status: <span th:text="${status}"></span></li>
                    <li>Erro: <span th:text="${error}"></span></li>
                    <li>Hora: <span th:text="${timestamp}"></span></li>
                    <li>Classe de erro: <span th:text="${exception}"></span></li>
                    <li>Mensagem: <span th:text="${message}"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
