<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title>Bem-vindo!</title>
    <meta property="og:title" content="Guia de Serviços"/>
</head>
<body>

<div layout:fragment="corpo">


    <div class="bem-vindo">
        <header class="outstanding-header">
            <h1>Bem vindo ao Guia de Serviços</h1>
            <p> O objetivo deste guia é facilitar o acesso dos cidadãos aos serviços prestados pelos diversos órgãos do Governo Federal. Aqui você poderá encontrar informações úteis, começar um serviço e até agendar visitas a agências do governo.</p>
        </header>
    </div>


    <div class="busca-principal" th:classappend="${#httpServletRequest.requestURI} != '/' ? 'hidden'">
        <h3 class="titulo-busca">O que você está procurando?</h3>
        <form method="get" action="/busca">
            <input id="input-busca" type="text" name="q" value="" placeholder="Você pode pesquisar por assuntos, serviços, órgãos"/>
            <input type="submit" value="BUSCAR"/>
        </form>
    </div>


    <th:block th:with="it = ${destaques.iterator()}">
        <div th:replace="fragments/linha-destaques :: .row(destaques=${it})"></div>
        <div th:replace="fragments/linha-destaques :: .row(destaques=${it})"></div>
        <div th:replace="fragments/linha-destaques :: .row(destaques=${it})"></div>
        <div th:replace="fragments/linha-destaques :: .row(destaques=${it})"></div>
        <div th:replace="fragments/linha-destaques :: .row(destaques=${it})"></div>
    </th:block>

</div>

</body>
</html>
