<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-branco">

<head>
    <title>Página Inicial</title>
    <meta property="og:title" content="Guia de Serviços"/>
    <meta property="og:description" content="O objetivo deste ambiente é facilitar o acesso aos serviços prestados pelos diversos órgãos do Governo Federal. Aqui você poderá encontrar informações úteis, agendar um atendimento, entrar em contato com os órgãos e até começar um serviço."/>
</head>
<body>

<section layout:fragment="corpo">

    <div>
        <p class="titulo-bem-vindo">Bem-vindo ao Guia de Serviços!</p>
        <p>O objetivo deste ambiente é facilitar o acesso aos serviços prestados pelos diversos órgãos do Governo Federal. Aqui você poderá encontrar informações úteis, agendar um atendimento, entrar em contato com os órgãos e até começar um serviço.</p>
    </div>

    <div class="busca-principal" th:classappend="${#httpServletRequest.requestURI} != '/' ? 'hidden'">
        <h2 class="titulo-home">O que você está procurando?</h2>
        <form method="get" action="/busca">
            <input id="input-busca" type="search" maxlength="140" name="q" value="" title="Buscar por assuntos, serviços ou órgãos" placeholder="Você pode pesquisar por assuntos, serviços, órgãos"/>
            <input type="submit" value="BUSCAR" class="acao-busca"/>
        </form>
    </div>


    <div class="auto-grid">
        <h2 class="titulo-home">Serviços em destaque</h2>
        <ul id="destaques" th:if="${!destaques.isEmpty()}">
            <th:block th:each="item : ${destaques}">
                <li class="auto-cell">
                    <div th:replace="fragments/destaque :: .tile(servico=${item})"></div>
                </li>
            </th:block>
        </ul>
    </div>

</section>

</body>
</html>
