<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Guia de Serviços</title>

    <link rel="stylesheet" type="text/css" href="/assets/reset.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/base.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/public.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/columns.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/portlets.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/forms.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/print.css" media="print"/>
    <link rel="stylesheet" type="text/css" href="/assets/mobile.css" media="handheld, screen and (max-device-width: 480px)"/>
    <link rel="stylesheet" type="text/css" href="/assets/doormat.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/main-print.css" media="print"/>
    <link rel="stylesheet" type="text/css" href="/assets/cover.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" media="all" />

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
</head>

<body class="template-view portaltype-collective-cover-content">

<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
        <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
        <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
    </ul>
</div>

<div id="wrapper">

    <div id="header" role="banner">
        <div>
            <ul id="accessibility" th:replace="fragments2/acessibilidade :: #accessibility"></ul>
            <ul id="portal-siteactions" th:replace="fragments2/atalhos-teclado :: #portal-siteactions"></ul>
            <div id="logo" th:replace="fragments2/logo :: #logo"></div>
            <div id="portal-searchbox" th:replace="fragments2/busca :: #portal-searchbox"></div>
            <div id="social-icons" th:replace="fragments2/redes-sociais :: #social-icons"></div>
        </div>

        <div id="sobre" th:replace="fragments2/barra-servicos :: #sobre"></div>
    </div>

    <!-- content -->

    <div id="main" role="main">
        <div id="portal-features">

            <div id="featured-content"></div>
        </div>
        <div id="plone-content">

            <!-- Demo Plone Content -->

            <div id="portal-columns" class="row">

                <div id="viewlet-above-content">
                    <div id="portal-breadcrumbs">
                        <span id="breadcrumbs-you-are-here">Você está aqui:</span>
                        <span id="breadcrumbs-home">
                            <a href="/assets/index.html">Página Inicial</a>
                        </span>
                    </div>
                </div>

                <!-- Column 1 -->
                <div id="navigation">
                    <a name="anavigation" id="anavigation"></a>
                    <span class="menuTrigger">Menu</span>

                    <div id="portal-column-one" class="cell width-1:4 position-0">

                        <div class="portletWrapper first-item">
                            <dl class="portlet portletNavigationTree first-item-nav">
                                <dt class="portletHeader hiddenStructure">
                                    <span class="portletTopLeft"></span>
                                    Navegação
                                    <span class="portletTopRight"></span>
                                </dt>

                                <dd class="portletItem lastItem">
                                    <ul class="navTree navTreeLevel0">

                                        <li class="navTreeItem visualNoMarker section-nova-identidade-digital">
                                            <a href="/conteudos-de-marcacao/conheca-o-novo-modelo-da-identidade-digital-padrao-do-governo-federal"
                                               title="" class="state-published contenttype-link">
                                                <span>Conheça a identidade digital do governo</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker section-manuais last-item">
                                            <a href="http://secom.gov.br/atuacao/comunicacao-digital/portal-institucional-padrao"
                                               title="" class="state-published contenttype-link">
                                                <span>Manuais</span>
                                            </a>
                                        </li>

                                    </ul>

                                    <span class="portletBottomLeft"></span>
                                    <span class="portletBottomRight"></span>
                                </dd>
                            </dl>
                        </div>

                        <div class="portletWrapper">
                            <dl class="portlet portletNavigationTree">
                                <dt class="portletHeader">
                                    <span class="portletTopLeft"></span>
                                    Assuntos
                                    <span class="portletTopRight"></span>
                                </dt>

                                <dd class="portletItem lastItem">
                                    <ul class="navTree navTreeLevel0">
                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-editoria-a">

                                            <a href="/assuntos/editoria-a" title="Editoria A"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Editoria A</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-editoria-b">
                                            <a href="/assuntos/editoria-b" title="Editoria B"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Editoria B</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-editoria-c last-item">
                                            <a href="/assuntos/editoria-c" title="Editoria C"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Editoria C</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <span class="portletBottomLeft"></span>
                                    <span class="portletBottomRight"></span>
                                </dd>
                            </dl>
                        </div>

                        <div class="portletWrapper">
                            <dl class="portlet portletNavigationTree">
                                <dt class="portletHeader">
                                    <span class="portletTopLeft"></span>
                                    Acesso à Informação
                                    <span class="portletTopRight"></span>
                                </dt>

                                <dd class="portletItem lastItem">
                                    <ul class="navTree navTreeLevel0">

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-institucional">
                                            <a href="/acesso-a-informacao/institucional" title="Institucional"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Institucional</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-acoes-e-programas">
                                            <a href="/acesso-a-informacao/acoes-e-programas" title="Ações e Programas"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Ações e Programas</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-auditorias">
                                            <a href="/acesso-a-informacao/auditorias" title="Auditorias"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Auditorias</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-convenios">
                                            <a href="/acesso-a-informacao/convenios" title="Convênios"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Convênios</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-despesas">
                                            <a href="/acesso-a-informacao/despesas" title="Despesas"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Despesas</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-licitacoes-e-contratos">
                                            <a href="/acesso-a-informacao/licitacoes-e-contratos"
                                               title="Licitações e contratos"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Licitações e contratos</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-servidores">
                                            <a href="/acesso-a-informacao/servidores" title="Servidores"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Servidores</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-informacoes-classificadas">
                                            <a href="/acesso-a-informacao/informacoes-classificadas"
                                               title="Informações classificadas"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Informações classificadas</span>
                                            </a>
                                        </li>

                                        <li class="navTreeItem visualNoMarker navTreeFolderish section-servico-informacao-cidadao-sic last-item">
                                            <a href="/acesso-a-informacao/servico-informacao-cidadao-sic"
                                               title="Serviço de Informação ao Cidadão - SIC"
                                               class="state-published navTreeFolderish contenttype-folder">
                                                <span>Serviço de Informação ao Cidadão - SIC</span>
                                            </a>
                                        </li>

                                    </ul>

                                    <span class="portletBottomLeft"></span>
                                    <span class="portletBottomRight"></span>
                                </dd>
                            </dl>
                        </div>

                        <div class="portletWrapper">
                            <dl class="portlet portletStaticText portlet-static-centrais-de-conteudos">
                                <dt class="portletHeader">
                                    <span class="portletTopLeft"></span>
                                    <span>
                                       Centrais de Conteúdos
                                    </span>
                                    <span class="portletTopRight"></span>
                                </dt>

                                <dd class="portletItem odd">
                                    <ul class="list-central">
                                        <li class="item-central item-videos first"><a
                                                class="link-central link-videos internal-link" href="#" target="_self"
                                                title="">Vídeos</a></li>
                                        <li class="item-central item-audios"><a
                                                class="link-central link-audios internal-link" href="#" target="_self"
                                                title="">Áudios</a></li>
                                        <li class="item-central item-fotos last-item"><a
                                                class="link-central link-fotos internal-link" href="#" target="_self"
                                                title="">Imagens</a></li>
                                        <li class="item-central item-publicacoes"><a
                                                class="link-central link-publicacoes internal-link" href="#"
                                                target="_self" title=""> Infográficos</a></li>
                                        <li class="item-central item-infograficos"><a
                                                class="link-central link-infograficos internal-link" href="#"
                                                target="_self" title="">Publicações </a></li>
                                        <li class="item-central item-aplicativos last-item"><a
                                                class="link-central link-aplicativos internal-link" href="#"
                                                target="_self" title="">Aplicativos </a></li>
                                    </ul>
                                    <span class="portletBottomLeft"></span>
                                    <span class="portletBottomRight"></span>
                                </dd>
                            </dl>

                        </div>
                    </div>
                </div>

                <!-- Conteudo -->
                <div id="portal-column-content" class="cell width-3:4 position-1:4">
                    <a name="acontent" id="acontent"></a>

                    <div class="">

                        <dl class="portalMessage info" id="kssPortalMessage" style="display:none">
                            <dt>Info</dt>
                            <dd></dd>
                        </dl>

                        <div id="content">
                            <div class="row" data-layout-type="row">

                                <div class="cell width-16 position-0 " data-panel="">
                                    <div class="tile azul-claro">
                                        <div class="outstanding-header">
                                            <h2 class="outstanding-title">Portal Padrão</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" data-layout-type="row">
                                <div class="cell width-16 position-0 " data-panel="">
                                    <div class="tile tile-default">
                                        <div class="tile-content">
                                            <p class="tile-subtitle">Identidade Digital de Governo</p>

                                            <h1>
                                                <a href="/conteudos-de-marcacao/site-secom-portal-do-planalto-e-portal-brasil-adotam-nova-identidade-digital"
                                                   title="Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de informações nos mais variados formatos; conheça todos os detalhes do modelo">Site
                                                    Secom, Portal do Planalto e Portal Brasil adotam nova identidade
                                                    digital</a>
                                            </h1>

                                            <a class="imag"
                                               href="/conteudos-de-marcacao/site-secom-portal-do-planalto-e-portal-brasil-adotam-nova-identidade-digital"
                                               title="Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de informações nos mais variados formatos; conheça todos os detalhes do modelo">
                                                <img alt="Site Secom, Portal do Planalto e Portal Brasil adotam nova identidade digital"
                                                     src="http://placehold.it/750x320"
                                                     width="750" height="320" class="right"/></a>

                                            <p class="tile-description">Estrutura reúne o que há de mais adequado em
                                                soluções digitais de acessibilidade e de divulgação de informações nos
                                                mais variados formatos; conheça todos os detalhes do modelo</p>

                                            <div class="visualClear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" data-layout-type="row">
                                <div class="cell width-5 position-0 " data-panel="">
                                    <div class="tile azul-claro">
                                        <div class="outstanding-header">
                                            <h2 class="outstanding-title">Guia de Estilo</h2>
                                        </div>
                                    </div>

                                    <div class="tile tile-default">
                                        <div class="cover-richtext-tile tile-content">
                                            <p><a href="http://portalpadrao.plone.org.br/manuais"
                                                  data-mce-href="http://portalpadrao.plone.org.br/manuais" title=""
                                                  target="_self" style="" class="external-link">Conheça o guia visual
                                                que oferece as informações necessárias para correta replicação.</a></p>
                                        </div>
                                    </div>

                                    <div class="tile azul-claro">
                                        <div class="outstanding-header">
                                            <a class="outstanding-link" href="">Acesse os manuais de Comunicação Digital</a>
                                        </div>
                                    </div>

                                    <div class="tile azul-claro">
                                        <div class="outstanding-header">
                                            <h2 class="outstanding-title">Novo Release</h2>
                                        </div>
                                    </div>

                                    <div class="tile tile-default">
                                        <div class="cover-richtext-tile tile-content">
                                            <p><a class="external-link"
                                                  href="https://pypi.python.org/pypi/brasil.gov.portal" style=""
                                                  target="_self" title=""
                                                  data-mce-href="https://pypi.python.org/pypi/brasil.gov.portal"
                                                  data-mce-style="">Está disponível nova versão do release do Portal
                                                Padrão.</a></p>
                                        </div>
                                    </div>

                                    <div class="tile azul-claro">
                                        <div class="outstanding-header">
                                        </div>
                                    </div>

                                </div>

                                <div class="cell width-5 position-5 " data-panel="">
                                    <div class="tile lista-vertical">
                                        <div class="cover-collection-tile">
                                            <div class="tile-header">
                                                <span>Últimos textos</span>
                                            </div>

                                            <div class="collection-item">
                                                <h3>
                                                    <a href="/conteudos-de-marcacao/saiba-como-montar-o-menu-da-lei-de-acesso-a-informacao"
                                                       title="Órgãos do governo federal devem disponibilizar em seu site um menu especificado pela LAI">Saiba
                                                        como montar o menu da Lei de Acesso à Informação</a>
                                                </h3>

                                                <div class="visualClear"></div>
                                            </div>

                                            <div class="collection-item">
                                                <h3>
                                                    <a href="/conteudos-de-marcacao/site-secom-portal-do-planalto-e-portal-brasil-adotam-nova-identidade-digital"
                                                       title="Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de informações nos mais variados formatos; conheça todos os detalhes do modelo">Site
                                                        Secom, Portal do Planalto e Portal Brasil adotam nova identidade
                                                        digital</a>
                                                </h3>

                                                <div class="visualClear"></div>
                                            </div>
                                            
                                            <div class="collection-item">
                                                <h3>
                                                    <a href="/conteudos-de-marcacao/texto-5-titulo-da-noticia-entre-35-e-90-caracteres"
                                                       title="Subtítulo do texto 5. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres">Texto
                                                        5 - Título da notícia entre 35 e 90 caracteres</a>
                                                </h3>

                                                <div class="visualClear"></div>
                                            </div>
                                            
                                            <div class="collection-item">
                                                <h3>
                                                    <a href="/conteudos-de-marcacao/texto-4-titulo-da-noticia-entre-35-e-90-caracteres"
                                                       title="Subtítulo do texto 4. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres">Texto
                                                        4 - Título da notícia entre 35 e 90 caracteres</a>
                                                </h3>

                                                <div class="visualClear"></div>
                                            </div>
                                            
                                            <div class="collection-item">
                                                <h3>
                                                    <a href="/conteudos-de-marcacao/texto-3-titulo-da-noticia-entre-35-e-90-caracteres"
                                                       title="Subtítulo do texto 3. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres">Texto
                                                        3 - Título da notícia entre 35 e 90 caracteres</a>
                                                </h3>

                                                <div class="visualClear"></div>
                                            </div>

                                            <div class="tile-footer">
                                                <a href="/conteudos-de-marcacao/ultimas-noticias">acesse a lista de
                                                    textos</a>
                                            </div>

                                            <div class="visualClear"></div>

                                        </div>
                                    </div>
                                </div>

                                <div class="cell width-5 position-10 " data-panel="">
                                    <div class="tile tile-default">
                                        <div class="agenda-tile tile-content">
                                            <h2 class="title">Agenda da autoridade</h2>
                                            <p class="period"><strong>20 de fevereiro de 2015</strong></p>
                                            <div class="latest-update"></div>
                                            <div class="no-events">Atualmente não existem compromissos agendados.</div>
                                            <div class="agenda-tile-footer">
                                                <a href="http://tv1-lnx-04.grupotv1.com/agenda-de-autoridade/agenda-de-autoridade">Acesse
                                                    a agenda da autoridade</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" data-layout-type="row">
                                <div class="cell width-16 position-0 " data-panel="">
                                    <div class="tile azul-claro">
                                        <div class="outstanding-header">
                                            <h2 class="outstanding-title">Programas</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" data-layout-type="row">
                                <div class="cell width-5 position-0 " data-panel="">
                                    <div class="tile tile-default">
                                        <div class="tile-content">
                                            <a class="imag"
                                               href="/conteudos-de-marcacao/texto-3-titulo-da-noticia-entre-35-e-90-caracteres"
                                               title="Subtítulo do texto 3. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">
                                                <img alt="Texto 3: Título da manchete em até 55 caracteres com espaço"
                                                     src="http://placehold.it/230x136"
                                                     width="230" height="136" class="left"/></a>
                                            <h2>
                                                <a href="/conteudos-de-marcacao/texto-3-titulo-da-noticia-entre-35-e-90-caracteres"
                                                   title="Subtítulo do texto 3. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">Texto
                                                    3: Título da manchete em até 55 caracteres com espaço</a>
                                            </h2>

                                            <p class="tile-description">Subtítulo do texto 3. Escrever texto do
                                                subtítulo da chamada em até 130 caracteres com espaço</p>

                                            <div class="visualClear"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cell width-5 position-5 " data-panel="">
                                    <div class="tile verde">
                                        <div class="tile-content">
                                            <a class="imag"
                                               href="/conteudos-de-marcacao/texto-4-titulo-da-noticia-entre-35-e-90-caracteres"
                                               title="Subtítulo do texto 4. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">
                                                <img alt="Texto 4: Título da manchete em até 55 caracteres com espaço"
                                                     src="http://placehold.it/230x136"
                                                     width="230" height="136" class="left"/></a>
                                            <h2>
                                                <a href="/conteudos-de-marcacao/texto-4-titulo-da-noticia-entre-35-e-90-caracteres"
                                                   title="Subtítulo do texto 4. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">Texto
                                                    4: Título da manchete em até 55 caracteres com espaço</a>
                                            </h2>

                                            <p class="tile-description">Subtítulo do texto 4. Escrever texto do
                                                subtítulo da chamada em até 130 caracteres com espaço</p>

                                            <div class="visualClear"></div>

                                        </div>
                                    </div>
                                </div>

                                <div class="cell width-5 position-10 " data-panel="">
                                    <div class="tile laranja">
                                        <div class="tile-content">
                                            <a class="imag"
                                               href="/conteudos-de-marcacao/texto-5-titulo-da-noticia-entre-35-e-90-caracteres"
                                               title="Subtítulo do texto 5. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">
                                                <img alt="Texto 5: Título da manchete em até 55 caracteres com espaço"
                                                     src="http://placehold.it/230x136"
                                                     width="230" height="136" class="left"/></a>

                                            <h2>
                                                <a href="/conteudos-de-marcacao/texto-5-titulo-da-noticia-entre-35-e-90-caracteres"
                                                   title="Subtítulo do texto 5. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">Texto
                                                    5: Título da manchete em até 55 caracteres com espaço</a>
                                            </h2>

                                            <p class="tile-description">Subtítulo do texto 5. Escrever texto do
                                                subtítulo da chamada em até 130 caracteres com espaço</p>

                                            <div class="visualClear"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="viewlet-below-content"></div>

                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div id="voltar-topo">
            <a href="#wrapper">Voltar para o topo</a>
        </div>

    </div>

    <!-- Footer -->
    <div id="footer" role="contentinfo">
        <a name="afooter" id="afooter"></a>

        <div id="doormat-container" class="columns-4">

            <div class="doormatColumn column-0">

                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">Assuntos</dt>
                    <dd class="doormatSectionBody">
                        <a href="/assuntos/editoria-a" class="external-link">Editoria A</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/assuntos/editoria-b" class="external-link">Editoria B</a>
                    </dd>
                    <dd class="doormatSectionBody">
                        <a href="/assuntos/editoria-c" class="external-link">Editoria C</a>
                    </dd>
                </dl>
            </div>

            <div class="doormatColumn column-1">

                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">Serviços</dt>
                    <dd class="doormatSectionBody">
                        <a href="/sobre/perguntas-frequentes" class="external-link">Perguntas frequentes</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/fale-conosco" class="external-link">Contato</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/acesso-a-sistemas" class="external-link">Serviços da [Denominação]</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/dados-abertos" class="external-link">Dados abertos</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/area-imprensa" class="external-link">Área de imprensa</a>
                    </dd>
                </dl>
            </div>

            <div class="doormatColumn column-2">
                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">Redes sociais</dt>
                    <dd class="doormatSectionBody">
                        <a href="https://twitter.com/twitter" class="external-link">Twitter</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="http://youtube.com/youtube" class="external-link">YouTube</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="http://www.facebook.com/facebook" class="external-link">Facebook</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="http://flickr.com/flickr" class="external-link">Flickr</a>
                    </dd>
                </dl>
            </div>

            <div class="doormatColumn column-3">
                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">RSS</dt>
                    <dd class="doormatSectionBody">
                        <a href="/rss/o-que-e" class="external-link">O que é?</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/assine-rss" class="external-link">Assine</a>
                    </dd>
                </dl>

                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">Navegação</dt>
                    <dd class="doormatSectionBody">
                        <a href="/acessibilidade" class="external-link">Acessibilidade</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/sitemap" class="external-link">Mapa do site</a>

                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/" class="external-link">Versión en Español</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/" class="external-link">English version</a>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="clear"></div>
        <div id="footer-brasil"></div>
    </div>

</div>
<div id="ajax-spinner" style="display: none;"><img src="/assets/spinner.gif" width="16" height="16" alt=""/></div>
<script type="text/javascript" src="/assets/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/assets/modernizr.min.js"></script>
<script type="text/javascript" src="/assets/contraste.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<script defer="defer" async="async" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
</body>
</html>