<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Guia de Serviços</title>

    <link rel="stylesheet" type="text/css" href="/assets/reset.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/base.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/public.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/columns.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/portlets.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/forms.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/print.css" media="print"/>
    <link rel="stylesheet" type="text/css" href="/assets/mobile.css" media="handheld, screen and (max-device-width: 480px)"/>
    <link rel="stylesheet" type="text/css" href="/assets/doormat.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/main-print.css" media="print"/>
    <link rel="stylesheet" type="text/css" href="/assets/cover.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" media="all" />

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
</head>

<body class="template-view portaltype-collective-cover-content">

<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
        <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
        <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
    </ul>
</div>

<div id="wrapper">

    <div id="header" role="banner" th:replace="fragments2/header :: #header"></div>

    <!-- content -->

    <div id="main" role="main">
        <div id="portal-features">
            <div id="featured-content"></div>
        </div>

        <div id="plone-content">

            <div id="portal-columns" class="row">

                <div id="viewlet-above-content" th:replace="fragments2/migalhas-de-pao :: #viewlet-above-content"></div>

                <!-- Column 1 -->
                <div id="navigation" th:replace="fragments2/coluna-de-menus :: #navigation"></div>

                <!-- Conteudo -->
                <div id="portal-column-content" class="cell width-3:4 position-1:4">
                    <a name="acontent" id="acontent"></a>

                    <div class="">
                        <div id="content" th:replace="fragments2/corpo :: #content"></div>
                    </div>

                    <div id="viewlet-below-content"></div>

                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div id="voltar-topo">
            <a href="#wrapper">Voltar para o topo</a>
        </div>

    </div>

    <!-- Footer -->
    <div id="footer" role="contentinfo">
        <a name="afooter" id="afooter"></a>

        <div id="doormat-container" class="columns-4">

            <div class="doormatColumn column-0">

                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">Assuntos</dt>
                    <dd class="doormatSectionBody">
                        <a href="/assuntos/editoria-a" class="external-link">Editoria A</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/assuntos/editoria-b" class="external-link">Editoria B</a>
                    </dd>
                    <dd class="doormatSectionBody">
                        <a href="/assuntos/editoria-c" class="external-link">Editoria C</a>
                    </dd>
                </dl>
            </div>

            <div class="doormatColumn column-1">

                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">Serviços</dt>
                    <dd class="doormatSectionBody">
                        <a href="/sobre/perguntas-frequentes" class="external-link">Perguntas frequentes</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/fale-conosco" class="external-link">Contato</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/acesso-a-sistemas" class="external-link">Serviços da [Denominação]</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/dados-abertos" class="external-link">Dados abertos</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/area-imprensa" class="external-link">Área de imprensa</a>
                    </dd>
                </dl>
            </div>

            <div class="doormatColumn column-2">
                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">Redes sociais</dt>
                    <dd class="doormatSectionBody">
                        <a href="https://twitter.com/twitter" class="external-link">Twitter</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="http://youtube.com/youtube" class="external-link">YouTube</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="http://www.facebook.com/facebook" class="external-link">Facebook</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="http://flickr.com/flickr" class="external-link">Flickr</a>
                    </dd>
                </dl>
            </div>

            <div class="doormatColumn column-3">
                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">RSS</dt>
                    <dd class="doormatSectionBody">
                        <a href="/rss/o-que-e" class="external-link">O que é?</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/assine-rss" class="external-link">Assine</a>
                    </dd>
                </dl>

                <dl class="doormatSection">
                    <dt class="doormatSectionHeader">Navegação</dt>
                    <dd class="doormatSectionBody">
                        <a href="/acessibilidade" class="external-link">Acessibilidade</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/sitemap" class="external-link">Mapa do site</a>

                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/" class="external-link">Versión en Español</a>
                    </dd>

                    <dd class="doormatSectionBody">
                        <a href="/" class="external-link">English version</a>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="clear"></div>
        <div id="footer-brasil"></div>
    </div>

</div>
<div id="ajax-spinner" style="display: none;"><img src="/assets/spinner.gif" width="16" height="16" alt=""/></div>
<script type="text/javascript" src="/assets/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/assets/modernizr.min.js"></script>
<script type="text/javascript" src="/assets/contraste.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<script defer="defer" async="async" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
</body>
</html>