<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Guia de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" media="screen"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
    <link rel="search" type="application/opensearchdescription+xml" title="Busca de serviços" th:href="@{/opensearch.xml}"/>
</head>

<body class="template-view portaltype-collective-cover-content">
<div th:replace="fragments/barra-brasil :: #barra-brasil"></div>
<div id="wrapper">
    <div th:replace="fragments/header :: #header"></div>
    <div id="main" role="main">
        <div id="portal-columns" class="row">
            <div th:replace="fragments/migalhas-de-pao :: #migalhas-de-pao"></div>
            <div th:replace="fragments/coluna-de-menus :: #navigation"></div>
            <div id="portal-column-content" class="cell width-3:4 position-1:4">
                <a name="acontent" id="acontent"></a>
                <div id="content" layout:fragment="corpo"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div id="voltar-topo">
            <a href="#wrapper">Voltar para o topo</a>
        </div>
    </div>
    <div th:replace="fragments/rodape :: #footer"></div>
</div>
<script type="text/javascript" src="/assets/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/assets/modernizr.min.js"></script>
<script type="text/javascript" src="/assets/contraste.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<script defer="defer" async="async" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
</body>
</html>