<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-branco">

<head>
    <title th:text="${conteudo.titulo}">Nome da Linha da Vida</title>
</head>

<body>
<span layout:fragment="link-migalha-de-pao-pai">
    Linha da Vida
</span>

<span layout:fragment="link-migalha-de-pao" th:text="${conteudo.titulo}">
	Nome da Linha da Vida
</span>

<div layout:fragment="corpo">
    <div th:utext="${conteudo.html}" class="markdown"></div>
    <hr/>

    <ul id="resultados-linhadavida">
        <li th:each="resultado : ${resultados}">
            <span th:replace="fragments/resultado-busca-servico(servico=${resultado})">
                (bloco de resultado de busca)
            </span>
        </li>
    </ul>
</div>
</body>

</html>
