<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title th:text="'Busca por ' + ${termo}">Resultados da Busca</title>
</head>
<body>

<span layout:fragment="link-migalha-de-pao-pai">
    Linhas da Vida
</span>

<span layout:fragment="link-migalha-de-pao">
    <a th:href="@{/linha-da-vida/{id}(id=${termo})}"
        itemprop="url">
        <span th:text="${conteudo.titulo}" itemprop="title">Nome da Linha da Vida</span>
    </a>
</span>

<div layout:fragment="corpo">

    <div class="row">
        <div class="cell width-16 position-0">
            <div th:utext="${conteudo.html}" class="markdown"></div>
            <hr/>
        </div>
    </div>

    <th:block th:with="it=${resultados.iterator()}">
        <div class="row">
            <div class="cell width-5 position-0" th:if="${it.hasNext()}">
                <div th:replace="fragments/destaque :: .tile(servico=${it.next()})"></div>
            </div>

            <div class="cell width-5 position-5" th:if="${it.hasNext()}">
                <div th:replace="fragments/destaque :: .tile(servico=${it.next()})"></div>
            </div>

            <div class="cell width-5 position-10" th:if="${it.hasNext()}">
                <div th:replace="fragments/destaque :: .tile(servico=${it.next()})"></div>
            </div>
        </div>
    </th:block>

    <div class="row">
        <div class="cell width-16 position-0">
            <ul id="resultados-linhadavida">
                <li th:each="resultado, i : ${resultados}">
                    <th:block th:if="${i.count &gt; 3}">
                        <h3>
                            <a th:href="@{/servico/{id}(id=${resultado.id})}" th:text="${resultado.titulo}">
                                Título
                            </a>
                        </h3>
                        <p th:text="${#strings.abbreviate(resultado.descricao, 140)}">Descrição</p>
                    </th:block>
                </li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>
