<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title>Obrigado!</title>
</head>
<body>

<span layout:fragment="link-migalha-de-pao">
    Obrigado
</span>

<div layout:fragment="corpo">
    <div class="row">
        <div class="cell width-16 position-0">
            <div class="tile">
                <h1>Obrigado por seu feedback!</h1>
            </div>
        </div>
    </div>
</div>

</body>
</html>
