<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-branco">

<head>
    <title>Melhorar o Guia de Serviços</title>
    <meta property="og:title" content="Ajude-nos a melhorar o Guia de Serviços"/>
    <meta property="og:description" content="Estamos trabalhando neste site e precisamos da sua ajuda para evoluir suas funções e conteúdo. Dê a sua opinião e torne este site ainda melhor!"/>
</head>
<body>

<span layout:fragment="migalhas-de-pao">
    <span class="separador">&gt;</span>

    <a href="" iteprop="url">
        <span itemprop="title">Dê sua opinião</span>
    </a>
</span>

<section layout:fragment="corpo">
    <div class="row">

        <h2>Ajude-nos a melhorar o Guia de Serviços</h2>

        <p>
            Por favor, não inclua nenhuma informação pessoal ou financeira, como seus documentos ou dados de cartão de
            crédito.
        </p>

        <form accept-charset="UTF-8" action="/opiniao" method="post">

            <h3 class="opiniao">Você encontrou o que estava procurando?</h3>

            <p class="formulario-opiniao">
                <label for="sim">Sim</label>
                <input name="conteudoEncontrado" id="sim" class="left" type="radio" value="true" required="required"/>

                <br class="clear"/>

                <label for="nao">Não</label>
                <input name="conteudoEncontrado" id="nao" class="left" type="radio" value="false"/>
            </p>

            <label for="opiniao">
                <h3 class="opiniao">Dê a sua opinião sobre este site:</h3>

                <textarea id="opiniao" name="mensagem" rows="5" class="row"></textarea>
            </label>

            <input name="enviar" type="submit" class="acao" value="ENVIAR"/>

            <input name="utf8" type="hidden" value="✓"/><!-- força utf8 -->
            <input name="url" type="hidden" th:value="${url}"/>
            <input name="busca" type="hidden" th:value="${busca}"/>
            <input name="ticket" type="hidden" th:value="${ticket}"/>
        </form>
    </div>
</section>

</body>
</html>

