<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout-branco">

<head>
    <title>Todos os Órgãos</title>
    <meta property="og:title" content="Todos os Órgãos"/>
    <meta property="og:description" content="Informações sobre os órgãos governamentais e seus serviços no Guia de Serviços do Governo Federal"/>
</head>
<body>

<span layout:fragment="migalhas-de-pao">
    <span class="separador">&gt;</span>

    <a href="" itemprop="url">
        <span itemprop="title">
            Todos os Órgãos
        </span>
    </a>
</span>

<section layout:fragment="corpo">
    <div class="row">
        <h2>Todos os Órgãos</h2>

        <ul class="orgaos-a-z">
            <li th:each="orgao : ${orgaos}">
                <a th:href="@{/orgao/{id}(id=${orgao.id})}" th:text="${orgao.nome}">
                    Nome do Órgão
                </a>
            </li>
        </ul>

        <p>Não encontrou o que estava procurando? <a href="/opiniao">Dê a sua opinião e torne o Guia ainda melhor!</a></p> 
    </div>
</section>
</body>
</html>
