<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-branco">

<head>
    <title th:text="${conteudo.nome}">Nome do Órgão</title>
    <meta property="og:title" th:content="${conteudo.nome}"/>
    <meta property="og:description"
          th:content="${'Informações sobre ' + @genero.o(conteudo.nome) + ' ' + conteudo.nome + ' no Portal de Serviços do Governo Federal'}"/>
</head>
<body>

<span layout:fragment="migalhas-de-pao">
    <span class="separador">&gt;</span>

    <a href="/orgaos" itemprop="url">
        <span itemprop="title">
            Todos os Órgãos
        </span>
    </a>

    <span class="separador">&gt;</span>

    <a href="" itemprop="url">
        <span itemprop="title" th:text="${conteudo.nome}">
            Nome do Órgão
        </span>
    </a>
</span>

<section layout:fragment="corpo">
    <th:block th:if="${conteudo.conteudo != null}">
        <div th:utext="${conteudo.html}" class="markdown"></div>
    </th:block>
    <th:block th:if="${conteudo.conteudo == null}">
        <div>
            <h2 th:text="${conteudo.nome}">Título do órgão se não existir conteúdo</h2>
        </div>
    </th:block>

    <th:block th:if="${conteudo.contato != null}">
        <div th:utext="${conteudo.contatoHtml}" class="markdown"></div>
    </th:block>

    <div>
        <h3>Carta de serviço</h3>

        <p>Mais informações sobre todos os serviços oferecidos por esse órgão podem ser encontrados
            <a href="">aqui</a>.
        </p>
    </div>

    <script type="application/ld+json" th:inline="text">
    {
      "@context" : "http://schema.org",
      "@type" : "GovernmentOrganization",
      "name": "[[${conteudo.nome}]]",
      "url" : "[[${@environment.getProperty('pds.piwik.url')}]]",
      "contactPoint" : [
        {
          "@type": "ContactPoint",
          "url": "[[${@conteudoConfig.ouvidoria(termo).orElse(null)}]]",
          "telephone": "[[${@conteudoConfig.telefone(termo).orElse(null)}]]",
          "contactType" : "customer service"
        }
      ]
    }



    </script>

    <hr/>

    <ul id="resultados-orgao">
        <li th:each="resultado : ${resultados}">
            <span th:replace="fragments/resultado-busca-item :: resultado(conteudo=${resultado}, campanha=orgao)">
                (bloco de resultado de busca)
            </span>
        </li>
    </ul>

    <span class="link-github">
        <a target="_blank"
           th:href="${'https://github.com/servicosgovbr/portal-de-servicos/edit/master/src/main/resources/conteudo/orgaos/' + conteudo.id + '.md'}">
            <i class="fa fa-github"></i>
        </a>
    </span>

</section>

</body>
</html>
