<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-branco">

<head>
    <title th:text="${conteudo.titulo}">Nome do Órgão</title>
    <meta property="og:title" th:content="${conteudo.titulo}"/>
    <meta property="og:description"
          th:content="${'Informações sobre ' + @genero.o(conteudo.titulo) + ' ' + conteudo.titulo + ' no Guia de Serviços do Governo Federal'}"/>
</head>
<body>

<span layout:fragment="migalhas-de-pao">
    <span class="separador">&gt;</span>

    <a href="/orgaos" itemprop="url">
        <span itemprop="title">
            Todos os Órgãos
        </span>
    </a>

    <span class="separador">&gt;</span>

    <a href="" itemprop="url">
        <span itemprop="title" th:text="${conteudo.titulo}">
            Nome do Órgão
        </span>
    </a>
</span>

<section layout:fragment="corpo">

    <div th:utext="${conteudo.html}" class="markdown"></div>

    <div class="markdown">
        <h3>Contato</h3>

        <th:block th:if="${@conteudoConfig.siteOficial(termo).isPresent()}">

            <p>
                Página oficial:
                <a th:href="${@conteudoConfig.siteOficial(termo).get()}"
                   th:text="${#strings.abbreviate(@conteudoConfig.siteOficial(termo).get(), 50)}"></a>
            </p>
        </th:block>

        <p th:if="${@conteudoConfig.ouvidoria(termo).isPresent()}">
            Para fazer uma reclamação, denúncia, sugestão ou elogio em relação a algum serviço deste órgão, visite o
            sítio de sua <a th:href="${@conteudoConfig.ouvidoria(termo).get()}">ouvidoria</a>.
        </p>

        <p>
            Para pedidos de informação pública deste órgão, consulte o
            <a href="http://www.acessoainformacao.gov.br/sistema/site/index.html">
                Sistema Eletrônico do Serviço de Informações ao Cidadão (e-SIC)
            </a>.
        </p>
    </div>

    <script type="application/ld+json" th:inline="javascript">
    {
      "@context" : "http://schema.org",
      "@type" : "GovernmentOrganization",
      "name": /*[[${conteudo.titulo}]]*/ null,
      "url" : /*[[${@environment.getProperty('gds.piwik.url')}]]*/ null,
      "contactPoint" : [
        {
          "@type": "ContactPoint",
          "url": /*[[${@conteudoConfig.ouvidoria(termo).orElse(null)}]]*/ null,
          "contactType" : "customer service"
        }
      ]
    }
    </script>

    <hr/>

    <ul id="resultados-linhadavida">
        <li th:each="resultado : ${resultados}">
            <span th:replace="fragments/resultado-busca-item(conteudo=${resultado})">
                (bloco de resultado de busca)
            </span>
        </li>
    </ul>

    <span class="link-github">
        <a th:href="${'https://github.com/servicosgovbr/guia-de-servicos/edit/master/src/main/resources/conteudo/orgaos/' + conteudo.id + '.md'}">
            <i class="fa fa-github"></i>
        </a>
    </span>

</section>

</body>
</html>
