<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title th:text="'Busca por ' + ${termo}">Resultados da Busca</title>
</head>
<body>

<span layout:fragment="link-migalha-de-pao-pai">
    <a href="/orgaos">
        Órgãos
    </a>
</span>

<span layout:fragment="link-migalha-de-pao" th:text="${conteudo.titulo}">
    Nome do Órgão
</span>

<div layout:fragment="corpo">

    <div th:utext="${conteudo.html}" class="markdown"></div>
    <hr/>

    <div class="row">
        <div class="cell width-16 position-0">
            <ul id="resultados-linhadavida">
                <li th:each="resultado, i : ${resultados}">
                    <th:block th:if="${i.count &gt; 3}">
                        <span th:replace="fragments/resultado-busca-servico(servico=${resultado})"/>
                    </th:block>
                </li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>
