<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout-branco">

<head>
    <title>Todos os Órgãos</title>
</head>
<body>

<span layout:fragment="migalhas-de-pao">
    <span class="separador">&gt;</span>

    <a href="" itemprop="url">
        <span itemprop="title">
            Todos os Órgãos
        </span>
    </a>
</span>

<section layout:fragment="corpo">

    <div class="row">
        <th:block>
            <h2>
                Todos os Órgãos
            </h2>


            <ul class="orgaos-a-z">
                <li th:each="orgao : ${orgaos}">
                    <a th:href="@{/orgao/{id}(id=${orgao.id})}" th:text="${orgao.nome}">
                        Nome do Órgão
                    </a>
                </li>
            </ul>
        </th:block>
    </div>
</section>

</body>
</html>
