<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-branco">

<head>
    <title th:text="${publicoAlvo.titulo}">Nome do Público-Alvo</title>
</head>
<body>

<span layout:fragment="migalhas-de-pao">
    <span class="separador">&gt;</span>

    <a href="" itemprop="url">
        <span itemprop="title" th:text="${publicoAlvo.titulo}">
            Nome do Publico Alvo
        </span>
    </a>

    <span class="separador">&gt;</span>

    <a href="" itemprop="url">
        <span itemprop="title" th:text="${letraAtiva}">
            Letra filtrada
        </span>
    </a>
</span>

<section layout:fragment="corpo">
    <h2 th:utext="${publicoAlvo.titulo}"></h2>

    <div th:replace="fragments/paginacao :: conteudo-paginado(${letraAtiva}, ${letras}, 'letra=${pagina}')">
        <span layout:fragment="titulo">
            Filtrar por:
        </span>

        <ul layout:fragment="conteudo" class="servicos-a-z">
            <li th:each="servico : ${servicos}">
                <span th:replace="fragments/resultado-busca-servico">
                    (bloco de resultado de busca)
                </span>
            </li>
        </ul>
    </div>
</section>

</body>
</html>
