<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title th:text="'Busca por ' + ${termo}">Resultados da Busca</title>
</head>

<body>
<span layout:fragment="link-migalha-de-pao">
    Busca
</span>

<div layout:fragment="corpo">

    <div class="row">

        <th:block th:unless="${resultados.hasContent()}">
            <h1>Nenhum resultado</h1>

            <p>
                Não foram encontrados serviços com o termo "<span th:text="${termo}"></span>".
            </p>

            <p>
                Sugestões:
            </p>
            <ul>
                <li>Certifique-se de que todos os termos estão grafados corretamente</li>
                <li>Tente palavras-chave diferentes</li>
                <li>Tente palavras-chave mais genéricas</li>
                <li>Tente menos palavras-chave</li>
            </ul>
        </th:block>

        <th:block th:if="${resultados.hasContent()}">

            <h1>Resultados da busca por "<span th:text="${termo}">termo</span>"</h1>

            <p>
                <span th:text="${resultados.totalElements}">0</span> resultados encontrados
            </p>

            <div th:replace="fragments/paginacao ::
                conteudo-paginado(${resultados.number+1}, ${#numbers.sequence(1, resultados.totalPages)}, 'q=${termo}, pagina=${pagina}')">

                <ul layout:fragment="conteudo" id="resultados-busca">
                    <li th:each="resultado : ${resultados}">
                        <span th:replace="fragments/resultado-busca-servico(servico=${resultado})"/>
                    </li>
                </ul>
            </div>
        </th:block>
    </div>
</div>
</body>

</html>
