<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Guia de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/barra-brasil.css"/>
</head>

<body>
<div th:replace="fragments/barra-brasil :: #barra-brasil"></div>
<div th:replace="fragments/header :: #header"></div>

<div id="wrapper">
    <div id="main" role="main">
        <div id="plone-content">
            <h1>Resultados da busca por "<span th:text="${termo}">termo</span>"</h1>

            <ul id="resultados-busca">
                <li th:each="resultado : ${resultados}">
                    <h3>
                        <a th:href="@{/servico/{id}(id=${resultado.id})}" th:text="${resultado.titulo}">
                            Título
                        </a>
                    </h3>
                    <p th:text="${resultado.descricao}">Descrição</p>
                </li>
            </ul>
        </div>

        <div class="clear"></div>

        <div id="voltar-topo">
            <a href="#wrapper">Voltar para o topo</a>
        </div>

    </div>
</div>

<div th:replace="fragments/barra-brasil :: script"></div>
<div th:replace="fragments/barra-brasil :: footer"></div>
</body>

</html>