<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-branco">

<head>
    <title th:text="'Busca por ' + ${termo}">Resultados da Busca</title>
    <meta property="og:title" th:content="'Busca por ' + ${termo}"/>
    <meta property="og:description" content="Resultados da busca no Guia de Serviços do Governo Federal"/>
</head>

<body>
<span layout:fragment="link-migalha-de-pao">
    Busca
</span>

<section layout:fragment="corpo">

    <div class="row">

        <th:block th:unless="${resultados.hasContent()}">
            <h2>Nenhum resultado</h2>

            <p>
                Não foram encontrados serviços com o termo "<span th:text="${termo}"></span>".
            </p>

            <h3>
                Sugestões:
            </h3>
                <ul class="resultados-busca">
                    <li>Certifique-se de que todos os termos estão escritos corretamente.</li>
                    <li>Tente termos diferentes.</li>
                    <li>Tente termos mais genéricos.</li>
                    <li>Tente menos termos.</li>
                </ul>
        </th:block>

        <th:block th:if="${resultados.hasContent()}">

            <h2>Busca por "<span th:text="${termo}">termo</span>"</h2>

            <div th:replace="fragments/paginacao ::
                conteudo-paginado(${resultados.number+1}, ${#numbers.sequence(1, resultados.totalPages)}, null, 'q=${termo}, pagina=${pagina}')">

                <ul layout:fragment="conteudo" id="resultados-busca">
                    <li th:each="resultado : ${resultados}">
                        <span th:replace="fragments/resultado-busca-item :: resultado(conteudo=${resultado}, campanha=busca)">
                            (bloco de resultado de busca)
                        </span>
                    </li>
                </ul>

            </div>

            <p class="total-resultados">
                <span th:text="${resultados.totalElements}">0</span> resultados encontrados.
            </p>
        </th:block>
    </div>
</section>
</body>

</html>
