<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title th:text="${servico.titulo}">Nome do Serviço</title>
</head>
<body>

<span layout:fragment="link-migalha-de-pao-pai">
    Serviços
</span>

<span layout:fragment="link-migalha-de-pao">
    <a href="" th:text="${servico.titulo}">
        Nome do Serviço
    </a>
</span>

<div layout:fragment="corpo">

    <div class="row">
        <div class="cell width-16 position-0">

            <h1 th:text="${servico.titulo}">Nome do Serviço</h1>

            <p style="white-space: pre-wrap;" th:text="${servico.descricao}">
                Descrição do serviço
            </p>

            <p th:if="${not #strings.isEmpty(servico.taxa)}">
                Valor/taxa: <span th:text="${servico.taxa}">R$ 999,99</span>
            </p>

            <div class="orgao-prestador">
                <a th:if="${not #strings.isEmpty(servico.prestador.nome)}"
                   th:href="@{/orgao/{id}(id=${servico.prestador.id})}"
                   th:text="${servico.prestador.nome}">
                    Órgão prestador
                </a>

                <span th:if="${not #strings.isEmpty(servico.prestador.telefone)}" th:text="${servico.prestador.telefone}">
                    (61) 5555-1234
                </span>
            </div>

            <div class="orgao-responsavel">
                <a th:if="${not #strings.isEmpty(servico.prestador.nome)}"
                   th:href="@{/orgao/{id}(id=${servico.prestador.id})}"
                   th:text="${servico.prestador.nome}">
                    Órgão responsavel
                </a>

                <span th:if="${not #strings.isEmpty(servico.responsavel.telefone)}" th:text="${servico.responsavel.telefone}">
                    (61) 5555-1234
                </span>
            </div>

            <a th:if="${not #strings.isEmpty(servico.url)}" id="comecar" th:href="@{/navegar/{id}(id=${servico.id})}">
                Começar
            </a>

            <a th:if="${not #strings.isEmpty(servico.urlAgendamento)}" id="comecar" th:href="@{/agendar/{id}(id=${servico.id})}">
                Agendar agora
            </a>

        </div>
    </div>
</div>

</body>
</html>
