<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout-branco">

<head>
    <title>Todos os Serviços</title>
    <meta property="og:title" content="Todos os Serviços"/>
    <meta property="og:description" content="Informações sobre os serviços prestados pelo Governo no Guia de Serviços do Governo Federal"/>
</head>
<body>

<span layout:fragment="migalhas-de-pao">
    <span class="separador">&gt;</span>

    <a href="" itemprop="url">
        <span itemprop="title">
            Todos os Serviços
        </span>
    </a>

    <span class="separador">&gt;</span>

    <a href="" itemprop="url">
        <span itemprop="title" th:text="${letraAtiva}">
            Letra filtrada
        </span>
    </a>
</span>

<section layout:fragment="corpo">
    <h2>Todos os Serviços</h2>

    <div th:replace="fragments/paginacao :: conteudo-paginado(${letraAtiva}, ${letras}, true, 'letra=${pagina}')">
        <span layout:fragment="titulo">
            Filtrar por:
        </span>

        <ul layout:fragment="conteudo" class="servicos-a-z">
            <li th:each="conteudo : ${servicos}">
                <span th:replace="fragments/resultado-busca-item"></span>
            </li>
        </ul>
    </div>
</section>

</body>
</html>
