<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${servico.titulo}">Nome do Serviço</title>
    <meta property="og:title" th:content="${servico.titulo}"/>
    <meta property="og:description" th:content="${servico.titulo + ' no Portal de Serviços do Governo Federal'}"/>
</head>
<body>
<div class="row">
    <h2 th:text="${servico.titulo}">Nome do Serviço</h2>

    <th:block th:each="canal : ${servico.canaisPreferenciais}">
        <a class="acao-servico" th:href="${canal.referencia}">
            <th:block th:text="${canal.titulo ?: 'Acessar' }">Título do link</th:block>
            <i class="fa fa-globe"></i>
        </a>
    </th:block>

    <a href="javascript:window.print()" class="acao-servico">
        Imprimir esta página <i class="fa fa-print"></i></a>

    <div class="markdown" th:utext="${@markdown.render(servico.descricao)}">
        Descrição do serviço
    </div>

    <th:block th:unless="${servico.solicitantes.isEmpty()}">
        <h3 class="subtitulo-servico">Quem pode utilizar este serviço?</h3>
        <ul class="solicitantes" th:each="solicitante : ${servico.solicitantes}">
            <li><p th:text="${solicitante}"></p></li>
        </ul>
    </th:block>

    <th:block th:unless="${servico.tempoEstimado == null or servico.tempoEstimado.isEmpty()}">
        <h3 class="subtitulo-servico">Tempo estimado</h3>

        <p th:text="${servico.tempoEstimado + '.'}"></p>

        <p th:unless="${#strings.isEmpty(servico.tempoEstimado.excecoes)}"
           th:text="${servico.tempoEstimado.excecoes}"></p>

    </th:block>

    <th:block th:unless="${servico.etapas.isEmpty()}">

        <h3 class="subtitulo-servico">Etapas para a realização deste serviço</h3>

        <div class="etapas" th:each="etapa, row : ${servico.etapas}">
            <p class="circle" th:text="${row.index + 1}"></p>
            <h4 class="etapa" th:text="${etapa.titulo ?: 'Acesse o serviço'}">Título da etapa</h4>

            <div class="etapa markdown" th:utext="${@markdown.render(etapa.descricao)}">Descrição da etapa</div>

            <th:block th:if="${!etapa.documentos.isEmpty() or
                                !etapa.canaisDePrestacao.isEmpty() or
                                !etapa.custos.isEmpty() }">

                <div class="subtitulo-etapa">

                    <th:block th:if="${!etapa.documentos.isEmpty()}">
                        <p class="info-etapa">Documentos necessários para esta etapa:</p>
                        <ul>
                            <li th:each="documento : ${etapa.documentos}" th:text="${documento}">Documento</li>
                        </ul>
                    </th:block>

                    <th:block th:if="${!etapa.canaisDePrestacao.isEmpty()}">
                        <p class="info-etapa">Canais de comunicação com este serviço:</p>
                        <ul>
                            <li th:each="canal : ${etapa.canaisDePrestacao}">
                                <span th:text="${canal.tipo}">Tipo</span>:
                                <th:block th:if="${canal.tipo == 'Web'}">
                                    <a th:href="${canal.referencia}" th:text="${canal.titulo ?: canal.referencia}">
                                        Titulo
                                    </a>
                                </th:block>
                                <th:block th:if="${canal.tipo != 'Web'}">
                                    <span th:text="${canal.titulo ?: canal.referencia}">Titulo</span>
                                </th:block>
                            </li>
                        </ul>
                    </th:block>

                    <th:block th:if="${!etapa.custos.isEmpty()}">
                        <p class="info-etapa">Custos para a realização desta etapa:</p>
                        <ul>
                            <li th:each="custo : ${etapa.custos}">
                                <span th:text="${custo.descricao}">Descrição</span>:
                                <span th:text="${custo.valor}">10,00</span>
                            </li>
                        </ul>
                    </th:block>
                </div>

            </th:block>
        </div>
    </th:block>
</div>

</body>
</html>
