<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout-branco">

<head>
    <title th:text="${servico.titulo}">Nome do Serviço</title>
    <meta property="og:title" th:content="${servico.titulo}"/>
    <meta property="og:description" th:content="${servico.titulo + ' no Portal de Serviços do Governo Federal'}"/>
</head>
<body>

<span layout:fragment="migalhas-de-pao">
    <span class="separador">&gt;</span>

    <a href="/servicos" itemprop="url">
        <span itemprop="title">Todos os Serviços</span>
    </a>

    <span class="separador">&gt;</span>

    <a href="" itemprop="url">
        <span itemprop="title" th:text="${servico.titulo}">Nome do Serviço</span>
    </a>
</span>

<span layout:fragment="menu-contexto" th:replace="fragments/informacoes-relacionadas :: .nav-tree">
</span>

<section layout:fragment="corpo">

    <div class="row">
        <h2 th:text="${servico.titulo}">Nome do Serviço</h2>

                <a th:if="${not #strings.isEmpty(servico.url)}" class="acao-servico" th:href="${servico.url}">
                    Inscreva-se no programa <i class="fa fa-calendar-o"></i></a>
                <a th:if="${not #strings.isEmpty(servico.url)}" class="acao-servico" th:href="${servico.url}">
                    Simule o financiamento <i class="fa fa-calculator"></i></a>
                <a href="javascript:window.print()" class="acao-servico no-mobile">
                    Imprima esta página <i class="fa fa-print"></i></a>
                <p style="white-space: pre-wrap;" th:utext="${servico.descricao}">
                    Descrição do serviço</p>

        <h3 class="subtitulo-servico">Quem pode utilizar este serviço?</h3>
            <ul>
                <li><p>• Estudantes matriculados em instituições de educação superior não gratuitas participantes do programa FIES.</p></li>
                <li><p>• Renda familiar mensal bruta de no máximo 20 salários mínimos.</p></li>
                <li><p>• Estudantes com avaliação positiva no Sistema Nacional de Avaliação da Educação Superior (SINAES).</p></li>
                <li><p>• Pessoas que atendam as demais exigências estabelecidas nas normas do FIES.</p></li>
            </ul>
   
        <h3 class="subtitulo-servico">Tempo estimado</h3>
            <p> Entre 10 e 30 dias úteis.</p>

<!--         <h3 class="subtitulo-servico">Custo estimado</h3>
            <p> Este serviço é gratuito para o cidadão.</p> -->
    
        <h3 class="subtitulo-servico">Etapas para a realização deste serviço</h3>
     
        <div class="etapas">
            <p class="circle">1</p>
            <h4 class="etapa">Inscrição no SisFIES</h4>
                <p class="etapa"> O primeiro passo para efetuar a inscrição é acessar o SisFIES e informar os dados solicitados. No primeiro acesso, o estudante informará seu número de Cadastro de Pessoa Física (CPF), sua data de nascimento, um endereço de e-mail válido e cadastrará uma senha que será utilizada sempre que o estudante acessar o sistema. Após informar os dados solicitados, o estudante receberá uma mensagem no endereço de e-mail informado para validação do seu cadastro. A partir daí, o estudante acessará o SisFIES e fará sua inscrição informando seus dados pessoais, do seu curso e instituição e as informações sobre o financiamento solicitado.

                <div class="subtitulo-etapa">   
                <p class="info-etapa">Documentos necessários para esta etapa:</p>
                    <ul>
                        <li><p>• Cadastro de Pessoa Física (CPF)</p></li>
                        <li><p>• Carteira de Identidade (RG)</p></li>
                        <li><p>• Comprovante de Conclusão do Ensino Médio</p></li>
                    </ul>
                <br></br>
                <p class="info-etapa">Custos para a realização desta etapa:</p>
                    <ul>
                        <li><p>• Esta etapa não tem custos para o cidadão.</p></li>
                    </ul>
                <br></br>
                <p class="info-etapa">Canais de prestação deste serviço:</p>
                    <ul>
                        <li><p>• Site: <a>www.ministerio.gov.br</a></p></li>
                        <li><p>• E-mail: <a>email@ministerio.gov.br</a></p></li>
                        <li><p>• Endereço: Rua São Joa s/n - Porto Alegre/RS - CEP 9077-540 </p>
                        </li>
                    </ul>
                </div>
                </p>
        </div>
        
        <div class="etapas">
            <p class="circle">2</p>
            <h4 class="etapa">Validação das informações</h4>
                <p class="etapa"> Após concluir sua inscrição no SisFIES, o estudante deverá validar suas informações na Comissão Permanente de Supervisão e Acompanhamento (CPSA), em sua instituição de ensino, em até 10 (dez) dias, contados a partir do dia imediatamente posterior ao da conclusão da sua inscrição. A Comissão Permanente de Supervisão e Acompanhamento (CPSA) é o órgão responsável, na instituição de ensino, pela validação das informações prestadas pelo candidato no ato da inscrição.

                <div class="subtitulo-etapa">   
                <p class="info-etapa">Documentos necessários para esta etapa:</p>
                    <ul>
                        <li><p>• Cadastro de Pessoa Física (CPF)</p></li>
                        <li><p>• Carteira de Identidade (RG)</p></li>
                    </ul>
                <br></br>
                <p class="info-etapa">Custos para a realização desta etapa:</p>
                    <ul>
                        <li><p>• R$ 20,00 - Taxa de emissão</p></li>
                        <li><p>• R$ 15,00 - Impressão de documentação</p></li>
                    </ul>
                <br></br>
                <p class="info-etapa">Canais de prestação deste serviço:</p>
                    <ul>
                        <li><p>• Site: <a>www.ministerio.gov.br</a></p></li>
                        <li><p>• E-mail: <a>email@ministerio.gov.br</a></p></li>
                        <li><p>• Endereço: Rua São Joa s/n - Porto Alegre/RS - CEP 9077-540 </p>
                        </li>
                    </ul>
                </div>
            </p>
        </div>

        <div class="etapas">
            <p class="circle">3</p>
            <h4 class="etapa">Contratação do financiamento</h4>
                <p class="etapa"> Após a validação das informações o estudante deverá comparecer a um agente financeiro do FIES em até 10 (dez) dias, contados a partir do terceiro dia útil imediatamente subsequente à data da validação da inscrição pela CPSA, para formalizar a contratação do financiamento. No ato da inscrição no SisFIES, o estudante escolherá a instituição bancária, assim como a agência de sua preferência. Sendo a Caixa Econômica Federal e o Banco do Brasil os atuais Agentes Financeiros do Programa.

                <div class="subtitulo-etapa">
                <p class="info-etapa">Documentos necessários para esta etapa:</p>
                    <ul>
                        <li><p>• Cadastro de Pessoa Física (CPF)</p></li>
                        <li><p>• Carteira de Identidade (RG)</p></li>
                        <li><p>• Comprovante de Conclusão do Ensino Médio</p></li>
                    </ul>
                <br></br>
                <p class="info-etapa">Custos para a realização desta etapa:</p>
                    <ul>
                        <li><p>• R$ 20,00 - Taxa de emissão</p></li>
                        <li><p>• R$ 15,00 - Impressão de documentação</p></li>
                    </ul>
                    <br></br>
                <p class="info-etapa">Canais de prestação deste serviço:</p>
                    <ul>
                        <li><p>• Site: <a>www.ministerio.gov.br</a></p></li>
                        <li><p>• E-mail: <a>email@ministerio.gov.br</a></p></li>
                        <li><p>• Endereço: Rua São Joa s/n - Porto Alegre/RS - CEP 9077-540 </p>
                        </li>
                    </ul>
                </div>
                </p>
        </div>  

        <p class="separacao-orgao" th:unless="${#strings.isEmpty(servico.responsavel.nome)}">
            Este é um serviço
            <th:block th:text="${@genero.de(servico.responsavel.id)}">do(a) </th:block>
            <a th:unless="${#strings.isEmpty(servico.responsavel.nome)}"
                     th:href="@{/orgao/{id}(id=${servico.responsavel.id})}"
                     th:text="${servico.responsavel.nome}">
                Órgão responsavel
            </a><th:block th:unless="${servico.prestador == null || servico.responsavel.id == servico.prestador.id}">, prestado
                <th:block th:text="${@genero.per(servico.prestador.id)}">pelo(a)</th:block>
            <a th:unless="${#strings.isEmpty(servico.prestador.nome)}"
                     th:href="@{/orgao/{id}(id=${servico.prestador.id})}"
                     th:text="${servico.prestador.nome}">
            </a></th:block> e regido pela <a>Lei n° 13, de 11 de junho de 1948</a>.
            <p class="separacao-botoes">Em caso de dúvidas, reclamações ou sugestões, entre em contato com o órgão.</p> 
        </p>

        <a th:if="${not #strings.isEmpty(servico.url)}" class="acao-servico" th:href="${servico.url}">
            Inscreva-se no programa <i class="fa fa-calendar-o"></i></a>
        <a th:if="${not #strings.isEmpty(servico.url)}" class="acao-servico" th:href="${servico.url}">
            Simule o financiamento <i class="fa fa-calculator"></i></a>
        <a href="javascript:window.print()" class="acao-servico no-mobile">
            Imprima esta página <i class="fa fa-print"></i></a>

        <form class="feedback-servico" accept-charset="UTF-8" action="/opiniao" method="post">

            <h3 class="opiniao">Você achou as informações deste serviço úteis?</h3>

            <p class="formulario-opiniao">
                <label for="sim">Sim</label>
                <input name="conteudoEncontrado" id="sim" class="left" type="radio" value="true" required="required"/>

                <br class="clear"/>

                <label for="nao">Não</label>
                <input name="conteudoEncontrado" id="nao" class="left" type="radio" value="false"/>
            </p>

            <input name="enviar" type="submit" class="acao enviar-servico" value="ENVIAR"/>

            <input name="utf8" type="hidden" value="✓"/><!-- força utf8 -->
            <input name="url" type="hidden" th:value="${url}"/>
            <input name="busca" type="hidden" th:value="${busca}"/>
            <input name="ticket" type="hidden" th:value="${ticket}"/>
        </form>


<!--         <div th:replace="fragments/canais-de-prestacao :: .canais-de-prestacao"></div>
        <div th:replace="fragments/informacoes-uteis :: .informacoes-uteis"></div> -->

        <span class="link-github">
            <a target="_blank" th:href="${'https://github.com/servicosgovbr/cartas-de-servico/edit/master/cartas-servico/v1/servicos/' + servico.id + '.xml'}">
                <i class="fa fa-github"></i>
            </a>
        </span>
    </div>
</section>

</body>
</html>