<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Guia de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/barra-brasil.css"/>
</head>

<body>
<div th:replace="fragments/barra-brasil :: top"></div>
<div th:replace="fragments/header :: header"></div>

<div id="wrapper">
    <div id="main" role="main">
        <div id="plone-content">
            <h1 th:text="${servico.titulo}">Nome do Serviço</h1>

            <p th:text="${servico.descricao}">
                Descrição do serviço
            </p>
            
            <a th:if="${not #strings.isEmpty(servico.url)}" id="comecar" th:href="@{/navegar/{id}(id=${servico.id})}">
                Começar
            </a>
        </div>

        <div class="clear"></div>

        <div id="voltar-topo">
            <a href="#wrapper">Voltar para o topo</a>
        </div>

    </div>
</div>

<div th:replace="fragments/barra-brasil :: script"></div>
<div th:replace="fragments/barra-brasil :: footer"></div>
</body>

</html>