<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-verde">

<head>
    <title th:text="${servico.titulo}">Nome do Serviço</title>
    <meta property="og:title" th:content="${servico.titulo}"/>
</head>
<body>

<span layout:fragment="link-migalha-de-pao-pai" itemprop="title">
    <a href="/servicos">
        Serviços
    </a>
</span>

<span layout:fragment="link-migalha-de-pao">
    <a th:href="@{/servico/{id}(id=${servico.id})}" itemprop="url">
        <span th:text="${servico.titulo}" itemprop="title">Nome do Serviço</span>
    </a>
</span>

<span layout:fragment="menu-contexto"
      th:replace="fragments/informacoes-relacionadas"/>

<div layout:fragment="corpo">

    <div class="row">
        <div class="cell width-16 position-0">

            <h1 th:text="${servico.titulo}">Nome do Serviço</h1>

            <p style="white-space: pre-wrap;" th:text="${servico.descricao}">
                Descrição do serviço
            </p>

            <p th:if="${not #strings.isEmpty(servico.taxa)}">
                Valor/taxa: <span th:text="${servico.taxa}">R$ 999,99</span>
            </p>

            <a th:if="${not #strings.isEmpty(servico.url)}" class="acao acao-comecar" th:href="${servico.url}">
                Começar
            </a>

            <a th:if="${not #strings.isEmpty(servico.urlAgendamento)}" class="acao acao-agendar" th:href="${servico.urlAgendamento}">
                Agendar agora
            </a>

            <p th:unless="${#strings.isEmpty(servico.responsavel.nome)}">
                Este é um serviço <span th:text="${@genero.de(servico.responsavel.id)}">do(a)</span>
                <a th:unless="${#strings.isEmpty(servico.responsavel.nome)}"
                   th:href="@{/orgao/{id}(id=${servico.responsavel.id})}"
                   th:text="${servico.responsavel.nome}">
                    Órgão responsavel
                </a>
                <span th:unless="${servico.prestador == null || servico.responsavel.id == servico.prestador.id}">, e prestado
                <span th:text="${@genero.per(servico.prestador.id)}">pelo(a)</span>
                <a th:unless="${#strings.isEmpty(servico.prestador.nome)}"
                   th:href="@{/orgao/{id}(id=${servico.prestador.id})}"
                   th:text="${servico.prestador.nome}">
                    Órgão prestador
                </a></span>.
            </p>

            <div th:replace="fragments/canais-de-prestacao"></div>
            <div th:replace="fragments/informacoes-uteis"></div>

        </div>
    </div>
</div>

</body>
</html>
