<div class="portletWrapper">
    <dl class="portlet portletNavigationTree">
        <dt class="portletHeader">
            Acesso à Informação
        </dt>

        <dd class="portletItem lastItem">
            <ul class="navTree navTreeLevel0">

                <li class="navTreeItem visualNoMarker section-institucional">
                    <a href="/acesso-a-informacao/institucional" title="Institucional">
                        <span>Institucional</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-acoes-e-programas">
                    <a href="/acesso-a-informacao/acoes-e-programas" title="Ações e Programas">
                        <span>Ações e Programas</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-auditorias">
                    <a href="/acesso-a-informacao/auditorias" title="Auditorias">
                        <span>Auditorias</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-convenios">
                    <a href="/acesso-a-informacao/convenios" title="Convênios">
                        <span>Convênios</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-despesas">
                    <a href="/acesso-a-informacao/despesas" title="Despesas">
                        <span>Despesas</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-licitacoes-e-contratos">
                    <a href="/acesso-a-informacao/licitacoes-e-contratos"
                       title="Licitações e contratos">
                        <span>Licitações e contratos</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-servidores">
                    <a href="/acesso-a-informacao/servidores" title="Servidores">
                        <span>Servidores</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-informacoes-classificadas">
                    <a href="/acesso-a-informacao/informacoes-classificadas"
                       title="Informações classificadas">
                        <span>Informações classificadas</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-servico-informacao-cidadao-sic">
                    <a href="/acesso-a-informacao/servico-informacao-cidadao-sic"
                       title="Serviço de Informação ao Cidadão - SIC">
                        <span>Serviço de Informação ao Cidadão - SIC</span>
                    </a>
                </li>

            </ul>
        </dd>
    </dl>
</div>