<ul id="accessibility">
    <li>
        <a accesskey="1" href="#acontent" id="link-conteudo">
            Ir para o conteúdo
            <span>1</span>
        </a>
    </li>
    <li>
        <a accesskey="2" href="#anavigation" id="link-navegacao">
            Ir para o menu
            <span>2</span>
        </a>
    </li>
    <li>
        <a accesskey="3" href="#SearchableText" id="link-buscar">
            Ir para a busca
            <span>3</span>
        </a>
    </li>
    <li class="last-item">
        <a accesskey="4" href="#afooter" id="link-rodape">
            Ir para o rodapé
            <span>4</span>
        </a>
    </li>
</ul>
