<div class="portletWrapper">
    <dl class="portlet portletNavigationTree">
        <dt class="portletHeader">
            <span class="portletTopLeft"></span>
            Acesso à Informação
            <span class="portletTopRight"></span>
        </dt>

        <dd class="portletItem lastItem">
            <ul class="navTree navTreeLevel0">

                <li class="navTreeItem visualNoMarker navTreeFolderish section-institucional">
                    <a href="/acesso-a-informacao/institucional" title="Institucional"
                       class="state-published navTreeFolderish contenttype-folder">
                        <span>Institucional</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker navTreeFolderish section-acoes-e-programas">
                    <a href="/acesso-a-informacao/acoes-e-programas" title="Ações e Programas"
                       class="state-published navTreeFolderish contenttype-folder">
                        <span>Ações e Programas</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker navTreeFolderish section-auditorias">
                    <a href="/acesso-a-informacao/auditorias" title="Auditorias"
                       class="state-published navTreeFolderish contenttype-folder">
                        <span>Auditorias</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker navTreeFolderish section-convenios">
                    <a href="/acesso-a-informacao/convenios" title="Convênios"
                       class="state-published navTreeFolderish contenttype-folder">
                        <span>Convênios</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker navTreeFolderish section-despesas">
                    <a href="/acesso-a-informacao/despesas" title="Despesas"
                       class="state-published navTreeFolderish contenttype-folder">
                        <span>Despesas</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker navTreeFolderish section-licitacoes-e-contratos">
                    <a href="/acesso-a-informacao/licitacoes-e-contratos"
                       title="Licitações e contratos"
                       class="state-published navTreeFolderish contenttype-folder">
                        <span>Licitações e contratos</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker navTreeFolderish section-servidores">
                    <a href="/acesso-a-informacao/servidores" title="Servidores"
                       class="state-published navTreeFolderish contenttype-folder">
                        <span>Servidores</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker navTreeFolderish section-informacoes-classificadas">
                    <a href="/acesso-a-informacao/informacoes-classificadas"
                       title="Informações classificadas"
                       class="state-published navTreeFolderish contenttype-folder">
                        <span>Informações classificadas</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker navTreeFolderish section-servico-informacao-cidadao-sic">
                    <a href="/acesso-a-informacao/servico-informacao-cidadao-sic"
                       title="Serviço de Informação ao Cidadão - SIC"
                       class="state-published navTreeFolderish contenttype-folder">
                        <span>Serviço de Informação ao Cidadão - SIC</span>
                    </a>
                </li>

            </ul>

            <span class="portletBottomLeft"></span>
            <span class="portletBottomRight"></span>
        </dd>
    </dl>
</div>