<div id="portal-searchbox">
    <form action="/busca">
        <fieldset class="LSBox">
            <legend class="hiddenStructure">Buscar no portal</legend>
            <label class="hiddenStructure" for="buscar">Buscar no portal</label>

            <input name="q" type="text" size="18" title="Buscar no portal"
                   placeholder="Buscar no portal" class="searchField" id="buscar"/>
            <input class="searchButton" type="submit" value="Buscar no portal"/>
        </fieldset>
    </form>
</div>