<div class="portletWrapper" style="display:none">
    <dl class="portlet portletStaticText portlet-static-centrais-de-conteudos">
        <dt class="portletHeader">
            Centrais de Conteúdos
        </dt>

        <dd class="portletItem odd">
            <ul class="list-central">
                <li class="item-central item-videos first">
                    <a class="link-central link-videos internal-link" href="#" target="_self" title="">
                        Vídeos
                    </a>
                </li>
                <li class="item-central item-audios">
                    <a class="link-central link-audios internal-link" href="#" target="_self" title="">
                        Áudios
                    </a>
                </li>
                <li class="item-central item-fotos">
                    <a class="link-central link-fotos internal-link" href="#" target="_self" title="">
                        Imagens
                    </a>
                </li>
                <li class="item-central item-publicacoes">
                    <a class="link-central link-publicacoes internal-link" href="#" target="_self" title="">
                        Infográficos
                    </a>
                </li>
                <li class="item-central item-infograficos">
                    <a class="link-central link-infograficos internal-link" href="#" target="_self" title="">
                        Publicações
                    </a>
                </li>
                <li class="item-central item-aplicativos">
                    <a class="link-central link-aplicativos internal-link" href="#" target="_self" title="">
                        Aplicativos
                    </a>
                </li>
            </ul>
        </dd>
    </dl>
</div>
