<div id="navigation">
    <a name="anavigation" id="anavigation"></a>
    <span class="menuTrigger">Menu</span>

    <div id="portal-column-one" class="cell width-1:4 position-0">
        <div class="portletWrapper" th:replace="fragments2/editorias :: .portletWrapper"></div>
        <div class="portletWrapper" th:replace="fragments2/acesso-a-informacao :: .portletWrapper"></div>
        <div class="portletWrapper" th:replace="fragments2/centrais-de-conteudos :: .portletWrapper"></div>
    </div>
</div>
