<div id="content">

    <div class="row">
        <div class="cell width-16 position-0">
            <div class="tile busca-principal">
                <p>Pesquisa</p>

                <form method="get" action="/busca">
                    <input id="input-busca" type="text" name="q" value=""
                           th:autofocus="${#httpServletRequest.requestURI} eq '/tema'"/>
                    <input type="submit" value="BUSCAR"/>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="cell width-16 position-0">
            <div class="tile azul-claro">
                <div class="outstanding-header">
                    <h2 class="outstanding-title">Em destaque</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="cell width-5 position-0">
            <div th:replace="fragments2/destaque :: .tile(link='/destaque-1', titulo='Título do Destaque 1', descricao='Descrição do primeiro serviço em destaque', imagem='http://placehold.it/230x136')"></div>
        </div>

        <div class="cell width-5 position-5">
            <div th:replace="fragments2/destaque :: .tile(link='/destaque-2', titulo='Título do Destaque 2', descricao='Descrição do segundo serviço em destaque', imagem='http://placehold.it/230x136')"></div>
        </div>

        <div class="cell width-5 position-10">
            <div th:replace="fragments2/destaque :: .tile(link='/destaque-3', titulo='Título do Destaque 3', descricao='Descrição do terceiro serviço em destaque', imagem='http://placehold.it/230x136')"></div>
        </div>
    </div>

    <div class="row">
        <div class="cell width-5 position-0">
            <div th:replace="fragments2/destaque :: .tile(link='/destaque-4', titulo='Título do Destaque 4', descricao='Descrição do quarto serviço em destaque', imagem='http://placehold.it/230x136')"></div>
        </div>

        <div class="cell width-5 position-5">
            <div th:replace="fragments2/destaque :: .tile(link='/destaque-5', titulo='Título do Destaque 5', descricao='Descrição do quinto serviço em destaque', imagem='http://placehold.it/230x136')"></div>
        </div>

        <div class="cell width-5 position-10">
            <div th:replace="fragments2/destaque :: .tile(link='/destaque-6', titulo='Título do Destaque 6', descricao='Descrição do sexto serviço em destaque', imagem='http://placehold.it/230x136')"></div>
        </div>
    </div>
</div>
