<div id="content">
    <div class="row">

        <div class="cell width-16 position-0">
            <div class="tile azul-claro">
                <div class="outstanding-header">
                    <h2 class="outstanding-title">Novidades</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="cell width-16 position-0">
            <div class="tile tile-default">
                <div class="tile-content">
                    <p class="tile-subtitle">Novo serviços.gov.br</p>

                    <h1>
                        <a href="/" title="">
                            Bem-vindo ao novo Guia de Serviços!
                        </a>
                    </h1>

                    <a class="imag" href="/" title="">
                        <img alt="Novo Guia de Serviços"
                             src="http://placehold.it/750x320"
                             width="750" height="320" class="right"/></a>

                    <p class="tile-description">
                        Nova estrutura oferece maior comodidade ao cidadão e mecanismo de busca refinado.
                    </p>

                    <div class="visualClear"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="cell width-16 position-0">
            <div class="tile azul-claro">
                <div class="outstanding-header">
                    <h2 class="outstanding-title">Em destaque</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="cell width-5 position-0">
            <div class="tile tile-default">
                <div class="tile-content">
                    <a class="imag"
                       href="/destaque-1"
                       title="">
                        <img alt=""
                             src="http://placehold.it/230x136"
                             width="230" height="136" class="left"/></a>

                    <h2 class="titulo-destaque">
                        <a href="/destaque-1" title="">
                            Título do Destaque 1
                        </a>
                    </h2>

                    <p class="tile-description">
                        Descrição do primeiro serviço em destaque
                    </p>

                    <div class="visualClear"></div>
                </div>
            </div>
        </div>

        <div class="cell width-5 position-5">
            <div class="tile tile-default">
                <div class="tile-content">
                    <a class="imag"
                       href="/destaque-2"
                       title="">
                        <img alt=""
                             src="http://placehold.it/230x136"
                             width="230" height="136" class="left"/></a>

                    <h2 class="titulo-destaque">
                        <a href="/destaque-2" title="">
                            Título do Destaque 2
                        </a>
                    </h2>

                    <p class="tile-description">
                        Descrição do segundo serviço em destaque
                    </p>

                    <div class="visualClear"></div>
                </div>
            </div>
        </div>

        <div class="cell width-5 position-10">
            <div class="tile tile-default">
                <div class="tile-content">
                    <a class="imag"
                       href="/destaque-3"
                       title="">
                        <img alt=""
                             src="http://placehold.it/230x136"
                             width="230" height="136" class="left"/></a>

                    <h2 class="titulo-destaque">
                        <a href="/destaque-3" title="">
                            Título do Destaque 3
                        </a>
                    </h2>

                    <p class="tile-description">
                        Descrição do terceiro serviço em destaque
                    </p>

                    <div class="visualClear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
