<div id="content">
    <div class="row" data-layout-type="row">

        <div class="cell width-16 position-0 " data-panel="">
            <div class="tile azul-claro">
                <div class="outstanding-header">
                    <h2 class="outstanding-title">Portal Padrão</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-layout-type="row">
        <div class="cell width-16 position-0 " data-panel="">
            <div class="tile tile-default">
                <div class="tile-content">
                    <p class="tile-subtitle">Identidade Digital de Governo</p>

                    <h1>
                        <a href="/conteudos-de-marcacao/site-secom-portal-do-planalto-e-portal-brasil-adotam-nova-identidade-digital"
                           title="Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de informações nos mais variados formatos; conheça todos os detalhes do modelo">Site
                            Secom, Portal do Planalto e Portal Brasil adotam nova identidade
                            digital</a>
                    </h1>

                    <a class="imag"
                       href="/conteudos-de-marcacao/site-secom-portal-do-planalto-e-portal-brasil-adotam-nova-identidade-digital"
                       title="Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de informações nos mais variados formatos; conheça todos os detalhes do modelo">
                        <img alt="Site Secom, Portal do Planalto e Portal Brasil adotam nova identidade digital"
                             src="http://placehold.it/750x320"
                             width="750" height="320" class="right"/></a>

                    <p class="tile-description">Estrutura reúne o que há de mais adequado em
                        soluções digitais de acessibilidade e de divulgação de informações nos
                        mais variados formatos; conheça todos os detalhes do modelo</p>

                    <div class="visualClear"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-layout-type="row">
        <div class="cell width-5 position-0 " data-panel="">
            <div class="tile azul-claro">
                <div class="outstanding-header">
                    <h2 class="outstanding-title">Guia de Estilo</h2>
                </div>
            </div>

            <div class="tile tile-default">
                <div class="cover-richtext-tile tile-content">
                    <p><a href="http://portalpadrao.plone.org.br/manuais"
                          data-mce-href="http://portalpadrao.plone.org.br/manuais" title=""
                          target="_self" style="" class="external-link">Conheça o guia visual
                        que oferece as informações necessárias para correta replicação.</a></p>
                </div>
            </div>

            <div class="tile azul-claro">
                <div class="outstanding-header">
                    <a class="outstanding-link" href="">Acesse os manuais de Comunicação Digital</a>
                </div>
            </div>

            <div class="tile azul-claro">
                <div class="outstanding-header">
                    <h2 class="outstanding-title">Novo Release</h2>
                </div>
            </div>

            <div class="tile tile-default">
                <div class="cover-richtext-tile tile-content">
                    <p><a class="external-link"
                          href="https://pypi.python.org/pypi/brasil.gov.portal" style=""
                          target="_self" title=""
                          data-mce-href="https://pypi.python.org/pypi/brasil.gov.portal"
                          data-mce-style="">Está disponível nova versão do release do Portal
                        Padrão.</a></p>
                </div>
            </div>

            <div class="tile azul-claro">
                <div class="outstanding-header">
                </div>
            </div>

        </div>

        <div class="cell width-5 position-5 " data-panel="">
            <div class="tile lista-vertical">
                <div class="cover-collection-tile">
                    <div class="tile-header">
                        <span>Últimos textos</span>
                    </div>

                    <div class="collection-item">
                        <h3>
                            <a href="/conteudos-de-marcacao/saiba-como-montar-o-menu-da-lei-de-acesso-a-informacao"
                               title="Órgãos do governo federal devem disponibilizar em seu site um menu especificado pela LAI">Saiba
                                como montar o menu da Lei de Acesso à Informação</a>
                        </h3>

                        <div class="visualClear"></div>
                    </div>

                    <div class="collection-item">
                        <h3>
                            <a href="/conteudos-de-marcacao/site-secom-portal-do-planalto-e-portal-brasil-adotam-nova-identidade-digital"
                               title="Estrutura reúne o que há de mais adequado em soluções digitais de acessibilidade e de divulgação de informações nos mais variados formatos; conheça todos os detalhes do modelo">Site
                                Secom, Portal do Planalto e Portal Brasil adotam nova identidade
                                digital</a>
                        </h3>

                        <div class="visualClear"></div>
                    </div>

                    <div class="collection-item">
                        <h3>
                            <a href="/conteudos-de-marcacao/texto-5-titulo-da-noticia-entre-35-e-90-caracteres"
                               title="Subtítulo do texto 5. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres">Texto
                                5 - Título da notícia entre 35 e 90 caracteres</a>
                        </h3>

                        <div class="visualClear"></div>
                    </div>

                    <div class="collection-item">
                        <h3>
                            <a href="/conteudos-de-marcacao/texto-4-titulo-da-noticia-entre-35-e-90-caracteres"
                               title="Subtítulo do texto 4. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres">Texto
                                4 - Título da notícia entre 35 e 90 caracteres</a>
                        </h3>

                        <div class="visualClear"></div>
                    </div>

                    <div class="collection-item">
                        <h3>
                            <a href="/conteudos-de-marcacao/texto-3-titulo-da-noticia-entre-35-e-90-caracteres"
                               title="Subtítulo do texto 3. Se em uma linha, usar 90 caracteres. Se em duas linhas usar 190 caracteres">Texto
                                3 - Título da notícia entre 35 e 90 caracteres</a>
                        </h3>

                        <div class="visualClear"></div>
                    </div>

                    <div class="tile-footer">
                        <a href="/conteudos-de-marcacao/ultimas-noticias">acesse a lista de
                            textos</a>
                    </div>

                    <div class="visualClear"></div>

                </div>
            </div>
        </div>

        <div class="cell width-5 position-10 " data-panel="">
            <div class="tile tile-default">
                <div class="agenda-tile tile-content">
                    <h2 class="title">Agenda da autoridade</h2>

                    <p class="period"><strong>20 de fevereiro de 2015</strong></p>

                    <div class="latest-update"></div>
                    <div class="no-events">Atualmente não existem compromissos agendados.</div>
                    <div class="agenda-tile-footer">
                        <a href="http://tv1-lnx-04.grupotv1.com/agenda-de-autoridade/agenda-de-autoridade">Acesse
                            a agenda da autoridade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-layout-type="row">
        <div class="cell width-16 position-0 " data-panel="">
            <div class="tile azul-claro">
                <div class="outstanding-header">
                    <h2 class="outstanding-title">Programas</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-layout-type="row">
        <div class="cell width-5 position-0 " data-panel="">
            <div class="tile tile-default">
                <div class="tile-content">
                    <a class="imag"
                       href="/conteudos-de-marcacao/texto-3-titulo-da-noticia-entre-35-e-90-caracteres"
                       title="Subtítulo do texto 3. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">
                        <img alt="Texto 3: Título da manchete em até 55 caracteres com espaço"
                             src="http://placehold.it/230x136"
                             width="230" height="136" class="left"/></a>

                    <h2>
                        <a href="/conteudos-de-marcacao/texto-3-titulo-da-noticia-entre-35-e-90-caracteres"
                           title="Subtítulo do texto 3. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">Texto
                            3: Título da manchete em até 55 caracteres com espaço</a>
                    </h2>

                    <p class="tile-description">Subtítulo do texto 3. Escrever texto do
                        subtítulo da chamada em até 130 caracteres com espaço</p>

                    <div class="visualClear"></div>
                </div>
            </div>
        </div>

        <div class="cell width-5 position-5 " data-panel="">
            <div class="tile verde">
                <div class="tile-content">
                    <a class="imag"
                       href="/conteudos-de-marcacao/texto-4-titulo-da-noticia-entre-35-e-90-caracteres"
                       title="Subtítulo do texto 4. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">
                        <img alt="Texto 4: Título da manchete em até 55 caracteres com espaço"
                             src="http://placehold.it/230x136"
                             width="230" height="136" class="left"/></a>

                    <h2>
                        <a href="/conteudos-de-marcacao/texto-4-titulo-da-noticia-entre-35-e-90-caracteres"
                           title="Subtítulo do texto 4. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">Texto
                            4: Título da manchete em até 55 caracteres com espaço</a>
                    </h2>

                    <p class="tile-description">Subtítulo do texto 4. Escrever texto do
                        subtítulo da chamada em até 130 caracteres com espaço</p>

                    <div class="visualClear"></div>

                </div>
            </div>
        </div>

        <div class="cell width-5 position-10 " data-panel="">
            <div class="tile laranja">
                <div class="tile-content">
                    <a class="imag"
                       href="/conteudos-de-marcacao/texto-5-titulo-da-noticia-entre-35-e-90-caracteres"
                       title="Subtítulo do texto 5. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">
                        <img alt="Texto 5: Título da manchete em até 55 caracteres com espaço"
                             src="http://placehold.it/230x136"
                             width="230" height="136" class="left"/></a>

                    <h2>
                        <a href="/conteudos-de-marcacao/texto-5-titulo-da-noticia-entre-35-e-90-caracteres"
                           title="Subtítulo do texto 5. Escrever texto do subtítulo da chamada em até 130 caracteres com espaço">Texto
                            5: Título da manchete em até 55 caracteres com espaço</a>
                    </h2>

                    <p class="tile-description">Subtítulo do texto 5. Escrever texto do
                        subtítulo da chamada em até 130 caracteres com espaço</p>

                    <div class="visualClear"></div>

                </div>
            </div>
        </div>
    </div>
</div>
