<div class="portletWrapper">
    <dl class="portlet portletNavigationTree">
        <dt class="portletHeader">
            Assuntos
        </dt>

        <dd class="portletItem lastItem">
            <ul class="navTree navTreeLevel0">
                <li class="navTreeItem visualNoMarker ">

                    <a href="/assuntos/editoria-a" title="Editoria A">
                        <span>Editoria A</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-editoria-b">
                    <a href="/assuntos/editoria-b" title="Editoria B">
                        <span>Editoria B</span>
                    </a>
                </li>

                <li class="navTreeItem visualNoMarker section-editoria-c">
                    <a href="/assuntos/editoria-c" title="Editoria C">
                        <span>Editoria C</span>
                    </a>
                </li>
            </ul>
        </dd>
    </dl>
</div>
