<div id="header" role="banner">
    <div>
        <ul id="accessibility" th:replace="fragments2/acessibilidade :: #accessibility"></ul>
        <ul id="portal-siteactions" th:replace="fragments2/atalhos-teclado :: #portal-siteactions"></ul>
        <div id="logo" th:replace="fragments2/logo :: #logo"></div>
        <div id="portal-searchbox" th:replace="fragments2/busca :: #portal-searchbox"></div>
        <div id="social-icons" th:replace="fragments2/redes-sociais :: #social-icons"></div>
    </div>

    <div id="sobre" th:replace="fragments2/barra-servicos :: #sobre"></div>
</div>
