<div id="social-icons" style="display:none">
    <ul>
        <li id="portalredes-facebook" class="portalredes-item">
            <a href="http://facebook.com/facebook">Facebook</a>
        </li>
        <li id="portalredes-googleplus" class="portalredes-item">
            <a href="http://plus.google.com/google+">Google+</a>
        </li>
        <li id="portalredes-instagram" class="portalredes-item">
            <a href="http://instagram.com/instagram">Instagram</a>
        </li>
        <li id="portalredes-tumblr" class="portalredes-item">
            <a href="http://thumblr.tumblr.com/">Thumblr</a>
        </li>
        <li id="portalredes-twitter" class="portalredes-item">
            <a href="https://twitter.com/twiiter">Twitter</a>
        </li>
        <li id="portalredes-youtube" class="portalredes-item">
            <a href="http://youtube.com/youtube">YouTube</a>
        </li>
        <li id="portalredes-flickr" class="portalredes-item">
            <a href="http://flickr.com/flickr">Flickr</a>
        </li>
        <li id="portalredes-soundcloud" class="portalredes-item">
            <a href="http://soundcloud.com/soundcloud">SoundCloud</a>
        </li>
        <li id="portalredes-slideshare" class="portalredes-item">
            <a href="http://slideshare.com/slideshare">Slideshare</a>
        </li>
        <li id="portalredes-rss" class="portalredes-item last-item">
            <a href="http://tv1-lnx-04.grupotv1.com/rss">RSS</a>
        </li>
    </ul>
</div>
