<div id="footer" role="contentinfo">
    <a name="afooter" id="afooter"></a>

    <div id="doormat-container" class="columns-4">

        <div class="doormatColumn column-0">

            <dl class="doormatSection">
                <dt class="doormatSectionHeader">Assuntos</dt>
                <dd class="doormatSectionBody">
                    <a href="/assuntos/editoria-a" class="external-link">Editoria A</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/assuntos/editoria-b" class="external-link">Editoria B</a>
                </dd>
                <dd class="doormatSectionBody">
                    <a href="/assuntos/editoria-c" class="external-link">Editoria C</a>
                </dd>
            </dl>
        </div>

        <div class="doormatColumn column-1">

            <dl class="doormatSection">
                <dt class="doormatSectionHeader">Serviços</dt>
                <dd class="doormatSectionBody">
                    <a href="/sobre/perguntas-frequentes" class="external-link">Perguntas frequentes</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/fale-conosco" class="external-link">Contato</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/acesso-a-sistemas" class="external-link">Serviços da [Denominação]</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/dados-abertos" class="external-link">Dados abertos</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/area-imprensa" class="external-link">Área de imprensa</a>
                </dd>
            </dl>
        </div>

        <div class="doormatColumn column-2">
            <dl class="doormatSection">
                <dt class="doormatSectionHeader">Redes sociais</dt>
                <dd class="doormatSectionBody">
                    <a href="https://twitter.com/twitter" class="external-link">Twitter</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="http://youtube.com/youtube" class="external-link">YouTube</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="http://www.facebook.com/facebook" class="external-link">Facebook</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="http://flickr.com/flickr" class="external-link">Flickr</a>
                </dd>
            </dl>
        </div>

        <div class="doormatColumn column-3">
            <dl class="doormatSection">
                <dt class="doormatSectionHeader">RSS</dt>
                <dd class="doormatSectionBody">
                    <a href="/rss/o-que-e" class="external-link">O que é?</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/assine-rss" class="external-link">Assine</a>
                </dd>
            </dl>

            <dl class="doormatSection">
                <dt class="doormatSectionHeader">Navegação</dt>
                <dd class="doormatSectionBody">
                    <a href="/acessibilidade" class="external-link">Acessibilidade</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/sitemap" class="external-link">Mapa do site</a>

                </dd>

                <dd class="doormatSectionBody">
                    <a href="/" class="external-link">Versión en Español</a>
                </dd>

                <dd class="doormatSectionBody">
                    <a href="/" class="external-link">English version</a>
                </dd>
            </dl>
        </div>
    </div>

    <div class="clear"></div>
    <div id="footer-brasil"></div>
</div>